<!DOCTYPE html>
<html>
<head>
    <title>Show Reports</title>
    <link rel='stylesheet' href='/stylesheets/showReports.css' />
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery.tablesorter.js"></script>

    <script type = "text/javascript">
        $(document).ready(function()
                {
                    $("#myTable").tablesorter();
                }
        );
    </script>

</head>
<body>
<h1><%= title %></h1>

    <table id="myTable" class="tablesorter" width="70%" style="float: left ">
        <caption>
            TIP! Sort multiple columns simultaneously by holding down the shift key and clicking a second column header!
        </caption>
        <thead>
        <tr>
            <th>Date Time</th>
            <th>Type</th>
            <th>Alert</th>
            <th>Sent by</th>
            <th width="25%">Successful</th>
            <th>Viewed by</th>
            <th>Details</th>
            <th>Status</th>
            <th>Delete <input type="checkbox"
                              name="S"
                              id="S"
                              class="chk-all"
                              data-child="S"/> </th>
        </tr>
        <tbody>
        <% reportSent.forEach(function(reportS) { %>
        <% if ( reportS.status == "re-open"){ %>
        <tr bgcolor="#FFF">
            <td><%= reportS.time %></td>
            <td><%= reportS.alertTypeName %></td>
            <td><%= reportS.alertName %></td>
            <td><%= reportS.sentBy %></td>
            <td><a href="/reports/showReportsReceived/<%= reportS.id %>"><%= reportS.successful %></a></td>
            <td><a href="/reports/showReportsReceived/<%= reportS.id %>"><%= reportS.readBy %></a></td>
            <td><a href="/reports/showReportsDetails/<%= reportS.id %>">show</a></td>
            <td><a href="/reports/showReports"><%= reportS.status %></a></td>
            <td align="center">
                <% if (aclDeleteReports == null || aclDeleteReports.checkBoxValue == true) {%>
                <a href="/reports/showReports"><button class="inTable">delete</button></a>
                <% } else { %>
                <a href="/reports/showReports"><button class="inTable" disabled>delete</button></a>
                <% } %>
            </td>
        </tr>
        <% } else { %>

        <tr bgcolor="#adff2f">
            <td><%= reportS.time %></td>
            <td><%= reportS.alertTypeName %></td>
            <td><%= reportS.alertName %></td>
            <td><%= reportS.sentBy %></td>
            <td><a href="/reports/showReportsReceived/<%= reportS.id %>"><%= reportS.successful %></a></td>
            <td><a href="/reports/showReportsReceived/<%= reportS.id %>"><%= reportS.readBy %></a></td>
            <td><a href="/reports/showReportsDetails/<%= reportS.id %>">show</a></td>
            <td>
                <% if (aclClearReports == null || aclClearReports.checkBoxValue == true) {%>
                <a href="/reports/showReports"><button class="inTable"><%= reportS.status %></button></a>
                <% } else { %>
                <a href="/reports/showReports"><button class="inTable" disabled><%= reportS.status %></button></a>
                <% } %>
            </td>
            <td align="center">
                <% if (aclDeleteReports == null || aclDeleteReports.checkBoxValue == true) {%>
                <a href="/reports/showReports"><button class="inTable">delete</button></a>
                <% } else { %>
                <a href="/reports/showReports"><button class="inTable" disabled>delete</button></a>
                <% } %>
            </td>
        </tr>

        <% }}); %>
        </tbody>
    </table>

    <table width="25%" style="float: right">
        <tr>
            <th>Average Users time to view Alerts</th>
        </tr>
        <tr bgcolor="#FFF">
            <td>11 sec.</td>
        </tr>
    </table><br><br><br><br><br><br><br><br>

    <table width="25%" style="float: right">
        <tr>
            <th>Fastest User to view Alerts</th>
            <th>Average time</th>
        </tr>
        <tr bgcolor="#FFF">
            <td>Susana Jones</td>
            <td>4 sec</td>
        </tr>
    </table><br><br><br><br><br><br><br><br>

    <table width="25%" style="float: right">
        <tr>
            <th>Slowest User to view Alerts</th>
            <th>Average time</th>
        </tr>
        <tr bgcolor="#FFF">
            <td>Anna Frank</td>
            <td>3 hours</td>
        </tr>
    </table>



<form action="/dashboard">
    <input type="submit" value="Back"><br><br>
</form>
</body>
</html>
