
<html lang="en">
<head>


    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">
    <link href="/public/stylesheets/addUtility.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




    <script>
        //Request calling 911
        let choices;
        function selectUser(select)
        {
            var option = select.options[select.selectedIndex];
            var ul = select.parentNode.getElementsByTagName('ul')[0];
            choices = ul.getElementsByTagName('input');

            for (var i = 0; i < choices.length; i++) {
                if (choices[i].value == option.value){
                    return;
                }
            }

            var li = document.createElement('li');
            var input = document.createElement('input');
            var text = document.createTextNode(option.firstChild.data);

            input.type = 'hidden';
            input.name = 'users[]';
            input.value = option.value;

            li.appendChild(input);
            li.appendChild(text);
            li.setAttribute('onclick', 'this.parentNode.removeChild(this);');

            ul.appendChild(li);
        }
        //end of Request calling 911


        $(document).ready(function(){

            var select = '';
            var myArray = $("#inUseAlertGroupID").val().split(",").map(Number);
            for (var i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1){
                    select += '<option val=' + i + '>' + i + '</option>';
                }
            }
            $('#some_select').html(select);


            var stepNumber,redirectAPI,redirectEJS,pageToReturn;
            $("#btSubmit").click(function(){
                stepNumber=$("#some_select").val();
                redirectAPI=$("#redirectAPI").val();
                redirectEJS=$("#redirectEJS").val();
                pageToReturn=$("#pageToReturn").val();

                let arrayFunctions = [];
                if(typeof choices !== 'undefined' && choices && choices.length > 0 ) {

                    for (var a = 0; a < choices.length; a++) {
                        arrayFunctions.push(choices[a].value);
                    }
                }

                //-----forms validation------------------------------------
                /*
                if (redirectAPI == null ) {
                    alert("redirectAPI must be filled out");
                    return false;
                }
                if (redirectEJS == null ) {
                    alert("redirectEJS must be filled out");
                    return false;
                }
                */
                /*strange behaviour when saving and radio smecs == true and no user is in arrayUsers.
                 Its s adding 1 user in arrayUsers(arrayUsers[0] == "").
                 Following "if" is to delete this user */
                /*
                if(arrayUsers.length == 1 && arrayUsers[0] == ""){
                    var index = arrayUsers.indexOf(5);
                    arrayUsers.splice( index, 1 );
                }
                */
                //--------------------------------forms validation end-------

                $.post("/AlertRoadStep",{
                    stepNumber: stepNumber,
                    functions: arrayFunctions,
                    redirectAPI: redirectAPI,
                    redirectEJS: redirectEJS,
                    pageToReturn: pageToReturn

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Step Number already in use. Choose a different Number.")
                });
            });
        });
    </script>


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ./../../../../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ./../../../../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ./../../../../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="page-title">
                <div class="title_left">
                    <h3>Create Step</h3>
                </div>



                <div class="title_right">

                    <div class="pull-left">
                        <button type="button"
                                id="btSubmit"
                                value="Submit"
                                class="btn btn-success">Save
                        </button>
                        <a href="/alerts/showRoad/<%= pageToReturn %>"><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>



            <input type="hidden" id="pageToReturn" value="<%= pageToReturn %>">

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Information</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left input_mask">

                                <input type="hidden" id="inUseAlertGroupID" value="<%= array %>">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Step Number:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id='some_select' class="form-control"></select>
                                    </div>
                                </div>
                                <br>

                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Functions:</label>
                                <div id="smecsUserDiv" class="enable" style="margin-left: 27%">

                                    <ul id="smecsUserUl" class="enable">

                                    </ul>

                                    <select class="enable" id="smecsUserSelect" onchange="selectUser(this);">
                                        <!–– <option selected disabled hidden> -- select a function -- </option> ––>
                                        <option disabled selected value> -- select a function -- </option>
                                        <% functions.forEach(function(func) { %>
                                            <option value="<%= func.functionName %>"><%= func.functionName %></option>
                                        <% }); %>
                                    </select>
                                    <img id="imgAdd" class="enable" src="/miscPictures/add.png" alt="Add" style="vertical-align: middle;" onclick="selectUser($(this).prev().get(0));">
                                    <br><br>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">RedirectAPI:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id='redirectAPI' class="form-control">
                                            <option disabled selected value> -- select a API redirection from dropdown list -- </option>
                                            <% redirections.forEach(function(redirectTo) { %>
                                                <option value="<%= redirectTo.redirectAPI %>" ><%= redirectTo.redirectAPI %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">RedirectEJS:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id='redirectEJS' class="form-control">
                                            <option disabled selected value> -- select a EJS redirection from dropdown list -- </option>
                                            <% redirections.forEach(function(redirectTo) { %>
                                                <option value="<%= redirectTo.redirectEJS %>" ><%= redirectTo.redirectEJS %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>



                            </form>
                            <div class="ln_solid"></div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <!-- /page content -->

    </div>
</div>


<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.min.js"></script>


</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ./../../../../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>