
<html lang="en">
<head>


    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">
    <link href="/public/stylesheets/addUtility.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




    <script>
        //Request calling 911
        let choices;
        function selectUser(select)
        {
            var option = select.options[select.selectedIndex];
            var ul = select.parentNode.getElementsByTagName('ul')[0];
            choices = ul.getElementsByTagName('input');

            for (var i = 0; i < choices.length; i++) {
                if (choices[i].value == option.value){
                    return;
                }
            }

            var li = document.createElement('li');
            var input = document.createElement('input');
            var text = document.createTextNode(option.firstChild.data);

            input.type = 'hidden';
            input.name = 'users[]';
            input.value = option.value;

            li.appendChild(input);
            li.appendChild(text);
            li.setAttribute('onclick', 'this.parentNode.removeChild(this);');

            ul.appendChild(li);
        }
        var usersToRemove = [];
        function removeUser(user){
            var choice = user.getElementsByTagName('input');
            usersToRemove.push(choice[0].value);
        }
        //end of Request calling 911


        $(document).ready(function(){

            var oldAlertID = $("#oldAlertID").val();
            var select = '';
            var myArray = $("#inUseAlertGroupID").val().split(",").map(Number);
            for (var i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1 || i == oldAlertID){
                    if(i == oldAlertID){
                        select += '<option val=' + i + ' selected="selected">' + i + '</option>';
                    }else{
                        select += '<option val=' + i + '>' + i + '</option>';
                    }
                }
            }
            $('#some_select').html(select);


            let stepNumber,redirectAPI,redirectEJS,pageToReturn,oldStep;
            $("#btSubmit").click(function(){
                stepNumber=$("#some_select").val();
                redirectAPI=$("#redirectAPI").val();
                redirectEJS=$("#redirectEJS").val();
                pageToReturn=$("#pageToReturn").val();
                oldStep=$("#oldAlertID").val();

                let arrayFunctions = [];
                if (choices === undefined){
                    arrayFunctions = $("#savedValueFunctions").val().split(",");
                    for (var a = 0; a < usersToRemove.length; a++) {
                        for (var i = 0; i < arrayFunctions.length; i++) {
                            if (usersToRemove[a] == arrayFunctions[i]){
                                arrayFunctions.splice(i, 1);
                            }
                        }
                    }
                } else {
                    if(choices.length > 0) {
                        for (var a = 0; a < choices.length; a++) {
                            arrayFunctions.push(choices[a].value);
                        }
                    }
                }

                //-----forms validation------------------------------------

                /*strange behaviour when saving and radio smecs == true and no user is in arrayUsers.
                 Its s adding 1 user in arrayUsers(arrayUsers[0] == "").
                 Following "if" is to delete this user */
                if(arrayFunctions.length == 1 && arrayFunctions[0] == ""){
                    let index = arrayFunctions.indexOf(5);
                    arrayFunctions.splice( index, 1 );
                }

                //--------------------------------forms validation end-------

                $.post("/AlertRoadStep/update",{
                    oldStep: oldStep,
                    stepNumber: stepNumber,
                    functions: arrayFunctions,
                    redirectAPI: redirectAPI,
                    redirectEJS: redirectEJS,
                    pageToReturn: pageToReturn

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Step Number already in use. Choose a different Number.")
                });
            });
        });
    </script>


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ./../../../../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ./../../../../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ./../../../../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="page-title">
                <div class="title_left">
                    <h3>Update Step</h3>
                </div>



                <div class="title_right">

                    <div class="pull-left">
                        <button type="button"
                                id="btSubmit"
                                value="Submit"
                                class="btn btn-success">Save
                        </button>
                        <a href="/alerts/showRoad/<%= pageToReturn %>"><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>


            <input type="hidden" id="oldAlertID" value="<%= stepValues.step %>">
            <input type="hidden" id="savedValueFunctions" value="<%= stepValues.callFunction %>">
            <input type="hidden" id="pageToReturn" value="<%= pageToReturn %>">

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Information</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left input_mask">

                                <input type="hidden" id="inUseAlertGroupID" value="<%= array %>">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Step Number:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id='some_select' class="form-control"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">RedirectAPI:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id='redirectAPI' class="form-control">
                                            <% redirections.forEach(function(redirectTo) { %>
                                            <%if (redirectTo.redirectAPI == stepValues.redirectAPI) { %>
                                                <option value="<%= redirectTo.redirectAPI %>" selected><%= redirectTo.redirectAPI %></option>
                                            <% }else {%>
                                                <option value="<%= redirectTo.redirectAPI %>"><%= redirectTo.redirectAPI %></option>
                                            <% } %>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">RedirectEJS:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id='redirectEJS' class="form-control">
                                            <% redirections.forEach(function(redirectTo) { %>
                                            <%if (redirectTo.redirectEJS == stepValues.redirectEJS) { %>
                                                <option value="<%= redirectTo.redirectEJS %>" selected><%= redirectTo.redirectEJS %></option>
                                            <% }else {%>
                                                <option value="<%= redirectTo.redirectEJS %>"><%= redirectTo.redirectEJS %></option>
                                            <% } %>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>


                                <div id="smecsUserDiv" class="enable">
                                    <label for="smecsUserLabel" id="smecsUserLabel" class="enable" style="margin-left: 10px">Functions:</label><br>

                                    <ul id="smecsUserUl" class="enable">
                                        <% for (var a = 0; a < stepValues.callFunction.length; a++) { %>
                                            <li id="user1" onclick="this.parentNode.removeChild(this); removeUser(this)">
                                                <input type="hidden" name="users[]" value="<%= stepValues.callFunction[a] %>" />
                                                <%= stepValues.callFunction[a] %>
                                            </li>
                                        <% } %>
                                    </ul>

                                    <select class="enable" id="smecsUserSelect" onchange="selectUser(this);">
                                        <!–– <option selected disabled hidden> -- select a function -- </option> ––>
                                        <option disabled selected value> -- select a function -- </option>
                                        <% functions.forEach(function(func) { %>
                                            <option value="<%= func.functionName %>"><%= func.functionName %></option>
                                        <% }); %>
                                    </select>
                                    <img id="imgAdd" class="enable" src="/miscPictures/add.png" alt="Add" style="vertical-align: middle;" onclick="selectUser($(this).prev().get(0));">
                                    <br><br>
                                </div>





                            </form>
                            <div class="ln_solid"></div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <!-- /page content -->

    </div>
</div>


<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.min.js"></script>


</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ./../../../../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>