    <title>Show Roles</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script> 
    <link href="/public/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet">
    <script type = "text/javascript">
        $(document).ready(function()
        {
            $("#myTable").tablesorter();
        }
    );
    $("#role2Link").live("click", function () {
        $.ajax({
            url: '/roles2/showRoles2',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            
            error: function(error){
                if(error.responseText == 'showAlert')
                alert("Role Name or ROLE ID already already in use. Choose a different Name or number between 0 and 99.")
            }
        });
    });
    </script>

</head>
<% include ../headers/header.ejs %>
<div class="right_col" role="main">
  <div class="clearfix"></div>  
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">

<h1><%= title %></h1>
<div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab_content1" role="tab" data-toggle="tab" aria-expanded="true">Roles</a>
      </li>
      <li role="presentation" class=""><a href="#tab_content2" role="tab" data-toggle="tab" aria-expanded="false">Privileges</a>
      </li>
    </ul>
  </div>
  <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1">
<form action="/roles2/addRole2">
    <% if (aclAddRoles2 == null || aclAddRoles2.checkBoxValue == true) {%>
    <button class="btn btn-primary" type="submit" value="Add Role">Add Role</button><br><br>
    <% } else { %>
    <button class="btn btn-primary" type="submit" value="Add Role" disabled>Add Role</button><br><br>
    <% } %>
</form>
<table id="datatable" class="table table-hover">
    <thead>
        <tr>
            <th>Sort #</th>
            <th>Role Name</th>
            <% if (userAuthID == 1) {%>
            <th>Role ID</th>
            <% } %>
            <th>Update</th>
            <th>Delete</th>

        </tr>
    <tbody>
        <% roles2.forEach(function(role2) { %>
            <tr>
                <td><%= role2.sortID %></td>
                <td><%= role2.roleName %></td>
                <% if (userAuthID == 1) {%>
                <td><%= role2.roleID %></td>
                <% } %>
                <td>
                    <% if (aclModifyRoles2 == null || aclModifyRoles2.checkBoxValue == true) {%>
                    <a href="/roles2/updateRole2/<%= role2.id %>"><button class="btn btn-primary">update</button></a>
                    <% } else { %>
                    <a href="/roles2/updateRole2/<%= role2.id %>"><button class="btn btn-primary" disabled>update</button></a>
                    <% } %>
                </td>
                <td>
                    <% if (aclDeleteRoles2 == null || aclDeleteRoles2.checkBoxValue == true) {%>
                    <a href="/roles2/showRoles2/<%= role2.id %>" id="roleLink"><button class="btn btn-primary">delete</button></a>
                    <% } else { %>
                    <a href="/roles2/showRoles2/<%= role2.id %>" id="role2Link"><button class="btn btn-primary" disabled>delete</button></a>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>
</div>
<div role="tabpanel" class="tab-pane fade" id="tab_content2">

</div>
</div>
</div>
</div>
</div>
</div>

<% include ../footers/footer.ejs %>
