<!DOCTYPE html>
<html>
<head>
    <title>Show Roles</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery.tablesorter.js"></script>

    <script type = "text/javascript">
        $(document).ready(function()
                {
                    $("#myTable").tablesorter();
                }
        );
        $("#role2Link").live("click", function () {
            $.ajax({
                url: '/roles2/showRoles2',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',

                error: function(error){
                    if(error.responseText == 'showAlert')
                        alert("Role Name or ROLE ID already already in use. Choose a different Name or number between 0 and 99.")
                }
            });
        });
    </script>

</head>
<body>
<h1><%= title %></h1>

<form action="/roles2/addRole2">
    <% if (aclAddRoles2 == null || aclAddRoles2.checkBoxValue == true) {%>
    <input type="submit" value="Add Role"><br><br>
    <% } else { %>
    <input type="submit" value="Add Role" disabled><br><br>
    <% } %>
</form>
<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            <th>Sort #</th>
            <th>Role Name</th>
            <% if (userAuthID == 1) {%>
            <th>Role ID</th>
            <% } %>
            <th>Update</th>
            <th>Delete</th>

        </tr>
    <tbody>
        <% roles2.forEach(function(role2) { %>
            <tr>
                <td><%= role2.sortID %></td>
                <td><%= role2.roleName %></td>
                <% if (userAuthID == 1) {%>
                <td><%= role2.roleID %></td>
                <% } %>
                <td>
                    <% if (aclModifyRoles2 == null || aclModifyRoles2.checkBoxValue == true) {%>
                    <a href="/roles2/updateRole2/<%= role2.id %>"><button>update</button></a>
                    <% } else { %>
                    <a href="/roles2/updateRole2/<%= role2.id %>"><button disabled>update</button></a>
                    <% } %>
                </td>
                <td>
                    <% if (aclDeleteRoles2 == null || aclDeleteRoles2.checkBoxValue == true) {%>
                    <a href="/roles2/showRoles2/<%= role2.id %>" id="roleLink"><button>delete</button></a>
                    <% } else { %>
                    <a href="/roles2/showRoles2/<%= role2.id %>" id="role2Link"><button disabled>delete</button></a>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table><br>



<form action="/dashboard">
    <input type="submit" value="Back">
</form>
</body>
</html>
