<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- NProgress -->
    <link href="/public/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/public/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">


            <!-- menu profile quick info -->
            <% include ../layout/menuProfile.ejs %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../layout/sideMenu.ejs %>
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <title>Show Roles</title>
        <div class="right_col" role="main">
          <div class="clearfix"></div>  
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_content">
                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#tab_content1" role="tab" data-toggle="tab" aria-expanded="true">Roles</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content2" role="tab" data-toggle="tab" aria-expanded="false">Privileges</a>
                      </li>
                    </ul>
                  </div>
                  <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1">
                    <form action="/roles2/addRole2">
                      <% if (aclAddRoles2 == null || aclAddRoles2.checkBoxValue == true) {%>
                      <button class="btn btn-primary" type="submit" value="Add Role">Add Role</button><br><br>
                      <% } else { %>
                      <button class="btn btn-primary" type="submit" value="Add Role" disabled>Add Role</button><br><br>
                      <% } %>
                    </form>
                    <table id="datatable" class="table table-hover">
                      <thead>
                        <tr>
                          <th>Sort #</th>
                          <th>Role Name</th>
                          <% if (userAuthID == 1) {%>
                          <th>Role ID</th>
                          <% } %>
                          <th>Update</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% roles2.forEach(function(role2) { %>
                          <tr>
                            <td><%= role2.sortID %></td>
                            <td><%= role2.roleName %></td>
                            <% if (userAuthID == 1) {%>
                            <td><%= role2.roleID %></td>
                            <% } %>
                            <td>
                              <% if (aclModifyRoles2 == null || aclModifyRoles2.checkBoxValue == true) {%>
                              <a href="/roles2/updateRole2/<%= role2.id %>"><button class="btn btn-primary">update</button></a>
                              <% } else { %>
                              <a href="/roles2/updateRole2/<%= role2.id %>"><button class="btn btn-primary" disabled>update</button></a>
                              <% } %>
                            </td>
                            <td>
                              <% if (aclDeleteRoles2 == null || aclDeleteRoles2.checkBoxValue == true) {%>
                              <a href="/roles2/showRoles2/<%= role2.id %>" id="roleLink"><button class="btn btn-primary">delete</button></a>
                              <% } else { %>
                              <a href="/roles2/showRoles2/<%= role2.id %>" id="role2Link"><button class="btn btn-primary" disabled>delete</button></a>
                              <% } %>
                            </td>
                          </tr>
                        <% }); %>
                      </tbody>
                    </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content2">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- footer content -->
          <% include ../layout/footer.ejs %>
          <!-- /footer content -->

        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/public/gentelella/vendors/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.js"></script>
    <!-- FastClick -->
    <script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>

    <!-- Datatables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/public/gentelella/build/js/custom.js"></script>
    <!-- Google Analytics -->

  </body>

</html>
