<!DOCTYPE html>
<html lang="en">
<head>


    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- NProgress -->
    <link href="/public/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- JQVMap -->
    <link href="/public/gentelella/vendors/jqvmap/dist/jqvmapDashboard.css" rel="stylesheet"/>

    <!-- bootstrap-daterangepicker -->
    <link href="/public/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/reportDetails.css" rel="stylesheet">
    <link href="/public/stylesheets/dashboard.css" rel="stylesheet">


    <script>

        $(document).ready(function () {

        });

    </script>



</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ./layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br />
                <!-- sidebar menu -->
                <% include ./layout/sideMenu.ejs %>
                <!-- Custom Theme Style -->
                <link href="/public/gentelella/build/css/reportDetails.css" rel="stylesheet">
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ./layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->

        <!-- if iPad -->
        <% var h2FontSize = 22; %>
        <% var aFontSize = 12; %>
        <% var spanFontSize = 13; %>
        <% var viewTopBottom = 9; %>
        <% var tooltipAlertName = '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0alert name:\xa0\xa0\xa0\xa0'%>
        <% var tooltipDateTime = '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Date & time:\xa0\xa0\xa0\xa0'%>
        <% if(iPad){ %>
        <% h2FontSize = 28; %>
        <% aFontSize = 15; %>
        <% spanFontSize = 15; %>
        <% viewTopBottom = 10; %>
        <% tooltipAlertName = '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0alert name:\xa0\xa0\xa0\xa0'%>
        <% } %>
        <!-- /if iPad -->

        <div class="right_col" role="main">
            <div class="">

                <!-- top tiles -->
                <div class="col-md-12 col-sm-12">
                    <div class="tile_count" align="center">
                        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-envelope"></i> Total Alerts sent</span>
                            <div class="count">137</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-up"></i>4% </i> From last year</span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-vial"></i> Total Drills sent</span>
                            <div class="count">82</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-up"></i>3% </i> From last year</span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-bell"></i> Total Real sent</span>
                            <div class="count">55</div>
                            <span class="count_bottom"><i class="red"><i class="fa fa-sort-down"></i>12% </i> From last year</span>
                        </div>

                    </div>
                </div>
                <!-- /top tiles -->


                <!-- Alerts sent comparison by years -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <% if(iPad){ %>
                    <br>
                    <% } %>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 style="font-size: <%= h2FontSize %>px">Alerts sent <a style="font-size: <%= aFontSize %>px">comparison</a></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown pull-right">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Year 2018/2017</a>
                                        </li>
                                        <li><a href="#">Year 2017/2016</a>
                                        </li>
                                        <li><a href="#">Year 2016/2015</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div id="mainb" style="height:350px;"></div>

                        </div>
                    </div>
                </div>
                <!-- /Alerts sent comparison by year -->



                <!-- Alerts sent by device -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 style="font-size: <%= h2FontSize %>px">Alerts sent by device</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown pull-right">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Year 2018</a>
                                        </li>
                                        <li><a href="#">Year2017</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div id="echart_line" style="height:350px;"></div>
                        </div>
                    </div>
                </div>
                <!-- /Alerts sent by device -->



                <!-- Top Alerts -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile">
                        <div class="x_title">
                            <h2 style="font-size: <%= h2FontSize %>px">Top <%= viewTopBottom %> <a style="font-size: <%= aFontSize %>px"> alerts sent</a></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown pull-right">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">View top <%= viewTopBottom %></a>
                                        </li>
                                        <li><a href="#">View bottom <%= viewTopBottom %></a>
                                        </li>
                                        <li><a href="#">View all</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="widget_summary">
                                <div class="w_left w_70">
                                    <span style="font-size: <%= spanFontSize %>px">Utility Failures</span>
                                </div>
                                <div class="w_center w_20">
                                    <div class="progress">
                                        <div class="progress bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_10">
                                    <span>63</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="widget_summary">
                                <div class="w_left w_70">
                                    <span style="font-size: <%= spanFontSize %>px">Bus Transportation early/late</span>
                                </div>
                                <div class="w_center w_20">
                                    <div class="progress">
                                        <div class="progress bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_10">
                                    <span>12</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary">
                                <div class="w_left w_70">
                                    <span style="font-size: <%= spanFontSize %>px">Weather-Related Emergencies</span>
                                </div>
                                <div class="w_center w_20">
                                    <div class="progress">
                                        <div class="progress bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_10">
                                    <span>9</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary">
                                <div class="w_left w_70">
                                    <span style="font-size: <%= spanFontSize %>px">Fire/Explosion</span>
                                </div>
                                <div class="w_center w_20">
                                    <div class="progress">
                                        <div class="progress bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_10">
                                    <span>5</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary">
                                <div class="w_left w_70">
                                    <span style="font-size: <%= spanFontSize %>px">Evacuate</span>
                                </div>
                                <div class="w_center w_20">
                                    <div class="progress">
                                        <div class="progress bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_10">
                                    <span>3</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary">
                                <div class="w_left w_70">
                                    <span style="font-size: <%= spanFontSize %>px">Evacuate</span>
                                </div>
                                <div class="w_center w_20">
                                    <div class="progress">
                                        <div class="progress bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_10">
                                    <span>3</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary">
                                <div class="w_left w_70">
                                    <span style="font-size: <%= spanFontSize %>px">Evacuate</span>
                                </div>
                                <div class="w_center w_20">
                                    <div class="progress">
                                        <div class="progress bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_10">
                                    <span>3</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary">
                                <div class="w_left w_70">
                                    <span style="font-size: <%= spanFontSize %>px">Evacuate</span>
                                </div>
                                <div class="w_center w_20">
                                    <div class="progress">
                                        <div class="progress bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_10">
                                    <span>3</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary">
                                <div class="w_left w_70">
                                    <span style="font-size: <%= spanFontSize %>px">Evacuate</span>
                                </div>
                                <div class="w_center w_20">
                                    <div class="progress">
                                        <div class="progress bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_10">
                                    <span>3</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <% if(iPad){ %>
                            <div class="widget_summary">
                                <div class="w_left w_70">
                                    <span style="font-size: <%= spanFontSize %>px">Evacuate</span>
                                </div>
                                <div class="w_center w_20">
                                    <div class="progress">
                                        <div class="progress bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_10">
                                    <span>3</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <br><div style="line-height:90%;"><br></div> <!-- smaller br -->
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- /Top Alerts -->











                <!-- Alerts sent by role -->

                <!-- /Alerts sent comparison by year -->







                <!-- Map -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 style="font-size: <%= h2FontSize %>px; width: 400px">Other Schools <a style="font-size: <%= aFontSize %>px">Total= 76 alerts sent in 2018</a></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown pull-right">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Usa map</a>
                                        </li>
                                        <li><a href="#">World map</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="dashboard-widget-content">
                                <div class="col-md-4 col-sm-4 hidden-small">
                                    <h class="line_30">MASSACHUSETTS</h>
                                    <br>
                                    <h class="line_30">Suffolk County</h>
                                    <table class="countries_list">
                                        <tbody>
                                        <tr>
                                            <td class="tooltip2" onclick="">Boston
                                                <span class="tooltiptext2">
                                                    &ensp; - <span style="color: yellow">St John School</span>
                                                    <div style="line-height:10%;"><%= tooltipAlertName %>panic </div> <!-- smaller br -->
                                                    <div style="line-height:200%;">&thinsp;&thinsp;<%= tooltipDateTime %>6/22/2018 at 12:33pm</div> <!-- smaller br -->
                                                </span>
                                            </td>
                                            <td class="fs15 fw700 text-right tooltip2" onclick="">1 alert
                                                <span class="tooltiptext2">
                                                    &ensp; - <span style="color: yellow">St John School</span>
                                                    <div style="line-height:10%;"><%= tooltipAlertName %>panic </div> <!-- smaller br -->
                                                    <div style="line-height:200%;">&thinsp;&thinsp;<%= tooltipDateTime %>6/22/2018 at 12:33pm</div> <!-- smaller br -->
                                                </span>
                                        <tr>
                                            <td class="tooltip2" onclick="">Chelsea
                                                <span class="tooltiptext2">
                                                    &ensp; - <span style="color: yellow">Chelsea High School</span>
                                                    <div style="line-height:10%;"><%= tooltipAlertName %>panic </div> <!-- smaller br -->
                                                    <div style="line-height:200%;">&thinsp;&thinsp;<%= tooltipDateTime %>6/22/2018 at 2:15pm</div> <!-- smaller br -->
                                                </span>
                                            </td>
                                            <td class="fs15 fw700 text-right tooltip2" onclick="">1 alert
                                                <span class="tooltiptext2">
                                                    &ensp; - <span style="color: yellow">Chelsea High School</span>
                                                    <div style="line-height:10%;"><%= tooltipAlertName %>panic </div> <!-- smaller br -->
                                                    <div style="line-height:200%;">&thinsp;&thinsp;<%= tooltipDateTime %>6/22/2018 at 2:15pm</div> <!-- smaller br -->
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <h class="line_30">Bristol County</h>
                                    <table class="countries_list">
                                        <tbody>
                                        <tr>
                                            <td class="tooltip2" onclick="">Easton
                                                <span class="tooltiptext2">
                                                    &ensp; - <span style="color: yellow">Easton Middle School</span>
                                                    <div style="line-height:10%;"><%= tooltipAlertName %>panic </div> <!-- smaller br -->
                                                    <div style="line-height:200%;">&thinsp;&thinsp;<%= tooltipDateTime %>2/23/2018 at 8:22pm</div> <!-- smaller br -->
                                                    <br>
                                                    &ensp; - <span style="color: yellow">Richardson Olmsted Elementary School</span>
                                                    <div style="line-height:10%;"><%= tooltipAlertName %>panic </div> <!-- smaller br -->
                                                    <div style="line-height:200%;">&thinsp;&thinsp;<%= tooltipDateTime %>2/23/2018 at 9:36pm</div> <!-- smaller br -->
                                                </span>
                                            </td>
                                            <td class="fs15 fw700 text-right" align="bottom">2 alerts</td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div id="usa_map" class="col-md-8 col-sm-8 col-xs-12" style="height:350px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Map -->





                <div class="clearfix"></div>


            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ./layout/footer.ejs %>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>

<!-- Chart.js -->
<script src="/public/gentelella/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- jQuery Sparklines -->
<script src="../vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>

<!-- morris.js -->
<script src="/public/gentelella/vendors/raphael/raphael.min.js"></script>
<script src="/public/gentelella/vendors/morris.js/morris.min.js"></script>

<!-- Skycons -->
<script src="/public/gentelella/vendors/skycons/skycons.js"></script>

<!-- Flot -->
<script src="/public/gentelella/vendors/Flot/jquery.flot.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.time.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/public/gentelella/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/public/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/public/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/public/gentelella/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/public/gentelella/vendors/DateJS/build/date.js"></script>

<!-- JQVMap -->
<script src="/public/gentelella/vendors/jqvmap/dist/jquery.vmapDashboard.js"></script>
<script src="/public/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/public/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.usaDasboard.js"></script>
<script src="/public/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="/public/gentelella/vendors/moment/min/moment.min.js"></script>
<script src="/public/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- ECharts -->
<script src="/public/gentelella/vendors/echarts/dist/echarts.min.js"></script>
<script src="/public/gentelella/vendors/echarts/map/js/world.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/reportDetails.js"></script>
<!-- Google Analytics -->

</body>

</html>