<html>
<head>
    <title>update medical</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
        $(document).ready(function(){
            var oldMedicalID = $("#oldMedicalID").val();
            var select = '';
            var myArray = $("#inUseMedicalID").val().split(",").map(Number);
            for (i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1 || i == oldMedicalID){
                    if(i == oldMedicalID){
                        select += '<option val=' + i + ' selected="selected">' + i + '</option>';
                    }else{
                        select += '<option val=' + i + '>' + i + '</option>';
                    }
                }
            }
            $('#some_select').html(select);

            var medical_ID, utilityName, utilityID;
            var oldMedicalName,oldMedicalID;
            $("#<%= medical.id %>").click(function(){
                medical_ID=$(this).attr('id');
                oldMedicalName=$("#oldMedicalName").val();
                utilityName=$("#utilityName").val();
                oldMedicalID=$("#oldMedicalID").val();
                utilityID=$("#some_select").val();

                //-----forms validation------------------------------------
                if (utilityName == "" ) {
                    alert("UTILITY NAME must be filled out");
                    return false;
                }

                //--------------------------------forms validation end-------
                $.post("/medical/updateMedical",{
                    medicalToUpdate: medical_ID,
                    oldMedicalName: oldMedicalName,
                    utilityName: utilityName,
                    oldMedicalID: oldMedicalID,
                    utilityID: utilityID
                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Medical Emergeny Name already in use. Choose a different Name .")
                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>
<form action="/dashboard">
    <input type="submit" value="Home"><br>
</form>
<form>



    <label for="utilityName"><b>Medical Emergency Name:</b></label><br>
    <input type="text" id="utilityName" size="40" value="<%= medical.utilityName %>"><br><br>

    <input type="hidden" id="inUseMedicalID" value="<%= array %>">

    <% if (userAuthID == 1) {%>
    <label for="utilityID"><b>Medical ID:</b></label><br>
    <select id='some_select'></select><br><br>
    <% } else { %>
    <select id='some_select' style="display:none;"></select>
    <% } %>

    <input type="hidden" id="oldMedicalName" value="<%= medical.utilityName %>">
    <input type="hidden" id="oldMedicalID" value="<%= medical.utilityID %>"><br>

    <% if (aclModifyMedical == null || aclModifyMedical.checkBoxValue == true) {%>
    <input type="button" id="<%= medical.id %>" value="Submit" ><br>
    <% } else { %>
    <input type="button" id="<%= medical.id %>" value="Submit" disabled><br>
    <% } %>

</form>
<form action="/medical/showMedical">
    <% if (aclShowMedical == null || aclShowMedical.checkBoxValue == true) {%>
    <input type="submit" value="Back">
    <% } else { %>
    <input type="submit" value="Back" disabled>
    <% } %>

</form>

</body>
</html>