
<html lang="en">
<head>

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link rel='stylesheet' href='/public/stylesheets/updateStudent.css' />
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- iCheck -->
    <link href="/public/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">


    <script>
        var choices;
        function selectUser(select) {
            var option = $("#dataList").val();
            //get datalist data-value to value2send
            var value2send= document.querySelector('#students option[value="'+option+'"]').dataset.value;
            var ul = select.parentNode.getElementsByTagName('ul')[0];
            choices = ul.getElementsByTagName('input');
            for (var i = 0; i < choices.length; i++) {
                if (choices[i].value == value2send) {
                    return;
                }
            }
            var li = document.createElement('li');
            var input = document.createElement('input');
            var text = document.createTextNode(option);
            input.type = 'hidden';
            input.name = 'users[]';
            input.value = value2send;
            li.appendChild(input);
            li.appendChild(text);
            li.setAttribute('onclick', 'this.parentNode.removeChild(this);');
            ul.appendChild(li);
        }
        var usersToRemove = [];
        function removeUser(user){
            var choice = user.getElementsByTagName('input');
            usersToRemove.push(choice[0].value);
        }

        $(document).ready(function(){
            var student_ID,firstName,lastName,studentID,photo,busRide;
            $("#<%= students._id %>").click(function(){
                student_ID=$(this).attr('id');
                firstName=$("#firstName").val();
                lastName=$("#lastName").val();
                studentID=$("#studentID").val();
                photo=$("#photo").val();
                busRide = document.getElementById("bus").checked;

                var arrayUsers = [];
                if (choices === undefined){
                    arrayUsers = $("#savedValueSmecsUsers").val().split(",");
                    for (var a = 0; a < usersToRemove.length; a++) {
                        for (var i = 0; i < arrayUsers.length; i++) {
                            if (usersToRemove[a] == arrayUsers[i]){
                                arrayUsers.splice(i, 1);
                            }
                        }
                    }
                } else {
                    if(choices.length > 0) {
                        for (var a = 0; a < choices.length; a++) {
                            arrayUsers.push(choices[a].value);
                        }
                    }
                }
                if(arrayUsers.length == 1 && arrayUsers[0] == "") {
                    var index = arrayUsers.indexOf(5);
                    arrayUsers.splice(index, 1);
                }

                //-----forms validation------------------------------------
                if (firstName == "" ) {
                    alert("FIRST NAME must be filled out");
                    return false;
                }
                if (lastName == "" ) {
                    alert("LAST NAME must be filled out");
                    return false;
                }
                //--------------------------------forms validation end-------
                //--------------------------------Capitalize Words---------------------------
                if (firstName != "" ) {
                    //changes user input and put first letter of each word capitalized
                    // replaces: "fort collins, croton-on-hudson, harper's ferry, coeur d'alene, o'fallon"
                    //with: "Fort Collins, Croton-On-Hudson, Harper's Ferry, Coeur D'Alene, O'Fallon"
                    var re = /(\b[a-z](?!\s))/g;
                    var s = firstName;
                    s = s.replace(re, function(x){return x.toUpperCase();});

                    //fixes words like: "Marty Mcfly"
                    // with: "Marty McFly"
                    var text = s;
                    text = text.replace(/Mc[a-z]/, function (k)
                        {
                            return 'Mc' + k[2].toUpperCase();
                        }
                    );
                }
                firstName = text;

                if (lastName != "" ) {
                    var re = /(\b[a-z](?!\s))/g;
                    var s = lastName;
                    s = s.replace(re, function(x){return x.toUpperCase();});
                    var text = s;
                    text = text.replace(/Mc[a-z]/, function (k)
                        {
                            return 'Mc' + k[2].toUpperCase();
                        }
                    );
                }
                lastName = text;
                //--------------------------------Capitalize Words end---------------------

                $.post("/students/updateStudent",{
                    studentToUpdate: student_ID,
                    firstName: firstName,
                    lastName: lastName,
                    studentID: studentID,
                    parentOf: arrayUsers,
                    busRide: busRide,
                    photo: photo
                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Student ID already in use. Choose a different ID .")
                });
            });
        });
    </script>


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ./../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ./../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ./../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="page-title">
                <div class="title_left">
                    <h3><%= title %></h3>
                </div>


                <div class="title_right">

                    <div class="pull-left">
                        <% if (aclModifyStudent == null || aclModifyStudent.checkBoxValue == true) {%>
                        <button type="button"
                                id="<%= students._id %>"
                                value="Submit"
                                class="btn btn-success">Save
                        </button>

                        <% } else { %>
                        <button type="button"
                                id="<%= students._id %>"
                                value="Submit"
                                class="btn btn-success" disabled>Save
                        </button>
                        <% } %>

                        <a href="/students/showStudents"><button type="button" class="btn btn-default">Cancel</button></a>

                    </div>


                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
            </div>


            <input type="hidden" id="savedValueSmecsUsers" value="<%= parentsIdArray %>">
            <input type="hidden" id="photo" value="<%= students.photo %>">


            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Information</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left input_mask">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">First name <span class="required" style="color: red">*</span> :</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               id="firstName"
                                               value="<%= students.firstName %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Last name <span class="required" style="color: red">*</span> :</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               id="lastName"
                                               value="<%= students.lastName %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Student ID <span class="required" style="color: red">*</span> :</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               id="studentID"
                                               value="<%= students.studentID %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="checkboxSafe">Student uses school bus :</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <% if (students.busRide == true) {%>
                                            <input type="checkbox"
                                                   name="bus"
                                                   id="bus"
                                                   value="<%= students.busRide %>" checked>
                                        <% }else{%>
                                            <input type="checkbox"
                                                   name="bus"
                                                   id="bus"
                                                   value="<%= students.busRide %>">
                                        <% } %>
                                        <label for="bus"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Parents :</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        <div id="labelsDiv2" class="labelsDiv2">
                                            <div id="smecsUserDiv" class="enable">
                                                <label for="smecsUserLabel" id="smecsUserLabel" class="enable">Parents associate to this Student:</label><br>


                                                <ul id="smecsUserUl" class="enable">
                                                    <% for (var a = 0; a < students.parentOf.length; a++) { %>

                                                        <li id="user1" onclick="this.parentNode.removeChild(this); removeUser(this)">
                                                            <input type="hidden" name="users[]" value="<%= students.parentOf[a]._id %>" />
                                                            <%= students.parentOf[a].parentFirstName %> <%= students.parentOf[a].parentLastName %>
                                                        </li>
                                                    <% } %>

                                                </ul>

                                                <input
                                                        class="enable"
                                                        autocomplete="off"
                                                        id="dataList" list="students"
                                                        name="student"
                                                        placeholder=" type parent name"
                                                        value="<%= users._id %>"
                                                        onkeydown = "return (event.keyCode!=13);" onchange="selectUser(this);">
                                                <dataList id="students">
                                                    <% users.forEach(function(user) { %>
                                                        <option data-value="<%= user._id %>" value="<%= user.firstName %> <%= user.lastName %>"></option>
                                                    <% }); %>
                                                </dataList>

                                                <img id="imgAdd" class="enable" src="/miscPictures/add.png" alt="Add" style="vertical-align: middle;" onclick="selectUser($(this).prev().get(0));">
                                                <br><br>
                                                If you want to add a new parent to dropdown list <a id="clickHere" class="enable"href="/users/addUserStep1">click here</a>.
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </form>

                        </div>
                    </div>




                </div>


            </div>

        </div>

        <!-- /page content -->


    </div>
</div>


<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.min.js"></script>
<!-- Google Analytics -->

</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ./../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>