<!DOCTYPE html>
<html>
<head>
    <title>Show Alert Groups</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery.tablesorter.js"></script>

    <script type = "text/javascript">
        $(document).ready(function()
                {
                    $("#myTable").tablesorter();
                }
        );
        $("#alertGroupLink").live("click", function () {
            $.ajax({
                url: '/alertGroups/showAlertGroups',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',

                error: function(error){
                    if(error.responseText == 'showAlert')
                        alert("Alert Group NAME or ID already already in use. Choose a different Name or number between 0 and 99.")
                }
            });
        });
    </script>

</head>
<body>
<h1><%= title %></h1>

<form action="/alertGroups/addAlertGroups">
    <% if (aclAddAlertGroup == null || aclAddAlertGroup.checkBoxValue == true) {%>
    <input type="submit" value="Add Alert Group"><br><br>
    <% } else { %>
    <input type="submit" value="Add Alert Group" disabled><br><br>
    <% } %>
</form>
<table id="myTable" class="tablesorter">
    <thead>
    <tr>
        <th>#</th>
        <th>Alert Group Name</th>
        <% if (userAuthID == 1) {%>
        <th>Alert Group ID</th>
        <% } %>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    <tbody>
    <% alertGroup.forEach(function(alertGroup) { %>
    <tr>
        <td><%= alertGroup.sortID %></td>
        <td><%= alertGroup.alertTypeName %></td>
        <% if (userAuthID == 1) {%>
        <td><%= alertGroup.alertTypeID %></td>
        <% } %>
        <td>
            <% if (aclModifyAlertGroup == null || aclModifyAlertGroup.checkBoxValue == true) {%>
            <a href="/alertGroups/updateAlertGroups/<%= alertGroup.id %>"><button class="inTable">update</button></a>
            <% } else { %>
            <a href="/alertGroups/updateAlertGroups/<%= alertGroup.id %>"><button class="inTable" disabled>update</button></a>
            <% } %>
        </td>
        <td>
            <% if (aclDeleteAlertGroup == null || aclDeleteAlertGroup.checkBoxValue == true) {%>
            <a href="/alertGroups/showAlertGroups/<%= alertGroup.id %>" id="alertGroupLink"><button class="inTable">delete</button></a>
            <% } else { %>
            <a href="/alertGroups/showAlertGroups/<%= alertGroup.id %>" id="alertGroupLink"><button class="inTable" disabled>delete</button></a>
            <% } %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table><br>



<form action="/dashboard">
    <input type="submit" value="Back">
</form>
</body>
</html>
