<html>
<head>
    <title>update Alert Group</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/alertGroup.css' />
    <script>
        var color;
        var colorName;
        var colorValue;
        function GetSelectedItem(el)
        {
            var e = document.getElementById(el);
            color = "The Value is: " + e.options[e.selectedIndex].value + " and text is: " + e.options[e.selectedIndex].text;
            colorName = e.options[e.selectedIndex].text;
            colorValue = e.options[e.selectedIndex].value;
        }

        $(document).ready(function(){

            //dropdown rectangle color
            $(function() {
                $.widget("custom.selectmenu", $.ui.selectmenu, {
                    _renderItem: function(ul, item) {

                        console.log(item);
                        var li = $("<li>"),
                            wrapper = $("<div>");

                        if (item.disabled) {
                            li.addClass("ui-state-disabled");
                        }

                        $("<span>", {
                            style: "background-color: #" + item.value,
                            "class": "ui-color-chip"
                        })
                            .appendTo(wrapper);
                        wrapper.append(item.label);

                        return li.append(wrapper).appendTo(ul);
                    }
                });

                $("#DropDownID")
                    .selectmenu()
                    .selectmenu("menuWidget")
                    .addClass("ui-menu-icons customicons");

                var Color = {
                    Data: [
                        {
                            RgbValue: 'ff0000',
                            ColorName: 'Red'
                        }, {
                            RgbValue: '008000',
                            ColorName: 'Green'
                        },
                        {
                            RgbValue: '0000FF',
                            ColorName: 'Blue'
                        },
                        {
                            RgbValue: 'FFFF00',
                            ColorName: 'Yellow'
                        },
                        {
                            RgbValue: '000000',
                            ColorName: 'Black'
                        },
                        {
                            RgbValue: 'FFFFFF',
                            ColorName: 'White'
                        },
                        {
                            RgbValue: 'FF00FF',
                            ColorName: 'Magenta'
                        }
                    ]
                };

                for (var i = 0; i < Color.Data.length; i++) {
                    $("#DropDownID").append($("<option></option>").val(Color.Data[i].RgbValue).html(Color.Data[i].ColorName)		);
                }
            });
            //end off dropdown rectangle color



            var oldSortID = $("#oldSortID").val();
            var select_sort = '';
            var sortArray = $("#inUseSortID").val().split(",").map(Number);
            for (var a=1;a<=99;a++){
                if(sortArray.indexOf(a) == -1 || a == oldSortID){
                    if(a == oldSortID){
                        select_sort += '<option val=' + a + ' selected="selected">' + a + '</option>';
                    }else{
                        select_sort += '<option val=' + a + '>' + a + '</option>';
                    }
                }
            }
            $('#sort_select').html(select_sort);

            var oldAlertGroupID = $("#oldAlertGroupID").val();
            var select = '';
            var myArray = $("#inUseAlertGroupID").val().split(",").map(Number);
            for (i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1 || i == oldAlertGroupID){
                    if(i == oldAlertGroupID){
                        select += '<option val=' + i + ' selected="selected">' + i + '</option>';
                    }else{
                        select += '<option val=' + i + '>' + i + '</option>';
                    }
                }
            }
            $('#some_select').html(select);

            var alertGroup1,oldAlertGroupName,oldAlertGroupID,alertGroupID,alertGroupName,sortID;
            $("#<%= alertGroup.id %>").click(function(){
                alertGroup1=$(this).attr('id');
                oldAlertGroupID=$("#oldAlertGroupID").val();
                alertGroupID=$("#some_select").val();
                oldAlertGroupName=$("#oldAlertGroupName").val();
                alertGroupName=$("#alertGroupName").val();
                sortID=$("#sort_select").val();

                //-----forms validation------------------------------------
                if (alertGroupName == "" ) {
                    alert("Alert Group Name must be filled out");
                    return false;
                }
                if (alertGroupID == "" ) {
                    alert("Alert Group ID must be filled out");
                    return false;
                }
                //--------------------------------forms validation end-------

                console.log('colorName = ',colorName);
                console.log('colorValue = ',colorValue);
                $.post("/alertGroups/updateAlertGroups",{
                    alertGroupToUpdate: alertGroup1,
                    oldAlertGroupID: oldAlertGroupID,
                    alertGroupID: alertGroupID,
                    oldAlertGroupName: oldAlertGroupName,
                    alertGroupName: alertGroupName,
                    sortID: sortID,
                    colorName: colorName,
                    colorValue: colorValue

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Alert Group NAME already in use. Choose a different Name.")
                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>
<form action="/dashboard">
    <input type="submit" value="Home"><br>
</form>
<form>

    <label for="alertGroupName"><b>Alert Group:</b></label><br>
    <input type="text" id="alertGroupName" size="40" value="<%= alertGroup.alertTypeName %>"><br><br>

    <input type="hidden" id="inUseAlertGroupID" value="<%= array %>">

    <% if (alertGroup.alertTypeID !== 1) {%>
    <label for="alertGroupName"><b>Alert Group Color:</b></label><br>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <select name="DropDownID" id="DropDownID" >
        <option value="<%= alertGroup.colorValue %>" selected disabled hidden><%= alertGroup.colorName %></option>
    </select><br><br>
    <% } %>



    <label for="sortID"><b>Sort ID:</b></label><br>
    <input type="hidden" id="oldSortID" value="<%= alertGroup.sortID %>">
    <input type="hidden" id="inUseSortID" value="<%= arraySort %>">
    <select id='sort_select'></select><br><br>

    <% if (userAuthID == 1) {%>
    <label for="alertGroupID"><b>Alert Group ID:</b></label><br>
    <select id='some_select'></select><br><br>
    <% } else { %>
    <select id='some_select' style="display:none;"></select>
    <% } %>

    <input type="hidden" id="oldAlertGroupName" value="<%= alertGroup.alertTypeName %>">
    <input type="hidden" id="oldAlertGroupID" value="<%= alertGroup.alertTypeID %>"><br>


    <% if (aclModifyAlertGroup == null || aclModifyAlertGroup.checkBoxValue == true) {%>
    <input type="button" id="<%= alertGroup.id %>" value="Submit" onClick="GetSelectedItem('DropDownID');"><br>
    <% } else { %>
    <input type="button" id="<%= alertGroup.id %>" value="Submit" disabled><br>
    <% } %>

</form>
<form action="/alertGroups/showAlertGroups">
    <input type="submit" value="Back">
</form>
</body>
</html>