<!DOCTYPE html>
<html>
<head>
    <title>Show Floors</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery.tablesorter.js"></script>

    <script type = "text/javascript">
        $(document).ready(function()
                {
                    $("#myTable").tablesorter();
                }
        );
    </script>

</head>
<body>
<h1><%= title %></h1>


<form action="/floors/addFloor">
    <% if (aclAddFloor == null || aclAddFloor.checkBoxValue == true) {%>
    <input type="submit" value="Add Floor">
    <% } else { %>
    <input type="submit" value="Add Floor" disabled>
    <% } %>
</form>

<table id="myTable" class="tablesorter" style="width:100%;table-layout: fixed;">
    <caption>
        TIP! Sort multiple columns simultaneously by holding down the shift key and clicking a second column header!
    </caption>
    <thead>
    <tr>

        <th>Floor Name</th>
        <% if (userAuthID == 1) {%>
            <th>ID</th>
        <% } %>
        <th>Floor Plan</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tbody>
    <% floors.forEach(function(floor) { %>
    <tr>

        <td><%= floor.floorName %></td>
        <% if (userAuthID == 1) {%>
        <td><%= floor.floorID %></td>
        <% } %>

        <% if (floor.floorPlan == "") { %>
        <td align="center">
            <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
            <a href="/floors/addFloorPLan/<%= floor.id %>"><button class="inTable">add</button></a>
            <% } else { %>
            <a href="/floors/addFloorPlan/<%= floor.id %>"><button class="inTable" disabled>add</button></a>
            <% } %>
        </td>
        <% } else { %>
        <td>
            <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
            <a href="/floors/showFloorPlan/<%= floor.id %>"><button class="inTable">show</button></a>
            <% } else { %>
            <a href="/floors/showFloorPlan/<%= floor.id %>"><button class="inTable" disabled>show</button></a>
            <% } %>
            <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
            <a href="/floors/addFloorPlan/<%= floor.id %>"><button class="inTable">change</button></a>
            <% } else { %>
            <a href="/floors/addFloorPlan/<%= floor.id %>"><button class="inTable" disabled>change</button></a>
            <% } %>
            <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
            <a href="/floors/deleteFloorPlan/<%= floor.id %>"><button class="inTable">delete</button></a>
            <% } else { %>
            <a href="/floors/deleteFloorPlan/<%= floor.id %>"><button class="inTable" disabled>delete</button></a>
            <% } %>

        </td>
        <% } %>


        <td align="center">
            <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
            <a href="/floors/updateFloor/<%= floor.id %>"><button class="inTable">update</button></a>
            <% } else { %>
            <a href="/floors/updateFloor/<%= floor.id %>"><button class="inTable" disabled>update</button></a>
            <% } %>
        </td>
        <td align="center">
            <% if (aclDeleteFloor == null || aclDeleteFloor.checkBoxValue == true) {%>
            <a href="/floors/deleteFloor/<%= floor.id %>"><button class="inTable">delete</button></a>
            <% } else { %>
            <a href="/floors/deleteFloor/<%= floor.id %>"><button class="inTable" disabled>delete</button></a>
            <% } %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table><br>


<form action="/dashboard">
    <input type="submit" value="Back">
</form>


</body>
</html>
