<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Datatables -->
  <link href="/public/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/public/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/public/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/public/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/public/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="/public/gentelella/vendors/bootstrap/dist/css/WhoCanSendAlerts.css" rel="stylesheet">
  <!-- Custom Theme Style -->
  <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
  <link href="/public/stylesheets/toolTips.css" rel="stylesheet">
  <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>



  <script type="text/javascript">

      EnableSubmit = function(val)
      {
          var sbmtSave = document.getElementById("btSave");
          var sbmtCancel = document.getElementById("btCancel");
          if (val.onchange)
          {
              sbmtSave.disabled = false;
              sbmtCancel.disabled = false;
          }
          else
          {
              sbmtSave.disabled = false;
              sbmtCancel.disabled = false;
          }
      };

      $(document).ready(function () {

          var target = 'AclAlertsReal';
          $('a[role="tab"]').on('shown.bs.tab', function (e) {
              target = $(e.target).attr("id") // activated tab
          });


          $('.chk-all').on('change', function(){
              $('.' + $(this).data('child')).prop('checked',this.checked);
          });

          var target;
          $("#btSave").click(function(event) {
              event.preventDefault();
              var searchIDsCheckedRealSend = $('input[name="aclAlertCheckBoxRealSend"]:checked').map(function () {
                  return $(this).val();
              }).get();
              var searchIDsCheckedRealReceived = $('input[name="aclAlertCheckBoxRealReceived"]:checked').map(function () {
                  return $(this).val();
              }).get();
              var searchIDsCheckedDrillSend = $('input[name="aclAlertCheckBoxDrillSend"]:checked').map(function () {
                  return $(this).val();
              }).get();
              var searchIDsCheckedDrillReceived = $('input[name="aclAlertCheckBoxDrillReceived"]:checked').map(function () {
                  return $(this).val();
              }).get();
              /*
              var searchIDsNotCheckedReal = $('input[name="aclAlertCheckBoxReal"]:not(:checked)').map(function () {
                  return $(this).val();
              }).get();
              var searchIDsNotCheckedDrillReceived = $('input[name="aclAlertCheckBoxDrillReceived"]:not(:checked)').map(function () {
                  return $(this).val();
              }).get();
              */

              $.ajax({
                  url:'/alerts/showAlertPermissionsTable',
                  type:'post',
                  data:{
                      searchIDsCheckedRealSend: searchIDsCheckedRealSend,
                      searchIDsCheckedRealReceived: searchIDsCheckedRealReceived,
                      searchIDsCheckedDrillSend: searchIDsCheckedDrillSend,
                      searchIDsCheckedDrillReceived: searchIDsCheckedDrillReceived
                      //searchIDsNotCheckedReal:searchIDsNotCheckedReal,
                      //searchIDsNotCheckedDrill:searchIDsNotCheckedDrill
                      //typeAclAlert:target
                  },
                  success:function(response){
                      console.log(response);
                  }
              });
          });

          $("#btCancel").click(function(event) {
              window.location.reload();
          });

          }
      );
  </script>

</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">

        <!-- menu profile quick info -->
          <% include ../layout/menuProfile.ejs %>
        <!-- /menu profile quick info -->

        <br>

        <!-- sidebar menu -->
          <% include ../layout/sideMenu.ejs %>
        <!-- /sidebar menu -->

      </div>
    </div>

    <!-- top navigation -->
      <% include ../layout/topNavigation.ejs %>
    <!-- /top navigation -->

    <div class="right_col" role="main">

      <div class="page-title">
        <div >
          <h3 class="title_left"><%= title %></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <ul>
                <div align="center">

                    <% if (aclModifyAlertsTable == null || aclModifyAlertsTable.checkBoxValue == true) {%>
                  <button class="btn btn-success" name="btSave" id="btSave" disabled="true" onclick="this.disabled=true">Save</button>
                  <button class="btn btn-default" name="btCancel" id="btCancel" disabled="true" onclick="this.disabled=true">Cancel</button>
                    <% } else { %>
                  <button class="btn btn-success" name="btSave" id="btSave" disabled>Save</button>
                  <button class="btn btn-default" name="btCancel" id="btCancel" disabled>Cancel</button>
                    <% } %>


                </div>
              </ul>

              <br>
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="AclAlertsReal" role="tab" data-toggle="tab" aria-expanded="true">REAL - Send</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="AclAlertsReal" data-toggle="tab" aria-expanded="false">REAL - Receive</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content3" id="AclAlertsTest" role="tab" data-toggle="tab" aria-expanded="false">DRILL - Send</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content4" role="tab" id="AclAlertsTest" data-toggle="tab" aria-expanded="false">DRILL - Receive</a>
                  </li>
                </ul>
              </div>
              <div id="myTabContent" class="tab-content">



                <!-- TAB REAL SEND -->
                <div role="tabpanel" class="tab-pane fade active in table-responsive" id="tab_content1">
                  <table id="" class="table table-bordered">
                    <thead>
                    <tr>
                      <td> WHO CAN SEND REAL ALERTS</td>
                        <% roles2.forEach(function(roles2) { %>
                        <% if (roles2.roleID < 96) { %>
                      <th id="<%= roles2.roleName %>" scope="col"><b><%= roles2.roleName %></b></th>
                        <% } %>
                        <% }); %>
                    </tr>
                    </thead>
                    <tbody>
                    <% alertGroup.forEach(function(alertGroup) { %>
                    <tr>
                      <th align="left" bgcolor="#f5f5f5">&nbsp<b><%= alertGroup.name %></b></th>
                        <% roles2.forEach(function(roles2) { %>
                        <% if (roles2.roleID < 96) { %>
                      <td headers="users <%= alerts.alertName %>  <%= roles2.roleName %>" align="center" bgcolor="#f5f5f5">
                          <% if ((aclModifyAlertsTable == null || aclModifyAlertsTable.checkBoxValue == true)) {%>
                        <input type="checkbox"
                               name="multi"
                               id="Sr<%= roles2.roleID %><%= alertGroup.groupID %>"
                               class="chk-all"
                               data-child="Sr<%= roles2.roleID %><%= alertGroup.groupID %>"
                               onClick="EnableSubmit(this)"/>
                          <% } else { %>
                        <input type="checkbox"
                               name="multi"
                               id="Sr<%= roles2.roleID %><%= alertGroup.groupID %>"
                               class="chk-all"
                               data-child="Sr<%= roles2.roleID %><%= alertGroup.groupID %>"
                               onClick="EnableSubmit(this)" disabled/>
                          <% } %>
                      </td>
                        <% } %>
                        <% }); %>
                    </tr>
                    <% alerts.forEach(function(alert) { %>
                    <% if (alert.softDeleted == false) { %>
                    <% if (alertGroup.groupID == alert.group.groupID) { %>

                    <tr>
                      <th style="position: relative; padding-left: 30px" headers="users" id="send_<%= alert.alertName %>"><%= alert.alertName %></th>
                        <% roles2.forEach(function(roles2) { %>
                        <% if (roles2.roleID < 96) { %>
                      <td headers="users <%= alert.alertName %>  <%= roles2.roleName %>" align="center">
                          <% if ((aclModifyAlertsTable == null || aclModifyAlertsTable.checkBoxValue == true)) {%>
                        <input type="checkbox"
                               name="aclAlertCheckBoxRealSend"
                               value="<%= alert.alertID %>-<%= roles2.roleID %>"
                               class="Sr<%= roles2.roleID %><%= alertGroup.groupID %>"
                                <% alert.whoCanSendReceive.sendReal.forEach(function(sr) { %>
                                <% if ( sr.roleID == roles2.roleID && sr.checkbox == true) { %>
                               checked
                                <% } %>
                                <% }); %>
                               onClick="EnableSubmit(this)" />
                          <% } else { %>
                        <input type="checkbox"
                               name="aclAlertCheckBoxRealSend"
                               value="<%= alert.alertID %>-<%= roles2.roleID %>"
                               class="Sr<%= roles2.roleID %><%= alertGroup.groupID %>"
                                <% alert.whoCanSendReceive.sendReal.forEach(function(sr) { %>
                                <% if ( sr.roleID == roles2.roleID && sr.checkbox == true) { %>
                               checked
                                <% } %>
                                <% }); %>
                               onClick="EnableSubmit(this)" disabled/>
                          <% } %>

                      </td>
                        <% } %>
                        <% }); %>
                    </tr>
                    <% } %>
                    <% } %>
                    <% }); %>
                    <% }); %>


                    </tbody>
                  </table>
                </div>
                <!-- /TAB REAL SEND -->



                <!-- TAB REAL RECEIVE -->
                <div role="tabpanel" class="tab-pane fade table-responsive" id="tab_content2">
                  <table id="" class="table table-bordered">
                    <thead>
                    <tr>
                      <td>WHO CAN RECEIVE REAL ALERTS
                        <i class="asteriskColor circlePosition fa fa-info-circle tooltipWhoCanReceive" onclick="">
                                        <span class="tooltipTextBottom">
                                            <div><span class="infoTitleColor"> Orange rows :</span><span class="infoText"> if checkbox is selected, alert will be sent to 3rd parties users.</span></div><br><br>
                                        </span>
                        </i>
                      </td>
                        <% roles2.forEach(function(roles2) { %>
                        <% var backColor = '' %>
                        <% var text = '' %>
                        <% if (roles2.roleID > 95) { %>
                        <% backColor = '#f9ebd6' %>
                        <% text = '' %>
                        <% } %>
                        <% if (roles2.roleID !== 99) { %>
                      <th id="<%= roles2.roleName %>" scope="col" style="background-color: <%= backColor %>; color: <%= text %>" ><b><%= roles2.roleName %></b></th>
                        <% } %>
                        <% }); %>
                    </tr>
                    </thead>
                    <tbody>

                    <% alertGroup.forEach(function(alertGroup) { %>
                    <tr>
                      <th align="left" bgcolor="#f5f5f5">&nbsp<b><%= alertGroup.name %></b></th>
                        <% roles2.forEach(function(roles2) { %>
                        <% var backColor = '' %>
                        <% var text = '' %>
                        <% if (roles2.roleID > 95) { %>
                        <% backColor = '#f7e2c3' %>
                        <% text = '' %>
                        <% } %>
                        <% if (roles2.roleID !== 99) { %>
                      <td headers="users <%= alerts.alertName %>  <%= roles2.roleName %>" align="center" bgcolor="#f5f5f5" style="background-color: <%= backColor %>; color: <%= text %>">
                          <% if ((aclModifyAlertsTable == null || aclModifyAlertsTable.checkBoxValue == true)) {%>
                        <input type="checkbox"
                               name="multi"
                               id="Rr<%= roles2.roleID %><%= alertGroup.groupID %>"
                               class="chk-all"
                               data-child="Rr<%= roles2.roleID %><%= alertGroup.groupID %>"
                               onClick="EnableSubmit(this)"/>
                          <% } else { %>
                        <input type="checkbox"
                               name="multi"
                               id="Rr<%= roles2.roleID %><%= alertGroup.groupID %>"
                               class="chk-all"
                               data-child="Rr<%= roles2.roleID %><%= alertGroup.groupID %>"
                               onClick="EnableSubmit(this)" disabled/>
                          <% } %>
                      </td>
                        <% } %>
                        <% }); %>
                    </tr>

                    <% alerts.forEach(function(alert) { %>
                    <% if (alert.softDeleted == false) { %>
                    <% if (alertGroup.groupID == alert.group.groupID) { %>
                    <tr>
                      <th style="position: relative; padding-left: 30px" headers="users" id="receive_<%= alert.alertName %>"><%= alert.alertName %></th>
                        <% roles2.forEach(function(roles2) { %>
                        <% var backColor = '' %>
                        <% if (roles2.roleID > 95) { %>
                        <% backColor = '#f9ebd6' %>
                        <% } %>
                        <% if (roles2.roleID !== 99) { %>
                      <td headers="users <%= alert.alertName %>  <%= roles2.roleName %>" align="center" style="background-color: <%= backColor %>">
                          <% if ((aclModifyAlertsTable == null || aclModifyAlertsTable.checkBoxValue == true)) {%>
                        <input type="checkbox"
                               name="aclAlertCheckBoxRealReceived"
                               value="<%= alert.alertID %>-<%= roles2.roleID %>"
                               class="Rr<%= roles2.roleID %><%= alertGroup.groupID %>"
                                <% alert.whoCanSendReceive.receiveReal.forEach(function(rr) { %>
                                <% if ( rr.roleID == roles2.roleID && rr.checkbox == true) { %>
                               checked
                                <% } %>
                                <% }); %>
                               onClick="EnableSubmit(this)"/>
                          <% } else { %>
                        <input type="checkbox"
                               name="aclAlertCheckBoxRealReceived"
                               value="<%= alert.alertID %>-<%= roles2.roleID %>"
                               class="Rr<%= roles2.roleID %><%= alertGroup.groupID %>"
                                <% alert.whoCanSendReceive.receiveReal.forEach(function(rr) { %>
                                <% if ( rr.roleID == roles2.roleID && rr.checkbox == true) { %>
                               checked
                                <% } %>
                                <% }); %>
                               onClick="EnableSubmit(this)" disabled/>
                          <% } %>
                      </td>
                        <% } %>
                        <% }); %>
                    </tr>
                    <% } %>
                    <% } %>
                    <% }); %>
                    <% }); %>
                    </tbody>
                  </table>
                </div>
                <!-- /TAB REAL RECEIVE -->





                <!-- TAB DRILL SEND -->
                <div role="tabpane1" class="tab-pane fade in table-responsive" id="tab_content3">
                  <table id="" class="table table-bordered">
                    <thead>
                    <tr>
                      <td> WHO CAN SEND DRILL ALERTS</td>
                        <% roles2.forEach(function(roles2) { %>
                        <% if (roles2.roleID < 96) { %>
                      <th id="<%= roles2.roleName %>" scope="col"><b><%= roles2.roleName %></b></th>
                        <% } %>
                        <% }); %>
                    </tr>
                    </thead>
                    <tbody>
                    <% alertGroup.forEach(function(alertGroup) { %>
                    <tr>
                      <th align="left" bgcolor="#f5f5f5">&nbsp<b><%= alertGroup.name %></b></th>
                        <% roles2.forEach(function(roles2) { %>
                        <% if (roles2.roleID < 96) { %>
                      <td headers="users <%= alerts.alertName %>  <%= roles2.roleName %>" align="center" bgcolor="#f5f5f5">
                          <% if ((aclModifyAlertsTable == null || aclModifyAlertsTable.checkBoxValue == true)) {%>
                        <input type="checkbox"
                               name="multi"
                               id="Sd<%= roles2.roleID %><%= alertGroup.groupID %>"
                               class="chk-all"
                               data-child="Sd<%= roles2.roleID %><%= alertGroup.groupID %>"
                               onClick="EnableSubmit(this)"/>
                          <% } else { %>
                        <input type="checkbox"
                               name="multi"
                               id="Sd<%= roles2.roleID %><%= alertGroup.groupID %>"
                               class="chk-all"
                               data-child="Sd<%= roles2.roleID %><%= alertGroup.groupID %>"
                               onClick="EnableSubmit(this)" disabled/>
                          <% } %>
                      </td>
                        <% } %>
                        <% }); %>
                    </tr>
                    <% alerts.forEach(function(alert) { %>
                    <% if (alert.softDeleted == false) { %>
                    <% if (alertGroup.groupID == alert.group.groupID) { %>

                    <tr>
                      <th style="position: relative; padding-left: 30px" headers="users" id="send_<%= alert.alertName %>"><%= alert.alertName %></th>
                        <% roles2.forEach(function(roles2) { %>
                        <% if (roles2.roleID < 96) { %>
                      <td headers="users <%= alert.alertName %>  <%= roles2.roleName %>" align="center">
                          <% if ((aclModifyAlertsTable == null || aclModifyAlertsTable.checkBoxValue == true)) {%>
                        <input type="checkbox"
                               name="aclAlertCheckBoxDrillSend"
                               value="<%= alert.alertID %>-<%= roles2.roleID %>"
                               class="Sd<%= roles2.roleID %><%= alertGroup.groupID %>"
                                <% alert.whoCanSendReceive.sendDrill.forEach(function(sd) { %>
                                <% if ( sd.roleID == roles2.roleID && sd.checkbox == true) { %>
                               checked
                                <% } %>
                                <% }); %>
                               onClick="EnableSubmit(this)" />
                          <% } else { %>
                        <input type="checkbox"
                               name="aclAlertCheckBoxDrillSend"
                               value="<%= alert.alertID %>-<%= roles2.roleID %>"
                               class="Sd<%= roles2.roleID %><%= alertGroup.groupID %>"
                                <% alert.whoCanSendReceive.sendDrill.forEach(function(sd) { %>
                                <% if ( sd.roleID == roles2.roleID && sd.checkbox == true) { %>
                               checked
                                <% } %>
                                <% }); %>
                               onClick="EnableSubmit(this)" disabled/>
                          <% } %>

                      </td>
                        <% } %>
                        <% }); %>
                    </tr>
                    <% } %>
                    <% } %>
                    <% }); %>
                    <% }); %>


                    </tbody>
                  </table>
                </div>
                <!-- /TAB DRILL SEND -->



                <!-- TAB DRILL RECEIVE -->
                <div role="tabpane1" class="tab-pane fade table-responsive" id="tab_content4">
                  <table id="" class="table table-bordered">
                    <thead>
                    <tr>
                      <td>WHO CAN RECEIVE DRILL ALERTS
                        <i class="asteriskColor circlePosition fa fa-info-circle tooltipWhoCanReceive" onclick="">
                                        <span class="tooltipTextBottom">
                                            <div><span class="infoTitleColor"> Orange rows :</span><span class="infoText"> if checkbox is selected, alert will be sent to 3rd parties users.</span></div><br><br>
                                        </span>
                        </i>
                      </td>
                        <% roles2.forEach(function(roles2) { %>
                        <% var backColor = '' %>
                        <% var text = '' %>
                        <% if (roles2.roleID > 95) { %>
                        <% backColor = '#f9ebd6' %>
                        <% text = '' %>
                        <% } %>
                        <% if (roles2.roleID !== 99) { %>
                      <th id="<%= roles2.roleName %>" scope="col" style="background-color: <%= backColor %>; color: <%= text %>"><b><%= roles2.roleName %></b></th>
                        <% } %>
                        <% }); %>
                    </tr>
                    </thead>
                    <tbody>

                    <% alertGroup.forEach(function(alertGroup) { %>
                    <tr>
                      <th align="left" bgcolor="#f5f5f5">&nbsp<b><%= alertGroup.name %></b></th>
                        <% roles2.forEach(function(roles2) { %>
                        <% var backColor = '' %>
                        <% var text = '' %>
                        <% if (roles2.roleID > 95) { %>
                        <% backColor = '#f7e2c3' %>
                        <% text = '' %>
                        <% } %>
                        <% if (roles2.roleID !== 99) { %>
                      <td headers="users <%= alerts.alertName %>  <%= roles2.roleName %>" align="center" bgcolor="#f5f5f5" style="background-color: <%= backColor %>; color: <%= text %>">
                          <% if ((aclModifyAlertsTable == null || aclModifyAlertsTable.checkBoxValue == true)) {%>
                        <input type="checkbox"
                               name="multi"
                               id="Rd<%= roles2.roleID %><%= alertGroup.groupID %>"
                               class="chk-all"
                               data-child="Rd<%= roles2.roleID %><%= alertGroup.groupID %>"
                               onClick="EnableSubmit(this)"/>
                          <% } else { %>
                        <input type="checkbox"
                               name="multi"
                               id="Rd<%= roles2.roleID %><%= alertGroup.groupID %>"
                               class="chk-all"
                               data-child="Rd<%= roles2.roleID %><%= alertGroup.groupID %>"
                               onClick="EnableSubmit(this)" disabled/>
                          <% } %>
                      </td>
                        <% } %>
                        <% }); %>
                    </tr>

                    <% alerts.forEach(function(alert) { %>
                    <% if (alert.softDeleted == false) { %>
                    <% if (alertGroup.groupID == alert.group.groupID) { %>
                    <tr>
                      <th style="position: relative; padding-left: 30px" headers="users" id="receive_<%= alert.alertName %>"><%= alert.alertName %></th>
                        <% roles2.forEach(function(roles2) { %>
                        <% var backColor = '' %>
                        <% if (roles2.roleID > 95) { %>
                        <% backColor = '#f9ebd6' %>
                        <% } %>
                        <% if (roles2.roleID !== 99) { %>
                      <td headers="users <%= alert.alertName %>  <%= roles2.roleName %>" align="center" style="background-color: <%= backColor %>">
                          <% if ((aclModifyAlertsTable == null || aclModifyAlertsTable.checkBoxValue == true)) {%>
                        <input type="checkbox"
                               name="aclAlertCheckBoxDrillReceived"
                               value="<%= alert.alertID %>-<%= roles2.roleID %>"
                               class="Rd<%= roles2.roleID %><%= alertGroup.groupID %>"
                                <% alert.whoCanSendReceive.receiveDrill.forEach(function(rd) { %>
                                <% if ( rd.roleID == roles2.roleID && rd.checkbox == true) { %>
                               checked
                                <% } %>
                                <% }); %>
                               onClick="EnableSubmit(this)"/>
                          <% } else { %>
                        <input type="checkbox"
                               name="aclAlertCheckBoxDrillReceived"
                               value="<%= alert.alertID %>-<%= roles2.roleID %>"
                               class="Rd<%= roles2.roleID %><%= alertGroup.groupID %>"
                                <% alert.whoCanSendReceive.receiveDrill.forEach(function(rd) { %>
                                <% if ( rd.roleID == roles2.roleID && rd.checkbox == true) { %>
                               checked
                                <% } %>
                                <% }); %>
                               onClick="EnableSubmit(this)" disabled/>
                          <% } %>
                      </td>
                        <% } %>
                        <% }); %>
                    </tr>
                    <% } %>
                    <% } %>
                    <% }); %>
                    <% }); %>
                    </tbody>
                  </table>
                </div>
                <!-- /TAB DRILL RECEIVE -->



              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.js"></script>

<!-- Datatables -->
<script src="/public/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>

<script src="/public/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>

<script src="/public/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/public/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/public/gentelella/vendors/jszip/dist/jszip.min.js"></script>
<script src="/public/gentelella/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/public/gentelella/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.js"></script>


</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>
