<!DOCTYPE html>
<html>
<head>
    <title>Show Alerts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery.tablesorter.js"></script>

    <script type = "text/javascript">
        $(document).ready(function()
                {
                    $("#myTable").tablesorter();
                }
        );
        $("#alertLink").live("click", function () {
            $.ajax({
                url: '/alerts/showAlerts',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',

                error: function(error){
                    if(error.responseText == 'showAlert')
                        alert("Alert not deleted.")
                }
            });
        });
    </script>

</head>
<body>
<h1><%= title %></h1>

<form action="/alerts/createAlert">
    <% if (userAuthID == 1) {%>
    <input type="submit" value="Create Alert"><br><br>
    <% } else { %>
    <input type="hidden" value="Create Alert"><br><br>
    <% } %>
</form>

<form action="/alerts/addAlerts">
    <% if (aclAddAlert == null || aclAddAlert.checkBoxValue == true) {%>
    <input type="submit" value="Add/Delete Alert"><br><br>
    <% } else { %>
    <input type="submit" value="Add/Delete Alert" disabled><br><br>
    <% } %>
</form>
<table id="myTable" class="tablesorter">
    <caption>
        TIP! Sort multiple columns simultaneously by holding down the shift key and clicking a second column header!
    </caption>
    <thead>
    <tr>
        <th>Group #</th>
        <th>Alert Group</th>
        <th>Alert #</th>
        <th>Alert Name</th>
        <% if (userAuthID == 1) {%>
        <th>Alert SlugName</th>
        <th>Alert ID</th>
        <% } %>
        <th>Call 911</th>
        <th>Procedure</th>
        <th>Update</th>
        <th>Remove</th>
    </tr>
    <tbody>
    <% alertsGroup.forEach(function(alertGroup) { %>
    <% alert.forEach(function(alert) { %>
    <% if(alertGroup.alertTypeName == alert.alertTypeName) { %>
    <% if (alert.softDeleted == false) { %>
    <tr>
        <td><%= alertGroup.sortID %></td>
        <td><%= alert.alertTypeName %></td>
        <td><%= alert.sortID %></td>
        <td><%= alert.alertName %></td>
        <% if (userAuthID == 1) {%>
        <td><%= alert.alertSlugName %></td>
        <td><%= alert.alertID %></td>
        <% } %>
        <% if (alert.alertRequest911Call) {%>

            <% if (alert.whoCanCall911.length < 2 ) {%>
                <td><a href="/roles911/<%= alert.id %>"><%= alert.whoCanCall911.length %> role</a></td>
            <% } else { %>
                <td><a href="/roles911/<%= alert.id %>"><%= alert.whoCanCall911.length %> roles</a></td>
            <% } %>
        <% } else { %>
            <td>No</td>
        <% } %>
        <td>
            <% if (aclShowProcedure == null || aclShowProcedure.checkBoxValue == true) {%>
            <a href="/alerts/procedure/<%= alert.id %>"><button class="inTable">show</button></a>
            <% } else { %>
            <a href="/alerts/procedure/<%= alert.id %>"><button class="inTable" disabled>show</button></a>
            <% } %>
        </td>
        <td>
            <% if (aclModifyAlert == null || aclModifyAlert.checkBoxValue == true) {%>
            <a href="/alerts/updateAlerts/<%= alert.id %>"><button class="inTable">update</button></a>
            <% } else { %>
            <a href="/alerts/updateAlerts/<%= alert.id %>"><button class="inTable" disabled>update</button></a>
            <% } %>
        </td>
        <td>
            <% if (aclDeleteAlert == null || aclDeleteAlert.checkBoxValue == true) {%>
            <a href="/alerts/delete/<%= alert.id %>" id="alertLink"><button class="inTable">remove</button></a>
            <% } else { %>
            <a href="/alerts/delete/<%= alert.id %>" id="alertLink"><button class="inTable" disabled>remove</button></a>
            <% } %>
        </td>
    </tr>
    <% } %>
    <% } %>
    <% }); %>
    <% }); %>
    </tbody>
</table><br>



<form action="/dashboard">
    <input type="submit" value="Back">
</form>
</body>
</html>
