
<html lang="en">
<head>

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link rel='stylesheet' href='/public/stylesheets/addUtility.css' />
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>

    <!-- iCheck -->
    <link href="/public/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">


    <script>
        var choices;
        function selectUser(select)
        {
            var option = select.options[select.selectedIndex];
            if(option.id != 'userList') {
                var ul = select.parentNode.getElementsByTagName('ul')[0];
                choices = ul.getElementsByTagName('input');

                for (var i = 0; i < choices.length; i++) {
                    if (choices[i].value == option.value) {
                        return;
                    }
                }

                var li = document.createElement('li');
                var input = document.createElement('input');
                var text = document.createTextNode(option.firstChild.data);

                input.type = 'hidden';
                input.name = 'users[]';
                input.value = option.value;

                li.appendChild(input);
                li.appendChild(text);
                li.setAttribute('onclick', 'this.parentNode.removeChild(this);');

                ul.appendChild(li);
            }
        }
        var usersToRemove = [];
        function removeUser(user){
            var choice = user.getElementsByTagName('input');
            //console.log(choice[0].value);
            usersToRemove.push(choice[0].value);
        }

        $(document).ready(function(){
            var oldSortID = $("#oldSortID").val();
            var select_sort = '';
            var sortArray = $("#inUseSortID").val().split(",").map(Number);
            for (var a=1;a<=99;a++){
                if(sortArray.indexOf(a) == -1 || a == oldSortID){
                    if(a == oldSortID){
                        select_sort += '<option val=' + a + ' selected="selected">' + a + '</option>';
                    }else{
                        select_sort += '<option val=' + a + '>' + a + '</option>';
                    }
                }
            }
            $('#sort_select').html(select_sort);

            var oldUtilityID = $("#oldUtilityID").val();
            var select = '';
            var myArray = $("#inUseUtilityID").val().split(",").map(Number);
            for (i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1 || i == oldUtilityID){
                    if(i == oldUtilityID){
                        select += '<option val=' + i + ' selected="selected">' + i + '</option>';
                    }else{
                        select += '<option val=' + i + '>' + i + '</option>';
                    }
                }
            }
            $('#some_select').html(select);

            //$(":radio[value=email]")
            var savedDefaultContact;
            function getRadioValue() {
                savedDefaultContact=$("#savedDefaultContact").val();
                for (var i = 0; i < document.getElementsByName('defaultContact').length; i++) {
                    if (document.getElementsByName('defaultContact')[i].value == savedDefaultContact ) {
                        document.getElementsByName('defaultContact')[i].checked = true
                    }
                }
            }
            getRadioValue();

            function radioOff() {
                $('#smecsUserSelect').removeClass().addClass('disable2');
                $("#smecsUserSelect").attr('disabled',true);
                $('#imgAdd').removeClass().addClass('disable2');
                $('#smecsUserLabel').removeClass().addClass('disable2');
                $('#smecsUserDiv').removeClass().addClass('disable2');
                $('#smecsUserUl').removeClass().addClass('disable2');
                $('#clickHere').removeClass().addClass('disable2');
            }
            function radioOn() {
                $('#smecsUserSelect').removeClass().addClass('enable');
                $("#smecsUserSelect").attr('disabled',false);
                $('#imgAdd').removeClass().addClass('enable');
                $('#smecsUserLabel').removeClass().addClass('enable');
                $('#smecsUserDiv').removeClass().addClass('enable');
                $('#smecsUserUl').removeClass().addClass('enable');
                $('#clickHere').removeClass().addClass('enable');
            }

            //This will check the status of radio button on page load
            $('input[name=smecsApp]:checked').each(function() {
                var checkVal = $(this).val();
                if (checkVal == 'false'){
                    radioOff();
                } else {
                    $('#smecsUserDiv').show(); //to remove display: none
                    radioOn();
                }
            });
            //This will check the status of radio button onclick
            $('#smecsApp').on('ifChecked', function () {
                radioOff();
            })
            $('#smecsApp').on('ifUnchecked', function () {
                $('#smecsUserDiv').show(); //to remove display: none
                radioOn();
            })

            var utility_ID, utilityName, utilityID, contactName, phone, email, smecsApp, defaultContact, sortID;
            $("#<%= utility.id %>").click(function(){
                utility_ID=$(this).attr('id');
                utilityName=$("#utilityName").val();
                utilityID=$("#some_select").val();
                contactName=$("#contactName").val();
                phone=$("#phone").val();
                email=$("#email").val();
                smecsApp=$("input:radio[name='smecsApp']:checked").val();
                defaultContact=$("input:radio[name='defaultContact']:checked").val();
                sortID=$("#sort_select").val();

                var arrayUsers = [];
                if (choices === undefined){
                    arrayUsers = $("#savedValueSmecsUsers").val().split(",");
                    for (var a = 0; a < usersToRemove.length; a++) {
                        for (var i = 0; i < arrayUsers.length; i++) {
                            if (usersToRemove[a] == arrayUsers[i]){
                                arrayUsers.splice(i, 1);
                            }
                        }
                    }

                } else {
                    if(choices.length > 0) {
                        for (var a = 0; a < choices.length; a++) {
                            arrayUsers.push(choices[a].value);
                        }
                    }
                }

                //-----forms validation------------------------------------
                if (utilityName == "" ) {
                    alert("UTILITY NAME must be filled out");
                    return false;
                }

                //var phoneFormat =/^\d{3}[\-]\d{3}[\-]\d{4}$/; //ex: 333-333-4444
                //valid input phone format: (123) 456-7890 or (123)4567890 or 123-456-7890 or 123.456.7890 or 1234567890
                var phoneFormat =/^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/;
                //console.log('phoneFormat = ' + phoneNumber);
                if (!phoneFormat.test(phone) && phone !== '' ) {
                    alert("Please input a valid Phone Number! ex: xxx-xxx-xxxx or (xxx) xxx-xxxx or xxxxxxxxxx");
                    return false;
                }

                var mailFormat = /^([a-z A-Z 0-9 _\.\-])+\@(([a-z A-Z 0-9\-])+\.)+([a-z A-z 0-9]{2,4})+$/;
                if (!mailFormat.test(email) && email !== '' ) {
                    alert("Please input a valid EMAIL address!");
                    return false;
                }

                /*strange behaviour when saving and radio smecs == true and no user is in arrayUsers.
                Its s adding 1 user in arrayUsers(arrayUsers[0] == "").
                Following "if" is to delete this user */
                if(arrayUsers.length == 1 && arrayUsers[0] == ""){
                    var index = arrayUsers.indexOf(5);
                    arrayUsers.splice( index, 1 );
                }
                if(smecsApp == 'true' && arrayUsers.length < 1 ){
                    alert("You have selected Company/Person have/has SMECS app. Please select at least one user from dropdown list");
                    return false;
                }


                if (defaultContact == 'phone' && !phoneFormat.test(phone) && phone == '' ) {
                    alert("Default contact can't be Phone because there is no valid phone number. Please input first a valid Phone Number! ex: (xxx) xxx-xxxx or xxx-xxx-xxxx or xxxxxxxxxx");
                    return false;
                }
                if (defaultContact == 'email' && !mailFormat.test(email) && email == '' ) {
                    alert("Default contact can't be Email because there is no valid email address. Please input first a valid EMAIL Address!");
                    return false;
                }
                if (defaultContact == 'smecsApp' && smecsApp == 'false') {
                    alert("Default contact can't be SMECS App because third party doesn't have SMECS App. Please choose a different default contact option");
                    return false;
                }

                //--------------------------------forms validation end-------
                $.post("/utilities/updateUtilities",{
                    utilityToUpdate: utility_ID,
                    utilityName: utilityName,
                    utilityID: utilityID,
                    contactName: contactName,
                    phone: phone,
                    email: email,
                    smecsApp: smecsApp,
                    smecsUsers: arrayUsers,
                    defaultContact: defaultContact,
                    sortID: sortID

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Utility Name already in use. Choose a different Name .")
                });
            });
        });
    </script>


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ./../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ./../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ./../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="page-title">
                <div class="title_left">
                    <h3><%= title %></h3>
                </div>



                <div class="title_right">

                    <div class="pull-left">
                        <% if (aclModifyUtilities == null || aclModifyUtilities.checkBoxValue == true) {%>
                            <button type="button"
                                    id="<%= utility.id %>"
                                    value="Submit"
                                    class="btn btn-success">Save
                            </button>

                        <% } else { %>
                            <button type="button"
                                    id="<%= utility.id %>"
                                    value="Submit"
                                    class="btn btn-success" disabled>Save
                            </button>
                        <% } %>

                        <a href="/utilities/showUtilities"><button type="button" class="btn btn-default">Cancel</button></a>

                    </div>


                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>



            <input type="hidden" id="oldUtilityName" value="<%= utility.utilityName %>">
            <input type="hidden" id="oldUtilityID" value="<%= utility.utilityID %>">
            <input type="hidden" id="savedDefaultContact" value="<%= utility.defaultContact %>">
            <input type="hidden" id="savedValueSmecsApp" value="<%= utility.smecsApp %>">
            <input type="hidden" id="savedValueSmecsUsers" value="<%= utility.smecsUsers %>">
            <input type="hidden" id="inUseUtilityID" value="<%= array %>">


            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Information</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Utility Name <span class="required" style="color: red">*</span>:</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               id="utilityName"
                                               value="<%= utility.utilityName %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Contact/Company/Person name encharge of repair:</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               id="contactName"
                                               placeholder="(optional)"
                                               value="<%= utility.contactName %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Company/Person Phone number:</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               id="phone"
                                               placeholder="(optional)"
                                               value="<%= utility.phone %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Company/Person Email address:</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               id="email"
                                               placeholder="(optional)"
                                               value="<%= utility.email %>">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Sort ID:</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="hidden" id="oldSortID" value="<%= utility.sortID %>">
                                        <input type="hidden" id="inUseSortID" value="<%= arraySort %>">
                                        <select id='sort_select' class="form-control"></select>
                                    </div>
                                </div>


                                <div class="form-group <%= showHideAlertID %>">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Alert ID</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id='some_select' class="form-control"></select>
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" style="margin-top: -6px">Company/Person is using SMECS app:</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        <%if (utility.smecsApp == false) { %>
                                            <input
                                                    type="radio"
                                                    class="flat"
                                                    id="smecsApp"
                                                    name="smecsApp"
                                                    value="false" checked>
                                            <label for="req911" style="font-weight:normal; position: relative; top: 4px" >No</label>&emsp;&emsp;
                                            <input type="radio"
                                                   class="flat"
                                                   id="smecsApp"
                                                   name="smecsApp"
                                                   value="true">
                                            <label for="req911" style="font-weight:normal; position: relative; top: 4px" >Yes</label>
                                        <% }else {%>
                                            <input type="radio"
                                                   class="flat"
                                                   id="smecsApp"
                                                   name="smecsApp"
                                                   value="false">
                                            <label for="req911" style="font-weight:normal; position: relative; top: 4px" >No</label>&emsp;&emsp;
                                            <input type="radio"
                                                   class="flat"
                                                   id="smecsApp"
                                                   name="smecsApp"
                                                   value="true" checked>
                                            <label for="req911" style="font-weight:normal; position: relative; top: 4px" >Yes</label>
                                        <% }%>
                                        <br><br>

                                        <div id="smecsUserDiv" class="enable">
                                            <label for="smecsUserLabel" id="smecsUserLabel" class="enable">SMECS user to login:</label><br>

                                            <ul id="smecsUserUl" class="enable">
                                                <% for (var a = 0; a < utility.smecsUsers.length; a++) { %>
                                                    <li id="user1" onclick="this.parentNode.removeChild(this); removeUser(this)">
                                                        <input type="hidden" name="users[]" value="<%= utility.smecsUsers[a] %>" />
                                                        <%= utility.smecsUsers[a] %>
                                                    </li>
                                                <% } %>

                                            </ul>

                                            <select class="enable" id="smecsUserSelect" onchange="selectUser(this);">
                                                <!–– <option selected disabled hidden> -- select a user -- </option> ––>
                                                <option disabled selected id="userList"> -- select a user from dropdown list -- </option>
                                                <% utilityUsers.forEach(function(user) { %>
                                                    <% if (user.softDeleted == null) { %>
                                                        <option value="<%= user.email %>" ><%= user.email %>&emsp; (<%= user.companyName %>)</option>
                                                    <% } %>
                                                <% }); %>
                                            </select>
                                            <img id="imgAdd" class="enable" src="/miscPictures/add.png" alt="Add" style="vertical-align: middle;" onclick="selectUser($(this).prev().get(0));">
                                            <br><br>
                                            If you want to insert a new user to dropdown list <a id="clickHere" class="enable" href="/utilities/addUtilitiesUsers">click here</a>.
                                        </div>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Default contact method:</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input
                                                type="radio"
                                                class="flat"
                                                name="defaultContact"
                                                value="ask">
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px">None/Ask what contact method to use when sending alert</label><br>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input
                                                type="radio"
                                                class="flat"
                                                name="defaultContact"
                                                value="phone">
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px">Call Phone number</label><br>

                                        <input
                                                type="radio"
                                                class="flat"
                                                name="defaultContact"
                                                value="email">
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px">Send an Email</label><br>

                                        <input
                                                type="radio"
                                                class="flat"
                                                name="defaultContact"
                                                value="smecsApp">
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px">Use SMECS App to send alert to third party/contractor</label><br>
                                    </div>
                                </div>


                            </form>
                            <div class="ln_solid"></div>
                        </div>
                    </div>




                </div>


















            </div>

        </div>

        <!-- /page content -->


    </div>
</div>


<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.min.js"></script>
<!-- Google Analytics -->

</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ./../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>