<html>
<head>
    <title>Choose Alert</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/chooseAlert.css' />
    <script>

        // end of Reload whole page if page is cached
        $(document).ready(function(){

            // get gps location of bus
            //if(alertID.value == 12) {
                var destLatitude = '';
                var destLongitude = '';
                navigator.geolocation.getCurrentPosition(function (location) {
                    destLatitude = location.coords.latitude;
                    destLongitude = location.coords.longitude;
                });
            //}
            var mapBus = "https://maps.googleapis.com/maps/api/staticmap?center=" + destLatitude + "," + destLongitude + "&zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:C%7C" + destLatitude + "," + destLongitude + "&key=AIzaSyBAw-JyKkjlWWCn2OgnWsmeNBbQgC1Uodw"

            // end of  get gps location of bus



            var modeDrill=$("#testMode").val();
            var modeDemo=$("#demoMode").val();


            if (modeDrill == 'true') {
                $("#realDiv").hide('slow');
                $("#drillDiv").show('slow');
                $("#demoDiv").hide('slow');
            }
            if (modeDemo == 'true') {
                $("#realDiv").hide('slow');
                $("#drillDiv").hide('slow');
                $("#demoDiv").show('slow');
            }

            $('input[name=radios]').click(function () {

                if (this.id == "real") {
                    $("#realDiv").show('slow');
                    $("#drillDiv").hide('slow');
                    $("#demoDiv").hide('slow');
                }
                if (this.id == "drill") {
                    $("#realDiv").hide('slow');
                    $("#drillDiv").show('slow');
                    $("#demoDiv").hide('slow');
                }
                if (this.id == "demo") {
                    $("#realDiv").hide('slow');
                    $("#drillDiv").hide('slow');
                    $("#demoDiv").show('slow');
                }
            });

            var alert_ID, alertID, alertGroupID, alertGroupName, alertName, alertMode;
            $("#btSubmit").click(function(){
                alert_ID=$("#alertNameID").val();
                alertGroupID = $('input[name=alert]:checked').val();
                alertID=$('input[name=alert]:checked').attr('id');
                alertName = $("input:radio[name='alert']:checked + label").text();
                alertGroupName = $("input:radio[name='alert']:checked + label").attr('id');
                alertMode = $('input[name=radios]:checked').val(); //real, drill, or demo

                //-----forms validation------------------------------------

                if (alertGroupID == null ) {
                    alert("You must choose one Alert");
                    return false;
                }
                //--------------------------------forms validation end-------
                $.post("/alerts/sending/chooseAlert",{
                    alertToUpdate: alert_ID,
                    alertGroupID: alertGroupID,
                    alertGroupName: alertGroupName,
                    alertID: alertID,
                    alertName: alertName,
                    testModeON: testModeON,
                    alertMode: alertMode,
                    latitude: destLatitude,
                    longitude: destLongitude,
                    mapBus: mapBus

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Alert not sent.")
                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>

<% if ( error_messages ) { %>
<p style="color: red"><%- error_messages %></p>
<% } %>

<input type="hidden" id="alertNameID"  value="<%= alert.id %>">
<input type="hidden" id="testMode"  value="<%= alert.testModeON %>">
<input type="hidden" id="demoMode"  value="<%= alert.demoModeON %>">

<!-- if user authenticated has permission to send Test alert -> draw checkbox Test Mode//-->
<% if ( aclTest.length >=1 && alert.id == 0) { %>
    <div class="btn-group" data-toggle="buttons">
        <label class="">
            <input type="radio" name="radios" id="real" value="real" checked/>Real</label>
        <label class="">
            <input type="radio" name="radios" id="drill" value="drill"/>Drill</label>
        <label class="">
            <input type="radio" name="radios" id="demo" value="demo"/>Demo</label>
    </div>
<% } %>

<br>
<form>

    <div id='realDiv' name="testModeOFF">
        <% for (var i=0; i < aclReal.length; i++ ){ %>

        <input type="radio" name="alert" id=<%= aclReal[i].alertID %> value="<%= aclReal[i].group.groupID %>" >
        <label for="alert"
               style="background-color: <%= aclReal[i].group.color.bgValue %>;color: <%= aclReal[i].group.color.textValue %>"
               id="<%= aclReal[i].group.name %>"
        ><%= aclReal[i].alertName %></label><br>
        <% } %>
    </div>

    <div id='drillDiv' name="testModeON" style='display:none'>
        <% for (var i=0; i < aclTest.length; i++ ){ %>
        <input type="radio" name="alert" id=<%= aclTest[i].alertID %> value="<%= aclTest[i].group.groupID %>" >
        <label for="alert" style="background-color: <%= aclTest[i].group.color.bgValue %>;color: <%= aclTest[i].group.color.textValue %>"
               id="<%= aclTest[i].group.name %>"
        ><%= aclTest[i].alertName %></label><br>
        <% } %>
    </div>

    <div id='demoDiv' name="testModeON" style='display:none'>
        <% for (var i=0; i < aclDemo.length; i++ ){ %>
            <input type="radio" name="alert" id=<%= aclDemo[i].alertID %> value="<%= aclDemo[i].group.groupID %>" >
            <label for="alert" style="background-color: <%= aclDemo[i].group.color.bgValue %>;color: <%= aclDemo[i].group.color.textValue %>"
                   id="<%= aclDemo[i].group.name %>"
            ><%= aclDemo[i].alertName %></label><br>
        <% } %>
    </div>

    <br>
    <input type="button" style="width: 10em; height: 1.8em" id="btSubmit" value="Next" ><br>
</form>


<% if ( alert.id !== 0 ) { %>
<form action="/alerts/sending/chooseGroup">
    <input type="submit" value="Back">
</form>
<% } else { %>
<form action="/reports/homeReports">
    <input type="submit" value="Exit">
</form>
<% } %>
</body>
</html>