<html>
<head>
    <title>Choose Alert</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/chooseAlert.css' />
    <script>
        $(document).ready(function(){

            $('input[name=radios]').click(function () {

                if (this.id == "real") {
                    $("#realDiv").show('slow');
                    $("#drillDiv").hide('slow');
                    $("#demoDiv").hide('slow');
                }
                if (this.id == "drill") {
                    $("#realDiv").hide('slow');
                    $("#drillDiv").show('slow');
                    $("#demoDiv").hide('slow');
                }
                if (this.id == "demo") {
                    $("#realDiv").hide('slow');
                    $("#drillDiv").hide('slow');
                    $("#demoDiv").show('slow');
                }
            });


            var alertGroupID, alertGroupName, groupIcon, alertMode;
            $("#btSubmit").click(function(){
                alertGroupID = $('input[name=alert]:checked').val();
                alertGroupName = $("input:radio[name='alert']:checked + label").text();
                groupIcon = $("#groupIcon").val();
                alertMode = $('input[name=radios]:checked').val(); //real, drill, or demo


                //-----forms validation------------------------------------

                if (alertGroupID == null ) {
                    alert("You must choose one Alert");
                    return false;
                }
                //--------------------------------forms validation end-------

                $.post("/alerts/sending/chooseGroup",{
                    alertGroupID: alertGroupID,
                    alertGroupName: alertGroupName,
                    groupIcon: groupIcon,
                    alertMode: alertMode

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Alert not sent.")
                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>

<% if ( error_messages ) { %>
<p style="color: red"><%- error_messages %></p><br>
<% } %>


<% if ( aclTest.length >=1 ) { %>
<div class="btn-group" data-toggle="buttons">
    <label class="">
        <input type="radio" name="radios" id="real" value="real" checked/>Real</label>
    <label class="">
        <input type="radio" name="radios" id="drill" value="drill"/>Drill</label>
    <label class="">
        <input type="radio" name="radios" id="demo" value="demo"/>Demo</label>
</div>
<% } %>

<br>



<form>
    <div id='realDiv' name="testModeOFF">
        <% for (var i=0; i < aclReal.length; i++ ){ %>
        <input type="hidden" id="groupIcon" value="<%= aclReal[i].group.icon %>">

        <input type="radio" name="alert" id="<%= aclReal[i].group.groupID %>" value="<%= aclReal[i].group.groupID %>" >
        <label for="alert"
               style="background-color: <%= aclReal[i].group.color.bgValue %>;color: <%= aclReal[i].group.color.textValue %>"
               id="<%= aclReal[i].alertColor %>"
        ><%= aclReal[i].group.name %></label><br>
        <% } %>
    </div>

    <div id='drillDiv' name="testModeON" style='display:none'>
        <% for (var i=0; i < aclTest.length; i++ ){ %>
        <input type="radio" name="alert" id="<%= aclTest[i].group.groupID %>" value="<%= aclTest[i].group.groupID %>" >
        <label for="alert"
               style="background-color: <%= aclTest[i].group.color.bgValue %>;color: <%= aclTest[i].group.color.textValue %>"
        ><%= aclTest[i].group.name %></label><br>
        <% } %>
    </div>

    <div id='demoDiv' name="testModeDEMO" style='display:none'>
        <% for (var i=0; i < aclDemo.length; i++ ){ %>
            <input type="radio" name="alert" id="<%= aclDemo[i].group.groupID %>" value="<%= aclDemo[i].group.groupID %>" >
            <label for="alert"
                   style="background-color: <%= aclDemo[i].group.color.bgValue %>;color: <%= aclDemo[i].group.color.textValue %>"
            ><%= aclDemo[i].group.name %></label><br>
        <% } %>
    </div>
    <br>
    <input type="button" style="width: 10em; height: 1.8em" id="btSubmit" value="Next" ><br>
</form>

<form action="/reports/homeReports">
    <input type="submit" value="Exit">
</form>

</body>
</html>