<html>
<head>
    <title>Alert</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/sendAlert.css' />
    <script>
        $(document).ready(function(){
            let yPercent,xPercent;
            let divStartTop, divStartLeft;
            let redCrossCenterTop, redCrossCenterLeft;
            let y,x; //final values to save on database

            let divPos = {};
            let offset = $("#div1").offset();   //mouse position related to div1
            $(document).mousemove(function(e){  //mouse position related to div1
                divPos = {
                    top: e.pageY - offset.top,
                    left: e.pageX - offset.left
                };

                yPercent = divPos.top/document.getElementById('div1').offsetHeight*100; // transform px position to percentage position (related to div1 size)
                xPercent = divPos.left/document.getElementById('div1').offsetWidth*100;
            });
            //end of mouse position related to div2

            //put sniper visible and on place
            $("#showP").click(function(){
                redCrossCenterTop = 32; // depends on size of red cross picture. Center red cross picture to touch/click
                redCrossCenterLeft = 32;

                divStartTop = document.getElementById('div1').offsetTop; // where div starts. CSS ex:-> top:200px;
                divStartLeft = document.getElementById('div1').offsetLeft;  // CSS ex:-> left:200px;

                document.getElementById("div2").className="div3";   //put red cross picture visible
                document.getElementById("div2").style.top = ( divStartTop + divPos.top - redCrossCenterTop )+'px';  // red cross location final location
                document.getElementById("div2").style.left= ( divStartLeft + divPos.left - redCrossCenterLeft )+'px';

                y = yPercent;   //value to save on database
                x = xPercent;

                //console.log('divPos.top , divPos.left = ',divPos.top + ' , ' + divPos.left);
                //console.log('divPosPercentage = ',y + ' , ' + x);
            })

            var alert_ID, alertNameID, coordinateX, coordinateY;
            $("#<%= alert.id %>").click(function(){
                alert_ID=$(this).attr('id');
                alertNameID=$("#alertNameID").val();
                coordinateX= x;
                coordinateY= y;

                //-----forms validation------------------------------------

                //--------------------------------forms validation end-------

                $.ajax({
                    url: '/alerts/sending/floorLocation',
                    type: "POST",
                    data: {
                        alertToUpdate: alert_ID,
                        alertNameID: alertNameID,
                        coordinateX: coordinateX,
                        coordinateY: coordinateY

                    },
                    dataType: 'json',
                    //contentType: "application/json; charset=utf-8",
                    //async:false,
                    success: function(data) {
                        //console.log('process success');
                        //console.log(data);
                        if (typeof data.redirect == 'string') {
                            //console.log('if type of');
                            window.location = data.redirect;
                        }
                    },
                    error: function(data) {
                        console.log('process error');
                        window.location = data.redirect;
                    }
                });
            });
            //back button
            $("#back").click(function () {
                alert_ID=$("#alert_ID").val();

                $.post('/sendAlertBackButton', {
                    alertToUpdate: alert_ID,
                    floorLocation: true

                }, function (data) {
                    window.location = data.redirect
                }).error(function (error) {
                    if (error.responseText == 'showAlert')
                        alert("App stop responding, call SMECS APP team for help .")
                });
            });
            //end of back button
        });
    </script>

</head>
<body>

<% if (alert.testModeON == true ) {%>
<h2 style="color: #34A7C1"> TEST MODE ON </h2>
<% } %>

<% if (alert.alertNameID == 7) {%>
    <h2>Touch/click for exact Evacuation Location EXIT</h2>
<% } else { %>
    <h2>Touch/click exact Floor Location</h2>
<% }%>

<input type="hidden" id="alert_ID"  value="<%= alert._id %>">
<input type="hidden" id="alertNameID"  value="<%= alert.alertNameID %>">

<form>
    <% floor.forEach(function(floor) { %>
    <% if (alert.floorName == floor.floorName ) {%>
    <input type="hidden" id="floorPhoto" value="<%= floor.floorPlan %>">
    <div id="div1" class="div1">
        <img id="showP" class="img1" src="/public/floorPlans/<%= floor.floorPlan %>">
    </div>
    <% } %>
    <% }); %>
    <div id="div2" class="div2">
        <img src="/public/floorPlans/red_sniper.png" >
    </div>
</form>

<input type="button" id="<%= alert.id %>" value="Next" ><br><br>
<button type="button" id="back" value="Back">Back</button>
</body>
</html>