<html>
<head>
    <title>Alert</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script></script>

    <script>


        $(document).ready(function(){
            //build radios on page load
            let floors=$("#floors").val();
            let floorsArray = floors.split("_|,").map(String);

            let selected_buildingID=$("#selectedBuildingID").val();
            let selected_floorID=$("#selectedFloorID").val();

            let flagOnPageLoad = 0
            let radioComplete = [];
            for (let i = 0; i < floorsArray.length; i += 5) {
                if(floorsArray[i] == selected_buildingID) { //back button - checks if there is a selected option saved
                    if(floorsArray[i+2] == selected_floorID) {
                        let radioBtn = $('<input type="radio" name="floorID" id="' + floorsArray[i] + '_|_' + floorsArray[i + 1] + '_|_' + floorsArray[i + 2] + '" value="' + floorsArray[i + 4] + '" checked/><label>' + floorsArray[i + 3] + '</label><br>');
                        radioComplete.push(radioBtn);
                    }
                    else {
                        let radioBtn = $('<input type="radio" name="floorID" id="' + floorsArray[i] + '_|_' + floorsArray[i+1] + '_|_' + floorsArray[i+2] + '" value="' + floorsArray[i+4] + '" /><label>' + floorsArray[i+3] + '</label><br>');
                        radioComplete.push(radioBtn);
                    }
                    flagOnPageLoad = 1
                }

            }
            if(flagOnPageLoad == 0){ //first time on page load
                let buildingID = $("#building_select").val();
                for (let i = 0; i < floorsArray.length; i += 5) {
                    if(floorsArray[i] == buildingID) {
                        let radioBtn = $('<input type="radio" name="floorID" id="' + floorsArray[i] + '_|_' + floorsArray[i + 1] + '_|_' + floorsArray[i + 2] + '" value="' + floorsArray[i + 4] + '" /><label>' + floorsArray[i + 3] + '</label><br>');
                        radioComplete.push(radioBtn);
                    }
                }
            }
            $("#buildRadio").html(radioComplete);
            //end of build radios o page load


            //build radios depending on selected Building
            $("#building_select").change(function () {
                let buildingID = this[this.selectedIndex].value;

                let radioComplete2 = [];
                for (let i = 0; i < floorsArray.length; i += 5) {
                    if(floorsArray[i] == buildingID){
                        let radioBtn2 = $('<input type="radio" name="floorID" id="' + floorsArray[i] + '_|_' + floorsArray[i+1] + '_|_' + floorsArray[i+2] + '" value="' + floorsArray[i+4] + '" /><label>' + floorsArray[i+3] + '</label><br>');

                        radioComplete2.push(radioBtn2);
                    }
                }
                $("#buildRadio").html(radioComplete2);
            });
            //end of build radios depending on selected buildingType


            /*----- unCheck radio button ----*/
            var allRadios = document.getElementsByName('floorID');
            var booRadio;
            for(var x = 0; x < allRadios.length; x++){
                allRadios[x].onclick = function(){
                    if(booRadio == this){
                        this.checked = false;
                        booRadio = null;
                    }else{
                        booRadio = this;
                    }
                };
            }
            /*----- end of unCheck radio button ----*/

            var alert_ID, floorID,floorName, floorPhoto, alertNameID;
            $("#<%= alert.id %>").click(function(){
                alert_ID=$(this).attr('id');
                floorPhoto=$("input:radio[name='floorID']:checked").val();
                floorName = $("input:radio[name='floorID']:checked + label").text();
                floorID = $('input[name=floorID]:checked').attr('id');
                alertNameID=$("#alertNameID").val();

                //-----forms validation------------------------------------

                //--------------------------------forms validation end-------

                $.post('/alerts/sending/floor',{
                    alertToUpdate: alert_ID,
                    alertNameID: alertNameID,
                    buildingFloorID: floorID,
                    floorName: floorName,
                    floorPhoto: floorPhoto
                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Alert failed.")
                });


            });
            //back button
            $("#back").click(function () {
                alert_ID=$("#alert_ID").val();

                $.post('/sendAlertBackButton', {
                    alertToUpdate: alert_ID

                }, function (data) {
                    if (data === 'done') {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function (error) {
                    if (error.responseText == 'showAlert')
                        alert("App stop responding, call SMECS APP team for help .")
                });
            });
            //end of back button
        });
    </script>
</head>
<body>
<h1><%= title %></h1>

<% if (alert.testModeON == true ) {%>
    <h2 style="color: #34A7C1"> TEST MODE ON </h2>
<% } %>

<input type="hidden" id="alertNameID"  value="<%= alert.alertNameID %>">
<input type="hidden" id="alert_ID"  value="<%= alert._id %>">

<input type="hidden" id="floors"  value="<%= arrayFloors %>">
<input type="hidden" id="selectedBuildingID"  value="<%= alert.buildingID %>">
<input type="hidden" id="selectedFloorID"  value="<%= alert.floorID %>">


<form>

    <label for="floor"><b>Building:</b> (optional)</label>
    <select id='building_select' class="form-control">
            <% buildings.forEach(function(building) { %>
            <% if (building.buildingID == alert.buildingID) {%> <!-- for back button/refresh -->
            <option id="<%= floor %>" value="<%= building.buildingID %>" selected><%= building.buildingName %></option>
            <% } else { %>
                    <option id="<%= floor %>" value="<%= building.buildingID %>" ><%= building.buildingName %></option>
            <% }%>

        <% }); %>
    </select>
    <br><br>

    <% if (alert.alertNameID == 5 ||
            alert.alertNameID == 7) {%>

        <% if (alert.alertNameID == 5) {%>
            <label for="floor"><b>Student location:</b> (optional)</label><br>
        <% }%>
        <% if (alert.alertNameID == 7) {%>
            <label for="floor"><b>Evacuate to:</b> (optional)</label><br>
        <% }%>
    <% } else { %>
        <label for="floor"><b>Location:</b> (optional)</label><br>
    <% }%>

    <div id="buildRadio">
    <% floor.forEach(function(floor) { %>
        <% if (alert.alertNameID == 7) {%>
            <% if (floor.utilityID == alert.utilityID) {%> <!-- for back button/refresh -->
            <input type="radio" class="radio-button" name="floorID" id="<%= floor.utilityID %>"  checked><label for="floorName"><%= floor.utilityName %></label><br>
            <% } else { %>
                <input type="radio" class="radio-button" name="floorID" id="<%= floor.utilityID %>"><label for="floorName"><%= floor.utilityName %></label><br>
            <% }%>

        <% } else { %>
                <!-- for back button/refresh radios are built in javascript -->
        <% }%>
    <% }); %>
    </div>



    <br>

    <input type="button" id="<%= alert.id %>" value="Next" ><br>
</form>


<% if (!userAuthGroupAlerts && (alert.alertNameID == 2 ||
        alert.alertNameID == 6 ||
        alert.alertNameID == 7 ||
        alert.alertNameID == 9 ||
        alert.alertNameID == 10 ||
        alert.alertNameID == 11 ||
        alert.alertNameID == 15 ||
        alert.alertNameID == 23 )) { %>

    <form action="/alerts/sending/chooseAlert">
        <input type="submit" value="Exit Alert" >
    </form>
<% } else { %>

    <input type="button" id="back" value="Back" >

    <!-- <button class="backButton" onclick="goBack()">Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script> -->
<% } %>
</body>
</html>