<html>
<head>
    <title>Alert</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/sendAlert.css' />
    <script>
        $(document).ready(function(){
            //mouse position related to div2
            let divPos = {};
            let offset = $("#div1").offset();

            let yPercent,xPercent;

            $(document).mousemove(function(e){
                divPos = {
                    left: e.pageX - offset.left,
                    top: e.pageY - offset.top
                };

                yPercent = divPos.top/document.getElementById('div1').offsetHeight*100;
                xPercent = divPos.left/document.getElementById('div1').offsetWidth*100;
            });
            //end of mouse position related to div2

            //put sniper visible and on place
            let x = '';
            let y = '';
            $("#showP").click(function(){
                document.getElementById("div2").className="div3";
                document.getElementById("div2").style.top =(divPos.top+200-31)+'px';   //200px is the css top px; 31 is to center red cross
                document.getElementById("div2").style.left=(divPos.left+200-32)+'px';

                y = yPercent;   //value to save on database
                x = xPercent;
                console.log('divPos.top , divPos.left = ',divPos.top + ' , ' + divPos.left);
                console.log('divPosPercentage = ',y + ' , ' + x);
            })

            var alert_ID, alertNameID, coordinateX, coordinateY;
            $("#<%= alert.id %>").click(function(){
                alert_ID=$(this).attr('id');
                alertNameID=$("#alertNameID").val();
                coordinateX= x;
                coordinateY= y;

                //-----forms validation------------------------------------

                //--------------------------------forms validation end-------

                $.ajax({
                    url: '/alerts/sending/floorLocation',
                    type: "POST",
                    data: {
                        alertToUpdate: alert_ID,
                        alertNameID: alertNameID,
                        coordinateX: coordinateX,
                        coordinateY: coordinateY

                    },
                    dataType: 'json',
                    //contentType: "application/json; charset=utf-8",
                    //async:false,
                    success: function(data) {
                        //console.log('process success');
                        //console.log(data);
                        if (typeof data.redirect == 'string') {
                            //console.log('if type of');
                            window.location = data.redirect;
                        }
                    },
                    error: function(data) {
                        console.log('process error');
                        window.location = data.redirect;
                    }
                });
            });
            //back button
            $("#back").click(function () {
                alert_ID=$("#alert_ID").val();

                $.post('/sendAlertBackButton', {
                    alertToUpdate: alert_ID,
                    floorLocation: true

                }, function (data) {
                    window.location = data.redirect
                }).error(function (error) {
                    if (error.responseText == 'showAlert')
                        alert("App stop responding, call SMECS APP team for help .")
                });
            });
            //end of back button
        });
    </script>

</head>
<body>

<% if (alert.testModeON == true ) {%>
<h2 style="color: #34A7C1"> TEST MODE ON </h2>
<% } %>

<% if (alert.alertNameID == 7) {%>
    <h2>Touch/click for exact Evacuation Location EXIT</h2>
<% } else { %>
    <h2>Touch/click exact Floor Location</h2>
<% }%>

<input type="hidden" id="alert_ID"  value="<%= alert._id %>">
<input type="hidden" id="alertNameID"  value="<%= alert.alertNameID %>">

<form>
    <% floor.forEach(function(floor) { %>
    <% if (alert.floorName == floor.floorName ) {%>
    <input type="hidden" id="floorPhoto" value="<%= floor.floorPlan %>">
    <div id="div1" class="div1">
        <img id="showP" style='width: 100%; top:0px; left:0px; object-fit: contain' src="/public/floorPlans/<%= floor.floorPlan %>">
    </div>
    <% } %>
    <% }); %>
    <div id="div2" class="div2">
        <img src="/public/floorPlans/red_sniper.png" >
    </div>
</form>

<input type="button" id="<%= alert.id %>" value="Next" ><br><br>
<button type="button" id="back" value="Back">Back</button>
</body>
</html>