<html>
<head>
    <title>Alert</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        //Detect if user is using the back/foreward button, then reload whole page
        if (!!window.performance && window.performance.navigation.type === 2) {
            // value 2 means "The page was accessed by navigating into the history"
            window.location.reload(); // reload whole page
        }
        //end of Detect if user is using the back/foreward button, then reload whole page

        // reload whole page if page is cached
        window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
        // end of Reload whole page if page is cached

        $(document).ready(function(){
            $(function() {
                $('.checkbox').change(function() {
                    $(this).next('.showthis').toggle(this.checked);
                    $(this).next('.showThisRefresh').toggle(this.checked);
                })
            });

            var alert_ID, alertNameID, parties;
            $("#<%= alert.id %>").click(function(){
                alert_ID=$(this).attr('id');
                alertNameID=$("#alertNameID").val();
                parties=$("#parties").val();


                var checkedID = [];
                $.each($("input[name='checkbox']:checked"), function(){
                    checkedID.push($(this).val());
                });
                var checkedName = [];
                $.each($("input[name='checkbox']:checked"), function(){
                    checkedName.push($(this).attr('id'));
                });

                var searchIDsNotChecked = $('input[name="checkboxRequest"]:not(:checked)').map(function () {
                    return $(this).val();
                }).get();
                var searchIDsChecked = $('input[name="checkboxRequest"]:checked').map(function () {
                    return $(this).val();
                }).get();





                //-----forms validation------------------------------------

                if (alertNameID == 26 && checkedID.length < 1) {
                    alert("You must choose at least one utility");
                    return false;
                }
                if (alertNameID == 26 && searchIDsChecked.length < 1) {
                    alert("To Request Assistance, you need to choose at least one type of contact.");
                    return false;
                }
                if (alertNameID == 26) {
                    var flagReqSelected = 0;
                    var flagUtil = 0;
                    var utilitiesNotOn = [];
                    var arr;
                    var arrOn = [];

                    searchIDsChecked.forEach(function (utility) {
                        arr = utility.split("_|_").map(function (val){
                            return val
                        });
                        arrOn.push(arr);
                    });
                    checkedName.forEach(function (utility) {
                        var flag = 0 //flag to be able to build array 'utilitiesNotOn' correctly
                        for (var x = 0; x < arrOn.length; x++) {

                            if (utility == arrOn[x][1]){
                                flagReqSelected = flagReqSelected + 1;
                                flagUtil = 1;
                                flag = 1;
                            }
                        }
                        if (flag == 0){
                            if(utilitiesNotOn.indexOf(utility) === -1){
                                utilitiesNotOn.push(utility);
                            }
                        }
                    });
                    if (utilitiesNotOn.length >= 1){
                        alert("There are utilities checked with no contact selected to send  the request.\n " +
                            "Please uncheck the following utilities or turn ON at least one type of contact to send request:\n\n" +
                            "-" + utilitiesNotOn.join("\n-"));
                        return false;
                    }
                }



                //--------------------------------forms validation end-------


                $.post('/alerts/sending/multiSelection',{
                    alertToUpdate: alert_ID,
                    alertNameID: alertNameID,
                    checkboxesNames: checkedName,
                    checkboxesIDs: checkedID,
                    medicalInjuredParties: parties,
                    reqAssChecked: searchIDsChecked,
                    reqAssNotChecked: searchIDsNotChecked

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Alert failed.")
                });


            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>




<% if (alert.testModeON == true ) {%>
<h2 style="color: #34A7C1"> TEST MODE ON </h2>
<% } %>

<form>
    <input type="hidden" id="alertNameID"  value="<%= alert.alertNameID %>">
    <input type="hidden" id="alertMultifunction"  value="<%= alert.multiSelectionNames %>"> <!-- for back button/refresh -->

    <% if (alert.alertNameID == 18) {%>
    <label for="situation"><b>Number of injured parties:</b> </label>
    <input type="number" id="parties" name="parties" style="width:40px" min="0" value="<%= alert.medicalInjuredParties %>">&nbsp(optional)<br><br>
    <% } %>

    <% if (alert.alertNameID == 14 ||
            alert.alertNameID == 18) {%>
    <label for="situation"><b>Situation:</b> (optional)</label><br>
    <% } %>
    <% if (alert.alertNameID == 26 ) {%>
    <label for="situation"><b>Situation:</b></label><br>
    <% } %>

    <% var typeOfDatabase; %>
    <% if (alert.alertNameID == 14 ||
            alert.alertNameID == 26) {%>
    <% typeOfDatabase = utilities;  %>
    <% } %>
    <% if (alert.alertNameID == 18) {%>
    <% typeOfDatabase = medical;  %>
    <% } %>

    <% typeOfDatabase.forEach(function(utility) { %>
        <!-- back button/refresh write checkbox selected before -->
        <% if (alert.multiSelectionNames.length >= 1) {%>
            <% var check = 0;    %>
            <% for (var i=0; i < alert.multiSelectionNames.length; i++) { %>
                <% if (utility.utilityName == alert.multiSelectionNames[i]) { %>
                    <input class="checkbox" type="checkbox" name="checkbox" id="<%= utility.utilityName %>" value="<%= utility.utilityID %>" checked><%= utility.utilityName %>


                    <% check = 1; %>
                <% }  %>
            <% } %>
            <% if (check == 0) {%>
                <input class="checkbox" type="checkbox" name="checkbox" id="<%= utility.utilityName %>" value="<%= utility.utilityID %>"><%= utility.utilityName %>

            <% } %>
    <!--ON/OFF switch button for back button/refresh -->
    <% if (alert.alertNameID == 26 ) {%>
        <% var classType = "showThisRefresh" %>
        <% if (check == 0) {%>
            <% classType = "showThis" %>
        <% } %>

    <div class= "<%= classType %>">
        <% var flagNoContacts = 0; %> <!-- trigger to disable Request Assistance buttons -->
        <% var arrayLabels = ["smecs app", "send email", "call\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0"]; %>
        <% var arrayIDs = ["_|_smecsApp", "_|_email", "_|_call"]; %>
        <% var arrayDefaultContact = ["smecsApp", "email", "call"]; %>
        <% var arrayUtilitiesContact = [utility.smecsApp, utility.email, utility.phone]; %>

        <% for (var x=0; x < arrayLabels.length; x++) { %>
        <% if (arrayUtilitiesContact[x] !== false && arrayUtilitiesContact[x] !== '') {%> <!-- check witch contacts exists-->
        &emsp;&emsp;&emsp;<label for="utilityName"><%= arrayLabels[x] %></label> &emsp;<!-- contact label for smecs App and email-->
        <div class="onoffswitch" style="display:inline-block;">
            <% if (arrayDefaultContact[x] == utility.defaultContact) {%> <!-- check for default contact-->
            <input type="checkbox" class="onoffswitch-checkbox" name="checkboxRequest"
                   id="<%= utility.utilityID + arrayIDs[x] %>"
                   value="<%= utility.utilityID + '_|_' + utility.utilityName + arrayIDs[x] %>"  checked>
            <% }else {%>
            <input type="checkbox" class="onoffswitch-checkbox" name="checkboxRequest"
                   id="<%= utility.utilityID + arrayIDs[x] %>"
                   value="<%= utility.utilityID + '_|_' + utility.utilityName + arrayIDs[x] %>">
            <% }%>
            <label class="onoffswitch-label" for="<%= utility.utilityID + arrayIDs[x] %>">
                <span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span>
            </label>
        </div>
        <br>
        <% flagNoContacts = 1; %>
        <% }%>
        <% }%>
        <% if (flagNoContacts == 0) {%> <!-- if no contacts available-->
        &emsp;&emsp;&emsp;<label for="disable" style="color: #575757">(no contacts available)</label>
        <% }%>
    </div>
    <% } %>
    <!--end of  ON/OFF switch button for back button/refresh -->

        <!-- END OF back button/refresh write checkbox selected before -->

        <% } else { %> <!-- frist time entering/loading this page -->
                <input class="checkbox" type="checkbox" name="checkbox" id="<%= utility.utilityName %>" value="<%= utility.utilityID %>"><%= utility.utilityName %>




    <!-- ON/OFF switch button for "smecs App"--> <!-- frist time entering/loading this page -->
                <% if (alert.alertNameID == 26 ) {%>
                    <div class="showThis">

                        <% var flagNoContacts = 0; %> <!-- trigger to disable Request Assistance buttons -->
                        <% var arrayLabels = ["smecs app", "send email", "call\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0"]; %>
                        <% var arrayIDs = ["_|_smecsApp", "_|_email", "_|_call"]; %>
                        <% var arrayDefaultContact = ["smecsApp", "email", "call"]; %>
                        <% var arrayUtilitiesContact = [utility.smecsApp, utility.email, utility.phone]; %>

                        <% for (var x=0; x < arrayLabels.length; x++) { %>
                        <% if (arrayUtilitiesContact[x] !== false && arrayUtilitiesContact[x] !== '') {%> <!-- check witch contacts exists-->
                                &emsp;&emsp;&emsp;<label for="utilityName"><%= arrayLabels[x] %></label> &emsp;<!-- contact label for smecs App and email-->
                                <div class="onoffswitch" style="display:inline-block;">
                                    <% if (arrayDefaultContact[x] == utility.defaultContact) {%> <!-- check for default contact-->
                                    <input type="checkbox" class="onoffswitch-checkbox" name="checkboxRequest"
                                           id="<%= utility.utilityID + arrayIDs[x] %>"
                                           value="<%= utility.utilityID + '_|_' + utility.utilityName + arrayIDs[x] %>"  checked>
                                    <% }else {%>
                                    <input type="checkbox" class="onoffswitch-checkbox" name="checkboxRequest"
                                           id="<%= utility.utilityID + arrayIDs[x] %>"
                                           value="<%= utility.utilityID + '_|_' + utility.utilityName + arrayIDs[x] %>">
                                    <% }%>
                                    <label class="onoffswitch-label" for="<%= utility.utilityID + arrayIDs[x] %>">
                                        <span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                                <br>
                        <% flagNoContacts = 1; %>
                        <% }%>
                        <% }%>
                        <% if (flagNoContacts == 0) {%> <!-- if no contacts available-->
                        &emsp;&emsp;&emsp;<label for="disable" style="color: #575757">(no contacts available)</label>
                        <% }%>
                    </div>
                <% } %>






    <% } %>
    <br>
    <% }); %><br>



    <input type="button" id="<%= alert.id %>" value="Next" ><br>
</form>

<% if (!userAuthGroupAlerts && (alert.alertNameID == 14 ||
        alert.alertNameID == 18 ||
        alert.alertNameID == 26 )) {%>

<form action="/alerts/sending/chooseAlert">
    <input type="submit" value="Exit Alert" >
</form>
<% } else { %>
<button class="backButton" onclick="goBack()">Back</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<% }%>
</body>
</html>