<html>
<head>
    <title>Alert</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/missChild.css' />
    <script>

        $(document).ready(function(){
            var alertID = document.getElementById('alertNameID');

            var finalBustime;
            /********** Bus Transportation changed *******************/
            if(alertID.value == 27){
                var bus = document.getElementById('busTimeChanged');
                function busPopulate(selector) {
                    var select = $(selector);
                    var hours, minutes, ampm;
                    for(var i = 15; i <= 305; i += 15){
                        hours = Math.floor(i / 60);
                        minutes = i % 60;
                        if (minutes < 10){
                            minutes = '0' + minutes; // adding leading zero
                        }

                        hours = hours % 12;
                        ampm = 'hours';
                        hours = hours % 12;
                        if (hours === 0){
                            ampm = 'mintues';
                        }
                        if (hours === 1){
                            ampm = 'hour';
                        }
                        if (hours === 0 && minutes === 15 ) {
                            select.append($('<option></option>')
                                .text(' n/a '));
                        }

                        if (hours + ':' + minutes + ' ' + ampm === bus.value) { //if back button is used, put selected time on select box
                            select.append($('<option></option>')
                                .attr('value', i)
                                .text(hours + ':' + minutes + ' hours')
                                .attr('selected','selected'));
                        }
                        else {
                            select.append($('<option></option>')
                                .attr('value', i)
                                .text(hours + ':' + minutes + ' ' + ampm));
                        }
                        finalBustime = hours + ':' + minutes;
                    }
                }
                busPopulate('#busTimeSelect');
            }
            /********** end of Bus Transportation changed ************/


            /********** Last Time seen missing student *******************/
            if(alertID.value == 4){
            var lastSeen = document.getElementById('missingChildLastTimeSeen');
            function missingPopulate(selector) {
                var select = $(selector);
                var hours, minutes, ampm;
                for(var i = 405; i <= 1090; i += 15){
                    hours = Math.floor(i / 60);
                    minutes = i % 60;
                    if (minutes < 10){
                        minutes = '0' + minutes; // adding leading zero
                    }
                    ampm = hours % 24 < 12 ? 'AM' : 'PM';
                    hours = hours % 12;
                    if (hours === 0){
                        hours = 12;
                    }
                    if (hours === 6 && minutes === 45 && ampm === 'AM') {
                        select.append($('<option></option>')
                                .text(' n/a '));
                    }

                    if (hours + ':' + minutes + ' ' + ampm === lastSeen.value) { //if back button is used, put selected time on select box
                        select.append($('<option></option>')
                                .attr('value', i)
                                .text(hours + ':' + minutes + ' ' + ampm)
                                .attr('selected','selected'));
                    }
                    else {
                        select.append($('<option></option>')
                                .attr('value', i)
                                .text(hours + ':' + minutes + ' ' + ampm));
                    }
                }
            }
            missingPopulate('#timeSelect');
            }
            /********** end of Last Time seen missing student ************/


            $("#<%= alert.id %>").click(function(){
                var alert_ID=$(this).attr('id');
                var alertNameID=$("#alertNameID").val();
                var note=$("#note").val();
                var lastTimeSeen=$("#timeSelect").val();
                var lastPlaceSeen=$("#lastPlaceSeen").val();
                var clothesWearing=$("#clothesWearing").val();
                var seat=$("#seat").val();
                var studentBehaviour=$("#studentBehaviour").val();
                var whereToEvacuate=$("#whereToEvacuate").val();
                var busTime=$("#busTimeSelect").val();
                var radioBusDay =$("input[name='radioBusDay']:checked").val();
                var delayedAhead =$("input[name='radioBusAheadDelayed']:checked").val();
                var busSendEmail = document.getElementById("checkbox").checked;

                if(alertNameID == 4){
                    var time;
                    if (lastTimeSeen == 'n/a'){
                        time =  lastTimeSeen;
                    }
                    else {
                        var hours, minutes, ampm;
                        hours = Math.floor(lastTimeSeen / 60);
                        minutes = lastTimeSeen % 60;
                        if (minutes < 10){
                            minutes = '0' + minutes; // adding leading zero
                        }
                        ampm = hours % 24 < 12 ? 'AM' : 'PM';
                        hours = hours % 12;
                        if (hours === 0){
                            hours = 12;
                        }
                        time = hours + ':' + minutes + ' ' + ampm;
                    }
                }
                if(alertNameID == 27){

                    var busTime2;
                    if (busTime == 'n/a'){
                        busTime2 = 'n/a';
                    }
                    else {
                        var hours, minutes, ampm;
                        hours = Math.floor(busTime / 60);
                        minutes = busTime % 60;
                        if (minutes < 10){
                            minutes = '0' + minutes; // adding leading zero
                        }
                        ampm = 'hours';
                        hours = hours % 12;
                        if (hours === 0){
                            ampm = 'mintues';
                        }
                        if (hours === 1){
                            ampm = 'hour';
                        }
                        busTime2 = hours + ':' + minutes + ' ' + ampm;
                    }
                }

                //-----forms validation------------------------------------



                //--------------------------------forms validation end-------
                $.ajax({
                    url: '/alerts/sending/notes',
                    type: "POST",
                    data: {
                        alertToUpdate: alert_ID,
                        alertNameID: alertNameID,
                        note: note,
                        lastTimeSeen: time,
                        busMorningAfternoon: radioBusDay,
                        busDelayedAhead: delayedAhead,
                        busTime: busTime2,
                        busSendEmail: busSendEmail,
                        lastPlaceSeen: lastPlaceSeen,
                        clothesWearing: clothesWearing,
                        seat: seat,
                        studentBehaviour: studentBehaviour,
                        whereToEvacuate: whereToEvacuate
                    },
                    dataType: 'json',
                    success: function(data) {
                            window.location = data.redirect;
                    },
                    error: function() {
                        console.log('process error');
                    }


                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>

<% if (alert.testModeON == true ) {%>
<h2 style="color: #34A7C1"> TEST MODE ON </h2>
<% } %>

<input type="hidden" id="alertNameID"  value="<%= alert.alertNameID %>">
<input type="hidden" id="missingChildLastTimeSeen"  value="<%= alert.missingChildLastTimeSeen %>"> <!-- for back button/refresh -->
<input type="hidden" id="busTimeChanged"  value="<%= alert.busTimeChanged %>"> <!-- for back button/refresh -->

<form>

    <% if (alert.alertNameID == 4) {%>
    <label for="lastTimeSeen"><b>Last time seen:</b>(optional)</label>
    <select id="timeSelect"> </select><br><br>

    <label for="place"><b>Last place seen:</b>(optional)</label><br>
    <input type="text" id="lastPlaceSeen" size="31" placeholder="ex: Gymn" value="<%= alert.missingChildLastPlaceSeen %>"><br><br>

    <label for="clothes"><b>Clothes wearing:</b>(optional)</label><br>
    <textarea id="clothesWearing" cols="33" placeholder="ex: school uniform" ><%= alert.missingChildClothesWearing %></textarea><br><br>
    <% } %>

    <% if (alert.alertNameID == 5) {%>
    <label for="seat"><b>He/she is seated:</b>(optional)</label><br>
    <textarea id="seat" rows="2"  cols="33" placeholder="ex: second row, second seat from left"><%= alert.studentWithGunSeated %></textarea><br><br>

    <label for="behaviour"><b>Current behaviour:</b>(optional)</label><br>
    <textarea id="studentBehaviour" cols="33" placeholder="ex: normal" ><%= alert.studentWithGunBehaviour %></textarea><br><br>
    <% } %>

    <% if (alert.alertNameID == 7) {%>
    <label for="whereToEvacuate"><b>Where to Evacuate:</b>(optional)</label><br>
    <textarea id="whereToEvacuate" cols="33" placeholder="ex: church" ><%= alert.evacuateWhereTo %></textarea><br><br>
    <% } %>



    <% if (alert.alertNameID == 27) {%>

    <label for="busRadio"><b>Time of day:</b></label><br>
    <% if (alert.busMorningAfternoon == 'afternoon') {%>
    <input type="radio" name="radioBusDay" value="morning" > Morning (Bus picking up)<br>
    <input type="radio" name="radioBusDay" value="afternoon" checked> Afternoon (Bus dropping off)<br><br>
    <% }else{%>
    <input type="radio" name="radioBusDay" value="morning" checked> Morning (Bus picking up)<br>
    <input type="radio" name="radioBusDay" value="afternoon" > Afternoon (Bus dropping off)<br><br>
    <% } %>
    <label for="busRadio"><b>Bus is:</b></label><br>
    <% if (alert.busDelayedAhead == 'ahead') {%>
    <input type="radio" name="radioBusAheadDelayed" value="delayed" > Delayed &emsp;<br>
    <input type="radio" name="radioBusAheadDelayed" value="ahead" checked> Ahead<br><br>
    <% }else{%>
    <input type="radio" name="radioBusAheadDelayed" value="delayed" checked> Delayed &emsp;<br>
    <input type="radio" name="radioBusAheadDelayed" value="ahead" > Ahead<br><br>
    <% } %>
    <label for="busTime"><b>Time:</b>(optional)</label>
    <select id="busTimeSelect"> </select><br><br>

    <label for="email"><b>Send email notification:</b></label>
    <% if (alert.busTimeChangedEmail == true) {%>
    <input class="checkbox" type="checkbox" name="checkbox" id=checkbox value="<%= alert.busTimeChangedEmail %>" checked><br><br>
    <% }else{%>
    <input class="checkbox" type="checkbox" name="checkbox" id=checkbox value="<%= alert.busTimeChangedEmail %>"><br><br>
    <% } %>
    <% } %>


    <% if (alert.alertNameID == 6) {%>
    <label for="note"><b>Describe type of material, odor, etc.:</b>(optional)</label><br>
    <% } else { %>
    <label for="note"><b>Note:</b>(optional)</label><br>
    <% }%>
    <textarea id="note" cols="33"  placeholder="<%= alert.placeholderNote %>"><%= alert.note %></textarea><br><br>



    <input type="button" id="<%= alert.id %>" value="Next" ><br>

</form>

<% if (alert.alertNameID == 3 ||
        alert.alertNameID == 8 ||
        alert.alertNameID == 12 ||
        alert.alertNameID == 13 ||
        alert.alertNameID == 20 ||
        alert.alertNameID == 21 ||
        alert.alertNameID == 22 ) {%>

<form action="/alerts/sending/chooseAlert">
    <input type="submit" value="Exit Alert" >
</form>
<% } else { %>
<button class="backButton" onclick="goBack()">Back</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<% }%>
</body>
</html>