<html>
<head>
    <title>Alert</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/public/stylesheets/reviewAlert.css' />


    <% var latidtude2 %>

    <!-- Alert that requires FLOOR -->
    <% if ( info.alertWith.floor ) {%>

        <script>
            let yPercentage,xPercentage;
            let divStartTop, divStartLeft;
            let redCrossCenterTop, redCrossCenterLeft;
            let y,x;

            function showP(){
                yPercentage = $("#y").val();    // percentage of the location of red cross. mongo ex:-> sniperCoordinateY:"36.93931398416886"
                xPercentage = $("#x").val();    // mongo ex:-> sniperCoordinateX:"76.80555555555556"

                divStartTop = document.getElementById('div1').offsetTop; // where div starts. CSS ex:-> top:200px;
                divStartLeft = document.getElementById('div1').offsetLeft;  // CSS ex:-> left:400px;

                redCrossCenterTop = 32; // depends on size of red cross picture. Center red cross picture to touch/click
                redCrossCenterLeft = 32;

                //console.log('yPercentage,xPercentage = ',yPercentage + ' , ' + xPercentage);

                y = yPercentage*document.getElementById('div1').offsetHeight/100    // transform percentage position to px position (related to div1 size)
                x = xPercentage*document.getElementById('div1').offsetWidth/100

                //console.log('y,x = ',y + ' , ' + x);
                //console.log('css = ', document.getElementById('div1').offsetLeft);

                if(x == "" ){    //if user didn't chose to touch/click floor map
                    document.getElementById("div2").className="div4";
                }
                else{ // put sniper cross .png visible
                    document.getElementById("div2").className="div3";   //put red cross picture visible
                    document.getElementById("div2").style.top = ( divStartTop + y - redCrossCenterTop )+'px';  // red cross location final location
                    document.getElementById("div2").style.left= ( divStartLeft + x - redCrossCenterLeft )+'px';
                }
            }
            window.onload = showP;
        </script>
    <% } %>
    <!-- end of Alert that requires FLOOR -->


    <script>
        $(document).ready(function(){

            <!-- Alert that requires GPS -->
            var destLatitude, destLongitude;
            navigator.geolocation.getCurrentPosition(function(location) {
                destLatitude = location.coords.latitude;
                destLongitude = location.coords.longitude;
            });



            // Alert UTILITY FAILURE OR REQUEST ASSISTANCE
            var alert_ID, alertNameID, alertName, requestAssistance, utilityName, smecsApp, email, call;
            $("#<%= info.id %>").click(function() {
                requestAssistance = $(this).attr('id');

                if (requestAssistance != 'proc' && requestAssistance != 'exit') {

                    alert_ID = $("#alert_ID").val();
                    alertNameID = $("#alertNameID").val();
                    alertName = $("#alertName").val();
                    utilityName = $(this).attr('name');
                    smecsApp = $('#' + requestAssistance + '_smecsApp').is(':checked');
                    email = $('#' + requestAssistance + '_email').is(':checked');
                    call = $('#' + requestAssistance + '_call').is(':checked');


                    //-----forms validation------------------------------------


                    //--------------------------------forms validation end-------
                    $.post('/alerts/sending/reviewAlert', {
                        alertToUpdate: alert_ID,
                        alertNameID: alertNameID,
                        alertName: alertName,
                        utilityID: requestAssistance,
                        utilityName: utilityName,
                        raSmecsApp: smecsApp,
                        raEmail: email,
                        raCall: call,
                        latitude: destLatitude,
                        longitude: destLongitude

                    }, function (data) {
                        if (data === 'done') {
                            alert("login success");
                        }
                        window.location = data.redirect
                    }).error(function (error) {
                        if (error.responseText == 'showAlert')
                            alert("App stop responding, call SMECS APP team for help .")
                    });
                }

            });
            // END OF Alert UTILITY FAILURE OR REQUEST ASSISTANCE

            //back button
            $("#back").click(function () {
                let alert_ID=$("#alert_ID").val();

                $.post('/sendAlertBackButton', {
                    alertToUpdate: alert_ID

                }, function (data) {
                    if (data === 'done') {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function (error) {
                    if (error.responseText == 'showAlert')
                        alert("App stop responding, call SMECS APP team for help .")
                });
            });
        });

    </script>



</head>
<body>

<h1><%= info.alertGroupName %> <%= title %></h1>


<input type="hidden" id="alert_ID"  value="<%= info.id %>">
<input type="hidden" id="alertNameID"  value="<%= info.alertNameID %>">
<input type="hidden" id="alertName"  value="<%= info.alertName %>">



<h1><%= info.alertName %></h1>

<% if (info.testModeON == true ) {%>
    <h2 style="color: #34A7C1"> TEST MODE ON </h2>
<% } %>

<!-- Alert that requires FLOOR -->
<% if (info.alertWith.floor) {%>

    <input type="hidden" id="x" size="40" value="<%= info.sniperCoordinateX %>">
    <input type="hidden" id="y" size="40" value="<%= info.sniperCoordinateY %>">

    <form>
        <% if (info.floorPhoto !== 'FloorPhotoNotExist' &&
                info.floorPhoto !== '' &&
                info.floorPhoto !== 'Multiple floors' &&
                info.floorPhoto !== 'Multiple Locations' &&
                info.floorPhoto !== 'skipped by user' &&
                info.floorPhoto !== info._id + '_Outside Building' &&
                info.floorPhoto !== info._id + '_undefined') {%>
            <div id="div1" class="div1">
                <img class="img1" src="/public/floorPlans/<%= info.floorPhoto %>">
            </div>
        <% } %>
        <div id="div2" class="div2" >
            <img src="/public/floorPlans/red_sniper66.png" >
        </div>

    </form>
<% } %>

<% if (info.request911Call == true ) {%>
    <% for (var i=0; i < info.whoCanCall911.length; i++) { %>
        <% if (info.whoCanCall911[i] == userAuthRoleName ) {%>
            <label style="color: red">This Alert request a 911 call</label>
            <button class="callButton">Call 911</button><br>
        <% } %>
    <% } %>
<% } %>





<% if (info.request911Call == true ) {%>
    <% for (var i=0; i < info.whoCanCall911.length; i++) { %>
        <% if (info.whoCanCall911[i] == userAuthRoleName ) {%>
            <label for="read"><b>People that called 911: </b></label>
            <input type="text" id="read" size="1" value="5" readonly ><br>
        <% } %>
    <% } %>
<% } %>
<br>

<!-- Alert that requires STUDENT -->
<% if (info.alertWith.student) {%>

    <label for="studentName"><b>Student name:</b></label>
    <input type="text" id="student" value="<%= info.studentName %>" readonly><br><br>

    <% if (info.studentPhoto === 'photoNotAvailable.bmp' ) {%>
        <img id="studentImage" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;" src="/public/photosNotAvailable/photoNotAvailable.bmp"><br><br>
    <% } %>
    <% if (info.studentPhoto !== 'photoNotAvailable.bmp' ) {%>
        <img id="studentImage" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;" src="/public/photosStudents/<%= info.studentPhoto %>"><br><br>
    <% } %>
<% } %>

<!-- Alert that requires FLOOR -->
<% if (info.alertWith.floor) {%>

    <% if (info.floorName) {%>

        <label for="floor"><b>Building:</b></label>
        <input type="text" id="buildingLevel"  size="25" value="<%= info.buildingName %>" readonly ><br>

        <!-- Alert EVACUATE -->
        <% if (info.alertWith.evacuateTo) {%>
            <label for="floor"><b>Evacuate to:</b></label>
        <% }else { %>
            <label for="floor"><b>Floor:</b></label>
        <% } %>
        <input type="text" id="floorLevel"  size="25" value="<%= info.floorName %>" readonly ><br><br>
    <% } %>
<% } %>

<!-- Alert MISSING CHILD -->
<% if (info.alertWith.missingStudent) {%>
    <label for="lastTimeSeen"><b>Last time seen:</b></label>
    <input type="text" id="lastTime" size="5" value="<%= info.missingChildLastTimeSeen %>" readonly><br><br>

    <label for="place"><b>Last place seen:</b></label><br>
    <input type="text" id="lastPlaceSeen" size="31" placeholder="n/a" value="<%= info.missingChildLastPlaceSeen %>" readonly><br><br>

    <label for="clothes"><b>Clothes wearing:</b></label><br>
    <textarea id="clothesWearing" rows="2"  cols="33" placeholder="n/a" readonly><%= info.missingChildClothesWearing %></textarea><br><br>
<% } %>

<!-- Alert STUDENT WITH A GUN -->
<% if (info.alertWith.notesStudentWithGun) {%>
    <label for="seat"><b>He/she is seated:</b></label><br>
    <textarea id="seat" rows="2"  cols="33" placeholder="n/a" readonly><%= info.studentWithGunSeated %></textarea><br><br>

    <label for="behaviour"><b>Current behaviour:</b></label><br>
    <textarea id="studentBehaviour" rows="2"  cols="33" placeholder="n/a" readonly><%= info.studentWithGunBehaviour %></textarea><br><br>
<% } %>



<!-- Alert BUS TRANSPORTATION -->
<% if (info.alertWith.busAccidentNoInjuries) {%>
    <label for="busAccidentNoInjuries"><b>No injuries:</b></label>
    <% if (info.busAccidentNoInjuries) { %>
        <input class="checkbox" type="checkbox" name="busAccidentNoInjuries" id="busAccidentNoInjuries" value="<%= info.busAccidentNoInjuries %>" checked disabled>
    <% }else { %>
        <input class="checkbox" type="checkbox" name="busAccidentNoInjuries" id="busAccidentNoInjuries" value="<%= info.busAccidentNoInjuries %>" disabled>
    <% } %>
    <br><br>

    <p id="demo2"></p>
    <input type="hidden" id="demo" value="">

    <script>

    </script>

    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d378757.6250705166!2d-71.4861799315366!3d42.12794243510983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x89e37f3cc09fed65%3A0x97b42ec0b39147df!2sSt+Theresa+of+Avila+School%2C+Boston%2C+MA!3m2!1d42.2780798!2d-71.157955!4m3!3m2!1d41.9224861!2d-71.293221!5e0!3m2!1sen!2sus!4v1481423770414" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br><br>


    <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/directions?origin=...&destination=...&key=..." allowfullscreen></iframe>






    -->
<% } %>


<% if (info.alertWith.earlyDismissal) {%>
    <label for="busRadio"><b>Day of early dismissal:</b> <%= info.earlyDismissalDate %></label><br><br>

    <label for="busTime"><b>Dismissal time:</b> <%= info.earlyDismissalTime %></label><br><br>

    <label for="email"><b>Send email notification:</b></label>
    <% if (info.busTimeChangedEmail == true ) {%>
        <input class="checkbox" type="checkbox" name="checkbox" id=<%= info.busTimeChangedEmail %> value="<%= info.busTimeChangedEmail %>" checked onclick="return false;"><br><br>
    <% } else {%>
        <input class="checkbox" type="checkbox" name="checkbox" id=<%= info.busTimeChangedEmail %> value="<%= info.busTimeChangedEmail %>" onclick="return false;"><br><br>
    <% } %>
<% } %>


<% if (info.alertWith.busEarlyLate) {%>
    <label for="busRadio"><b>Time of day:</b> <%= info.busMorningAfternoon %></label><br><br>

    <label for="busRadio"><b>Bus is:</b> <%= info.busDelayedAhead %></label><br><br>

    <label for="busTime"><b>Time <%= info.busDelayedAhead %>:</b> <%= info.busTimeChanged %></label><br><br>


    <label for="email"><b>Send email notification:</b></label>
    <% if (info.busTimeChangedEmail == true ) {%>
        <input class="checkbox" type="checkbox" name="checkbox" id=<%= info.busTimeChangedEmail %> value="<%= info.busTimeChangedEmail %>" checked onclick="return false;"><br><br>
    <% } else {%>
        <input class="checkbox" type="checkbox" name="checkbox" id=<%= info.busTimeChangedEmail %> value="<%= info.busTimeChangedEmail %>" onclick="return false;"><br><br>
    <% } %>
<% } %>



<!-- Alert HAZARDOUS MATERIALS SPILL -->
<% if (info.alertWith.materialSpill) {%>
    <label for="materialSpill"><b>Description of type of material, odor, etc.:</b></label><br>
    <textarea id="materialSpill" placeholder="n/a" readonly ><%= info.materialSpill %></textarea><br><br>
<% } %>

    <label for="note"><b>Note:</b></label><br>
    <textarea id="note" placeholder="n/a" readonly ><%= info.note %></textarea><br><br>


<!-- Alert Medical Emergencies -->
<% if (info.alertWith.multiMedical) {%>
    <label for="situation"><b>Number of injured parties:</b></label>
    <input type="text" id="parties"  size="1" value="<%= info.medicalInjuredParties %>" readonly ><br><br>
<% } %>


<!-- Alert School closed -->
<% if (info.alertWith.multiSchoolClosed) {%>
    <label for="situation"><b>Day(s) school will be closed:</b> <%= info.daysClosed %></label><br><br>
<% } %>


<!-- Alert MultiSelection -->
<% if (info.alertWith.multiSelection) {%>
    <label for="situation"><b>Situation:</b></label><br>

    <!-- checkBox of utility failure -->

    <% for (var i=0; i < info.multiSelectionNames.length; i++) {%>
        <input type="checkbox" name="checkbox"  value="<%= info.multiSelectionNames[i] %>" checked onclick="return false;">
        <label for="utilityName"><%= info.multiSelectionNames[i] %></label><br>
    <% } %>
<% } %>





<% if ( error_messages ) { %>
    <label for="err" style="color: red"><%= error_messages %></label><br>
<% } %>
<!-- END OFF Alert UTILITY FAILURE -->


<input type="button" id="back" value="Back" >
<!--<button class="backButton" id="back" onclick="goBack()">Back</button>
<script>
    function goBack() {
        window.history.back();
    }
</script> -->

<input type="button" id="<%= info.id %>" value="Next" ><br><br>
<button class="receiveButton" id="exit" onclick="location.href='/alerts/sending/chooseAlert'">Exit</button><br><br>
</body>
</html>