<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Datatables -->
    <link href="/public/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/showAlertsAndGroups.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {


                $('a[role="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("id") // activated tab
                    //alert(target);

                    $.post("/redirectTabAlertGroups", {
                        tab: target

                    }, function (data) {
                        window.location = data.redirect
                    });
                });

                $("#deleteLight").on("click", function () {
                    $.ajax({
                        url: '/alertGroups/showAlertGroups',
                        type: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',

                        error: function(error){
                            if(error.responseText == 'showAlert')
                                alert("Light not deleted")
                        }
                    });
                });

                $("#deletePanicButton").on("click", function () {
                    $.ajax({
                        url: '/alerts/showAlerts',
                        type: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',

                        error: function(error){
                            if(error.responseText == 'showAlert')
                                alert("PanicButton not deleted.")
                        }
                    });
                });

                $("#btSubmit").click(function () {

                });
            }
        );
    </script>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <!-- menu profile quick info -->
                <% include ../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <div class="right_col" role="main">

            <div class="page-title">
                <div >
                    <h3 class="title_left"><%= title %></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <ul>
                                <div align="center">

                                    <% if (aclModifyAlert == null || aclModifyAlert.checkBoxValue == true) {%>
                                        <button class="btn btn-success" id="exit" onclick="location.href=''">Add Light</button>
                                    <% } else { %>
                                        <button class="btn btn-success" id="exit" onclick="location.href=''" disabled>Add Light</button>
                                    <% } %>

                                    <% if (aclModifyAlert == null || aclModifyAlert.checkBoxValue == true) {%>
                                        <button class="btn btn-success" id="exit" onclick="location.href=''">Light Wireless password</button>
                                    <% } else { %>
                                        <button class="btn btn-success" id="exit" onclick="location.href=''" disabled>Light Wireless password</button>
                                    <% } %>

                                    <% if (aclModifyAlert == null || aclModifyAlert.checkBoxValue == true) {%>
                                        <button class="btn btn-success" id="exit" onclick="location.href=''">Add PanicButton</button>
                                    <% } else { %>
                                        <button class="btn btn-success" id="exit" onclick="location.href=''" disabled>Add PanicButton</button>
                                    <% } %>

                                </div>
                            </ul>
                            <ul>
                                <div align="center" style="size: 100px">
                                    <% if ( error_messages.length >= 1) { %>
                                        <div align="center" style="size: 100px" class="alert alert-warning" role="alert">
                                            <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                                            <strong><%- error_messages %></strong>
                                        </div>
                                    <% } %>

                                </div>
                            </ul>
                            <br>
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                                    <% if (redirectTab == 'showLights') {%>
                                        <% var activeLights = 'active' %>
                                    <% }else {%>
                                        <% var activeLights = '' %>
                                    <% } %>
                                    <% if (redirectTab == 'showPanicButtons') {%>
                                        <% var activePanicButtons = 'active' %>
                                    <% }else {%>
                                        <% var activePanicButtons = '' %>
                                    <% } %>

                                    <li role="presentation" class="<%= activeLights %>"><a href="#tab_content1" id="showLights" role="tab" data-toggle="tab" aria-expanded="true">Lights</a>
                                    </li>
                                    <li role="presentation" class="<%= activePanicButtons %>"><a href="#tab_content2" role="tab" id="showPanicButtons" data-toggle="tab" aria-expanded="false">PanicButtons</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="myTabContent" class="tab-content">

                                <% if (redirectTab == 'showLights') {%>
                                    <% var showLights = 'tab-pane fade active in table-responsive' %>
                                <% } else {%>
                                    <% var showLights = 'tab-pane fade table-responsive' %>
                                <% } %>

                                <div role="tabpanel" class="<%= showLights %>" id="tab_content1">
                                    <table id="datatable-buttons" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <% if (userAuthID == 1) {%>
                                                <th>Light ID</th>
                                            <% } %>
                                            <th>Connected</th>
                                            <th>Model</th>
                                            <th>Sound</th>
                                            <th>Mic</th>
                                            <th>Screen Display</th>
                                            <th>Power/Level</th>
                                            <th>Connection Type</th>
                                            <th>Location</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% lights.forEach(function(light) { %>
                                            <tr>
                                                <td><%= light.sortID %></td>
                                                <td><%= light.name %></td>
                                                <% if (userAuthID == 1) {%>
                                                    <td><%= light.nameID %></td>
                                                <% } %>
                                                <td><%= light.model.connection.connected %></td>
                                                <td><%= light.model.name %></td>
                                                <td><%= light.model.sound %></td>
                                                <td><%= light.model.mic %></td>
                                                <td><%= light.model.screenDisplay.hasScreen %></td>
                                                <td><%= light.model.power.type %>: <%= light.model.power.level %></td>
                                                <td><%= light.model.connection.type %></td>
                                                <td><%= light.location %></td>
                                                <td>
                                                    <% if (aclModifyAlertGroup == null || aclModifyAlertGroup.checkBoxValue == true) {%>
                                                        <a href=".../<%= light.id %>"><button class="btn btn-warning">update</button></a>
                                                    <% } else { %>
                                                        <a href=".../<%= light.id %>"><button class="btn btn-warning" disabled>update</button></a>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <% if (aclDeleteAlertGroup == null || aclDeleteAlertGroup.checkBoxValue == true) {%>
                                                        <a href="" id="deleteLight"><button class="btn btn-danger">delete</button></a>
                                                    <% } else { %>
                                                        <a href="" id="deleteLight"><button class="btn btn-danger" disabled>delete</button></a>
                                                    <% } %>
                                                </td>
                                            </tr>

                                        <% }); %>
                                        </tbody>
                                    </table>
                                </div>




                                <% if (redirectTab == 'showPanicButtons') {%>
                                    <% var showPanicButtons = 'tab-pane fade active in' %>
                                <% } else {%>
                                    <% var showPanicButtons = 'tab-pane fade' %>
                                <% } %>

                                <div role="tabpanel" class="<%= showPanicButtons %>" id="tab_content2">
                                    <table id="datatable" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <% if (userAuthID == 1) {%>
                                                <th>Light ID</th>
                                            <% } %>
                                            <th>Model</th>
                                            <th>Who has it?</th>
                                            <th>Wireless ssid: password</th>
                                            <th>Power Level</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% panicButtons.forEach(function(button) { %>
                                            <tr>
                                                <td><%= button.sortID %></td>
                                                <td><%= button.name %></td>
                                                <% if (userAuthID == 1) {%>
                                                    <td><%= button.nameID %></td>
                                                <% } %>
                                                <td><%= button.model.name %></td>
                                                <td><%= button.whoHasIt %></td>
                                                <% button.forEach(function(wireless) { %>
                                                    <td><%= wireless.ssid %>: <%= wireless.encryptionPass %></td>
                                                <% }); %>
                                                <td><%= button.model.powerLevel %></td>
                                                <td>
                                                    <% if (aclModifyAlertGroup == null || aclModifyAlertGroup.checkBoxValue == true) {%>
                                                        <a href=".../<%= button.id %>"><button class="btn btn-warning">update</button></a>
                                                    <% } else { %>
                                                        <a href=".../<%= button.id %>"><button class="btn btn-warning" disabled>update</button></a>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <% if (aclDeleteAlertGroup == null || aclDeleteAlertGroup.checkBoxValue == true) {%>
                                                        <a href="" id="deleteLight"><button class="btn btn-danger">delete</button></a>
                                                    <% } else { %>
                                                        <a href="" id="deleteLight"><button class="btn btn-danger" disabled>delete</button></a>
                                                    <% } %>
                                                </td>
                                            </tr>

                                        <% }); %>
                                        </tbody>
                                    </table>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.js"></script>

<!-- Datatables -->
<script src="/public/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>

<script src="/public/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>

<script src="/public/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/public/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/public/gentelella/vendors/jszip/dist/jszip.min.js"></script>
<script src="/public/gentelella/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/public/gentelella/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.js"></script>


</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>
