
<html lang="en">
<head>

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/sound.css" rel="stylesheet">
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">

    <!-- color dropdown menu -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/public/stylesheets/alertGroup.css' />
    <!--<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Icons menu -->
    <link rel="stylesheet" type="text/css" href="/public/iconselect.js-1.0/css/lib/control/iconselect.css" >
    <script type="text/javascript" src="/public/iconselect.js-1.0/lib/control/iconselect.js"></script>
    <script type="text/javascript" src="/public/iconselect.js-1.0/lib/iscroll.js"></script>
    <script type="text/javascript" src="/public/icons/js/icons.js"></script>


    <!-- iCheck -->
    <link href="/public/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">


    <script>
        var iconSelect;
        var selectedText;

        window.onload = function(){

            selectedText = document.getElementById('selected-text');


            document.getElementById('my-icon-select').addEventListener('changed', function(e){
                selectedText.value = iconSelect.getSelectedValue();
            });

            iconSelect = new IconSelect("my-icon-select",
                {'selectedIconWidth':30,
                    'selectedIconHeight':30,
                    'selectedBoxPadding':1,
                    'iconsWidth':48,
                    'iconsHeight':48,
                    'boxIconSpace':1,
                    'vectoralIconNumber':7,
                    'horizontalIconNumber':7});

            var icons = [];
            iconBuild(icons);
            iconSelect.refresh(icons, 1);
        };
    </script>

    <script>
        var color;
        var colorName;
        var bgValue;
        function GetSelectedItem(el)
        {
            var e = document.getElementById(el);
            color = "The Value is: " + e.options[e.selectedIndex].value + " and text is: " + e.options[e.selectedIndex].text;
            colorName = e.options[e.selectedIndex].text;
            bgValue = e.options[e.selectedIndex].value;
        }



        $(document).ready(function(){

            //build radios depending on selected soundType
            $("#getSoundType").change(function () {

                var soundTypeId = this[this.selectedIndex].value;
                var soundID = this[this.selectedIndex].id;

                var soundArray = soundID.split(",").map(String);

                var radioComplete = [];
                for (var i = 1; i < soundArray.length; i += 3) {

                    var radioBtn = $('<div class="wrapper"><div class="navi"></div><input type="radio" style="margin-bottom: 5px" ' +
                        'value="' + soundTypeId + ',' + soundArray[i-1] + ',' + soundArray[i] + ',' + soundArray[i+1] +'" ' +
                        'name="radio" ' +
                        'class="icheckbox_flat-green"/> ' + soundArray[i] + '' +
                        '<div id="audio2"><audio controls controlsList="nodownload" style="position: relative; left: 150px; top: 10px"><source src="/public/sounds/' + soundArray[i+1] +'.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio></div></div><div class="divider-dashed"></div>');


                    radioComplete.push(radioBtn);
                }
                $("#buildRadio").html(radioComplete);
            });
            //end of build radios depending on selected soundType

            //dropdown rectangle color
            $(function() {

                $.widget("custom.selectmenu", $.ui.selectmenu, {
                    _renderItem: function(ul, item) {

                        var li = $("<li>"),
                            wrapper = $("<div>");

                        if (item.disabled) {
                            li.addClass("ui-state-disabled");
                        }

                        $("<span>", {
                            style: "background-color: #" + item.value,
                            "class": "ui-color-chip"
                        })
                            .appendTo(wrapper);
                        wrapper.append(item.label);

                        return li.append(wrapper).appendTo(ul);
                    }
                });

                $("#DropDownID")
                    .selectmenu()
                    .selectmenu("menuWidget")
                    .addClass("ui-menu-icons customicons");

                colorBuild(function (result) {
                    var Color = result;
                    for (var i = 0; i < Color.Data.length; i++) {
                        $("#DropDownID").append($("<option></option>").val(Color.Data[i].RgbValue).html(Color.Data[i].ColorName));
                    }
                });

            });
            //end off dropdown rectangle color



            var oldSortID = $("#oldSortID").val();
            var select_sort = '';
            var sortArray = $("#inUseSortID").val().split(",").map(Number);
            for (var a=1;a<=99;a++){
                if(sortArray.indexOf(a) == -1 || a == oldSortID){
                    if(a == oldSortID){
                        select_sort += '<option val=' + a + ' selected="selected">' + a + '</option>';
                    }else{
                        select_sort += '<option val=' + a + '>' + a + '</option>';
                    }
                }
            }
            $('#sort_select').html(select_sort);

            var select = '';
            var myArray = $("#inUseAlertGroupID").val().split(",").map(Number);
            for (var i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1){
                    select += '<option val=' + i + '>' + i + '</option>';
                }
            }
            $('#some_select').html(select);


            var alertGroupID,alertGroupName,sortID,icon;
            $("#btSubmit").click(function(){
                alertGroupID=$("#some_select").val();
                alertGroupName=$("#alertGroupName").val();
                sortID=$("#sort_select").val();
                icon=$("#selected-text").val();
                var sound=$("input:radio[name='radio']:checked").val();

                //-----forms validation------------------------------------
                if (alertGroupName == "" ) {
                    alert("Group Name must be filled out");
                    return false;
                }
                if (alertGroupID == "" ) {
                    alert("Group ID must be filled out");
                    return false;
                }

                if (!sound) {
                    alert("Please choose a Sound");
                    return false;
                }
                //--------------------------------forms validation end-------

                $.post("/alertGroups/addAlertGroups",{

                    alertGroupID: alertGroupID,
                    alertGroupName: alertGroupName,
                    sortID: sortID,
                    colorName: colorName,
                    bgValue: bgValue,
                    icon: icon,
                    sound: sound

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Alert Group NAME already in use. Choose a different Name.")
                });

            });
        });
    </script>


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ./../../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ./../../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ./../../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="page-title">
                <div class="title_left">
                    <h3>Add Group</h3>
                </div>



                <div class="title_right">

                    <div class="pull-left">
                        <% if (aclShowAlertGroups == null || aclShowAlertGroups.checkBoxValue == true) {%>
                        <button type="button"
                                id="btSubmit"
                                value="Submit"
                                onClick="GetSelectedItem('DropDownID');"
                                class="btn btn-success">Save
                        </button>

                        <!-- <button type="submit" class="btn btn-success">Submit</button> -->
                        <% } else { %>
                        <button type="button"
                                id="btSubmit"
                                value="Submit"
                                onClick="GetSelectedItem('DropDownID');"
                                class="btn btn-success" disabled>Save
                        </button>
                        <% } %>
                        <a href="/alertGroups/showAlertGroups"><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>





            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Information</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Group name:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Parents chat"
                                               id="alertGroupName">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sort number:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="hidden" id="inUseSortID" value="<%= arraySort %>">
                                        <select id='sort_select' class="form-control"></select>
                                    </div>
                                </div>

                                <input type="hidden" id="inUseAlertGroupID" value="<%= array %>">
                                <% if (userAuthID == 1) {%>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Group ID:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id='some_select' class="form-control"></select>
                                    </div>
                                </div>
                                <% } else { %>
                                <select id='some_select' style="display:none;"></select>
                                <% } %>


                                <% if (alertGroup.groupID !== 1) {%>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Group Color:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select name="DropDownID" id="DropDownID" >
                                            <option value="" selected disabled hidden>choose color</option>
                                        </select>
                                    </div>
                                </div>
                                <% } %>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Icon: </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div id="my-icon-select"></div>
                                        <input type="text" id="selected-text" name="selected-text" style="width:65px;" hidden>
                                    </div>

                                </div>


                            </form>
                            <div class="ln_solid"></div>
                        </div>
                    </div>






                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Sound</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sound Type:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select class="form-control" id="getSoundType">
                                            <% for (var i = 0; i < sounds[1].length; i++) { %>
                                            <% if( sounds[0][i] == 0) { %>
                                            <option id="<%= sounds[i+2] %>" value="<%= sounds[0][i] %>" selected="selected"><%= sounds[1][i] %></option>
                                            <% }else{ %>
                                            <option id="<%= sounds[i+2] %>" value="<%= sounds[0][i] %>"><%= sounds[1][i] %></option>
                                            <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="divider-dashed"></div>
                                <div id="buildRadio">
                                    <% var soundType = 2 %>
                                    <% for (var i = 1; i < sounds[soundType].length; i += 3) { %>

                                    <div class="wrapper">
                                        <div class="navi"></div>
                                        <input type="radio"
                                               style="margin-bottom: 5px"
                                               value="1,<%= sounds[soundType][i-1] %>,<%= sounds[soundType][i] %>, <%= sounds[soundType][i+1] %>"
                                               class="icheckbox_flat-green"
                                               name="radio"> <%= sounds[soundType][i] %>
                                        <div class="navi"></div>

                                        <div id="audio">
                                            <audio controls controlsList="nodownload" id="myaudio">
                                                <source src="/public/sounds/<%= sounds[soundType][i+1] %>.mp3" type="audio/mpeg">
                                                Your browser does not support the audio element.
                                            </audio>
                                        </div>
                                    </div>

                                    <div class="divider-dashed" ></div>
                                    <% } %>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

    </div>
</div>


<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.min.js"></script>
<!-- Google Analytics -->

</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ./../../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>