<!DOCTYPE html>
<html>
<head>
    <title>Show Medical</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery.tablesorter.js"></script>

    <script type = "text/javascript">
        $(document).ready(function()
                {
                    $("#myTable").tablesorter();
                }
        );
    </script>

</head>
<body>
<h1><%= title %></h1>


<form action="/schoolClosed/addSchoolClosed">
    <% if (aclAddMedical == null || aclAddMedical.checkBoxValue == true) {%>
    <input type="submit" value="Add cause">
    <% } else { %>
    <input type="submit" value="Add cause" disabled>
    <% } %>
</form>

<table id="myTable" class="tablesorter" style="width:100%;table-layout: fixed;">
    <caption>
        TIP! Sort multiple columns simultaneously by holding down the shift key and clicking a second column header!
    </caption>
    <thead>
    <tr>
        <th>Cause</th>
        <% if (userAuthID == 1) {%>
            <th>ID</th>
        <% } %>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tbody>
    <% schoolClosed.forEach(function(schoolClosed) { %>
    <tr>

        <td><%= schoolClosed.causeName %></td>
        <% if (userAuthID == 1) {%>
        <td><%= schoolClosed.causeID %></td>
        <% } %>
        <td align="center">
            <% if (aclModifyMedical == null || aclModifyMedical.checkBoxValue == true) {%>
            <a href="/schoolClosed/updateSchoolClosed/<%= schoolClosed.id %>"><button class="inTable">update</button></a>
            <% } else { %>
            <a href="/schoolClosed/updateSchoolClosed/<%= schoolClosed.id %>"><button class="inTable" disabled>update</button></a>
            <% } %>
        </td>
        <td align="center">
            <% if (aclDeleteMedical == null || aclDeleteMedical.checkBoxValue == true) {%>
            <a href="/schoolClosed/deleteSchoolClosed/<%= schoolClosed.id %>"><button class="inTable">delete</button></a>
            <% } else { %>
            <a href="/schoolClosed/deleteSchoolClosed/<%= schoolClosed.id %>"><button class="inTable" disabled>delete</button></a>
            <% } %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table><br>


<form action="/dashboard">
    <input type="submit" value="Back">
</form>


</body>
</html>
