<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Datatables -->
    <link href="/public/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">


    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">


    <!-- lightbox (floor zoom) -->
    <link href="/public/lightbox2-master/dist/css/lightbox.css" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {

            $('a[role="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("id") // activated tab
                //alert(target);

                $.post("/redirectTabBuildings", {
                    tab: target

                }, function (data) {
                    window.location = data.redirect
                });
            });



            $("#btSubmit").click(function () {

            });
            }
        );
    </script>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <!-- menu profile quick info -->
                <% include ../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->



        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <ul>
                                <div align="center">

                                    <% if (aclAddFloor == null || aclAddFloor.checkBoxValue == true) {%>
                                    <button class="btn btn-primary" id="exit" onclick="location.href='/medical/addMedical/Building'">Add Building</button>
                                    <% } else { %>
                                    <button class="btn btn-primary" id="exit" onclick="location.href='/medical/addMedical/Building'" disabled>Add Building</button>
                                    <% } %>

                                    <% if (aclAddFloor == null || aclAddFloor.checkBoxValue == true) {%>
                                    <button class="btn btn-primary" id="exit" onclick="location.href='/floors/addFloor/<%= floors.id %>'">Add Floor</button>
                                    <% } else { %>
                                    <button class="btn btn-primary" id="exit" onclick="location.href='/floors/addFloor/<%= floors.id %>'" disabled>Add Floor</button>
                                    <% } %>

                                    <% if (aclAddFloor == null || aclAddFloor.checkBoxValue == true) {%>
                                    <button class="btn btn-primary" id="exit" onclick="location.href=''">Add Room</button>
                                    <% } else { %>
                                    <button class="btn btn-primary" id="exit" onclick="location.href=''" disabled>Add Room</button>
                                    <% } %>


                                </div>
                            </ul>
                            <ul>
                                <div align="center" style="size: 100px">
                                    <% if ( error_messages.length >= 1) { %>
                                    <div align="center" style="size: 100px" class="alert alert-warning" role="alert">
                                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                                    <strong><%- error_messages %></strong>
                                    </div>
                                    <% } %>

                                </div>
                            </ul>
                            <br>
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                                    <% if (redirectTab == 'showBuilding') {%>
                                    <% var activeBuilding = 'active' %>
                                    <% }else {%>
                                    <% var activeBuilding = '' %>
                                    <% } %>
                                    <% if (redirectTab == 'showFloors') {%>
                                    <% var activeFloors = 'active' %>
                                    <% }else {%>
                                    <% var activeFloors = '' %>
                                    <% } %>
                                    <% if (redirectTab == 'showRooms') {%>
                                    <% var activeRooms = 'active' %>
                                    <% }else {%>
                                    <% var activeRooms = '' %>
                                    <% } %>

                                    <li role="presentation" class="<%= activeBuilding %>"><a href="#tab_content1" role="tab" id="showBuilding" data-toggle="tab" aria-expanded="false">Buildings</a>
                                    </li>
                                    <li role="presentation" class="<%= activeFloors %>"><a href="#tab_content2" id="showFloors" role="tab" data-toggle="tab" aria-expanded="true">Floors</a>
                                    </li>
                                    <li role="presentation" class="<%= activeRooms %>"><a href="#tab_content3" role="tab" id="showRooms" data-toggle="tab" aria-expanded="false">Rooms</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="myTabContent" class="tab-content">


                                <% if (redirectTab == 'showBuilding') {%>
                                <% var showBuilding = 'tab-pane fade active in table-responsive' %>
                                <% } else {%>
                                <% var showBuilding = 'tab-pane fade table-responsive' %>
                                <% } %>


                                <div role="tabpanel" class="<%= showBuilding %>" id="tab_content1">
                                    <table id="datatable" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Building name</th>
                                            <% if (userAuthID == 1) {%>
                                            <th>ID</th>
                                            <% } %>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% building.forEach(function(building) { %>
                                        <tr>

                                            <td><%= building.utilityName %></td>
                                            <% if (userAuthID == 1) {%>
                                            <td><%= building.utilityID %></td>
                                            <% } %>
                                            <td align="center">
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/medical/updateMedical/<%= building.id %>/Building"><button class="btn btn-warning">update</button></a>
                                                <% } else { %>
                                                <a href="/medical/updateMedical/<%= building.id %>/Building"><button class="btn btn-warning" disabled>update</button></a>
                                                <% } %>
                                            </td>
                                            <td align="center">
                                                <% if (aclDeleteFloor == null || aclDeleteFloor.checkBoxValue == true) {%>
                                                <a href="/medical/deleteMedical/<%= building.id %>/Building"><button class="btn btn-danger">delete</button></a>
                                                <% } else { %>
                                                <a href="/medical/deleteMedical/<%= building.id %>/Building"><button class="btn btn-danger" disabled>delete</button></a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                        </tbody>
                                    </table>
                                </div>


                                <% if (redirectTab == 'showFloors') {%>
                                <% var showFloors = 'tab-pane fade active in' %>
                                <% } else {%>
                                <% var showFloors = 'tab-pane fade' %>
                                <% } %>

                                <div role="tabpanel" class="<%= showFloors %>" id="tab_content2">
                                    <table id="datatable-buttons" class="table table-hover">
                                        <thead>
                                        <tr>

                                            <th align="center">Floor Name</th>
                                            <% if (userAuthID == 1) {%>
                                            <th>ID</th>
                                            <% } %>
                                            <th class="text-center">Floor Plan</th>
                                            <th class="text-center">Update</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% floors.forEach(function(floors) { %>
                                        <tr>

                                            <td><%= floors.floorName %></td>
                                            <% if (userAuthID == 1) {%>
                                            <td><%= floors.floorID %></td>
                                            <% } %>

                                            <% if (floors.floorPlan == "") { %>
                                            <td align="center">
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/floors/addFloorPLan/<%= floors.id %>"><button align="center" class="btn btn-success">add</button></a>
                                                <% } else { %>
                                                <a href="/floors/addFloorPlan/<%= floors.id %>"><button class="btn btn-success" disabled>add</button></a>
                                                <% } %>
                                            </td>
                                            <% } else { %>
                                            <td align="center">
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/public/floorPlans/<%= floors.floorPlan %>" data-lightbox="image-1" data-title="<%= floors.floorName %>">
                                                    <button class="btn btn-info">show</button>
                                                </a>
                                                <% } else { %>
                                                <button class="btn btn-info" disabled>show</button>
                                                <% } %>
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/floors/addFloorPlan/<%= floors.id %>"><button class="btn btn-warning">change</button></a>
                                                <% } else { %>
                                                <a href="/floors/addFloorPlan/<%= floors.id %>"><button class="btn btn-warning" disabled>change</button></a>
                                                <% } %>
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/floors/deleteFloorPlan/<%= floors.id %>"><button class="btn btn-danger">delete</button></a>
                                                <% } else { %>
                                                <a href="/floors/deleteFloorPlan/<%= floors.id %>"><button class="btn btn-danger" disabled>delete</button></a>
                                                <% } %>

                                            </td>
                                            <% } %>


                                            <td align="center">
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/floors/updateFloor/<%= floors.id %>"><button class="btn btn-warning">update</button></a>
                                                <% } else { %>
                                                <a href="/floors/updateFloor/<%= floors.id %>"><button class="btn btn-warning" disabled>update</button></a>
                                                <% } %>
                                            </td>
                                            <td align="center">
                                                <% if (aclDeleteFloor == null || aclDeleteFloor.checkBoxValue == true) {%>
                                                <a href="/floors/deleteFloor/<%= floors.id %>"><button class="btn btn-danger">delete</button></a>
                                                <% } else { %>
                                                <a href="/floors/deleteFloor/<%= floors.id %>"><button class="btn btn-danger" disabled>delete</button></a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                        </tbody>
                                    </table>
                                </div>



                                <% if (redirectTab == 'showRooms') {%>
                                <% var showRooms = 'tab-pane fade active in' %>
                                <% } else {%>
                                <% var showRooms = 'tab-pane fade' %>
                                <% } %>

                                <div role="tabpanel" class="<%= showRooms %>" id="tab_content3">
                                    <table id="datatable-buttons" class="table table-hover">
                                        <thead>
                                        <tr>

                                            <th align="center">Floor Name</th>
                                            <% if (userAuthID == 1) {%>
                                            <th>ID</th>
                                            <% } %>
                                            <th class="text-center">Floor Plan</th>
                                            <th class="text-center">Update</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% floors.forEach(function(floors) { %>
                                        <tr>

                                            <td><%= floors.floorName %></td>
                                            <% if (userAuthID == 1) {%>
                                            <td><%= floors.floorID %></td>
                                            <% } %>

                                            <% if (floors.floorPlan == "") { %>
                                            <td align="center">
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/floors/addFloorPLan/<%= floors.id %>"><button align="center" class="btn btn-success">add</button></a>
                                                <% } else { %>
                                                <a href="/floors/addFloorPlan/<%= floors.id %>"><button class="btn btn-success" disabled>add</button></a>
                                                <% } %>
                                            </td>
                                            <% } else { %>
                                            <td align="center">
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/floors/showFloorPlan/<%= floors.id %>"><button class="btn btn-info">show</button></a>
                                                <% } else { %>
                                                <a href="/floors/showFloorPlan/<%= floors.id %>"><button class="btn btn-info" disabled>show</button></a>
                                                <% } %>
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/floors/addFloorPlan/<%= floors.id %>"><button class="btn btn-warning">change</button></a>
                                                <% } else { %>
                                                <a href="/floors/addFloorPlan/<%= floors.id %>"><button class="btn btn-warning" disabled>change</button></a>
                                                <% } %>
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/floors/deleteFloorPlan/<%= floors.id %>"><button class="btn btn-danger">delete</button></a>
                                                <% } else { %>
                                                <a href="/floors/deleteFloorPlan/<%= floors.id %>"><button class="btn btn-danger" disabled>delete</button></a>
                                                <% } %>

                                            </td>
                                            <% } %>


                                            <td align="center">
                                                <% if (aclModifyFloor == null || aclModifyFloor.checkBoxValue == true) {%>
                                                <a href="/floors/updateFloor/<%= floors.id %>"><button class="btn btn-warning">update</button></a>
                                                <% } else { %>
                                                <a href="/floors/updateFloor/<%= floors.id %>"><button class="btn btn-warning" disabled>update</button></a>
                                                <% } %>
                                            </td>
                                            <td align="center">
                                                <% if (aclDeleteFloor == null || aclDeleteFloor.checkBoxValue == true) {%>
                                                <a href="/floors/deleteFloor/<%= floors.id %>"><button class="btn btn-danger">delete</button></a>
                                                <% } else { %>
                                                <a href="/floors/deleteFloor/<%= floors.id %>"><button class="btn btn-danger" disabled>delete</button></a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                        </tbody>
                                    </table>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.js"></script>

<!-- Datatables -->
<script src="/public/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>

<script src="/public/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>

<script src="/public/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/public/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/public/gentelella/vendors/jszip/dist/jszip.min.js"></script>
<script src="/public/gentelella/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/public/gentelella/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.js"></script>

<!-- lightbox (floor zoom) -->
<script src="/public/lightbox2-master/dist/js/lightbox.js"></script>

</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>
