<% include ../headers/header.ejs %>
<div class="right_col" role="main">
  <div class="clearfix"></div>  
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
    <title>Show Privileges</title>
    
    <script type = "text/javascript">
        $(document).ready(function()
                {
                    $("#myTable").tablesorter();
                }
        );
        $("#privilegeLink").live("click", function () {
            $.ajax({
                url: '/privilege/showPrivilege',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',

                error: function(error){
                    if(error.responseText == 'showAlert')
                        alert("User Privilege NAME or ID already already in use. Choose a different Name or number between 0 and 99.")
                }
            });
        });
    </script>

</head>
<body>
<h1><%= title %></h1>
<div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
          <li role="presentation" class=""><a href="#tab_content1" role="tab" data-toggle="tab" aria-expanded="true">Roles</a>
          </li>
          <li role="presentation" class="active"><a href="#tab_content2" role="tab" data-toggle="tab" aria-expanded="false">Privileges</a>
          </li>
        </ul>
      </div>
      <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1">

                </div>
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content2"></div>
<form action="/privilege/addPrivilege">
    <% if (aclAddPrivilege == null || aclAddPrivilege.checkBoxValue == true) {%>
    <button class="btn btn-primary" type="submit" value="Add Privilege">Add Privilege</button>
    <% } else { %>
        <button class="btn btn-primary" type="submit" value="Add Privilege" disabled>Add Privilege</button>
    <% } %>
</form>
<table id="myTable" class="table table-hover">
    <thead>
    <tr>
        <th>Privilege Name</th>
        <th>Privilege ID</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    <tbody>
    <% privilege.forEach(function(privilege) { %>
    <tr>
        <td><%= privilege.privilegeName %></td>
        <td><%= privilege.privilegeID %></td>
        <td>
            <% if (aclModifyPrivilege == null || aclModifyPrivilege.checkBoxValue == true) {%>
            <a href="/privilege/updatePrivilege/<%= privilege.id %>"><button class="btn btn-primary">update</button></a>
            <% } else { %>
            <a href="/privilege/updatePrivilege/<%= privilege.id %>"><button class="btn btn-primary" disabled>update</button></a>
            <% } %>
        </td>
        <td>
            <% if (aclDeletePrivilege == null || aclDeletePrivilege.checkBoxValue == true) {%>
            <a href="/privilege/showPrivilege/<%= privilege.id %>" id="privilegeLink"><button class="btn btn-primary">delete</button></a>
            <% } else { %>
            <a href="/privilege/showPrivilege/<%= privilege.id %>" id="privilegeLink"><button class="btn btn-primary" disabled>delete</button></a>
            <% } %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table><br>
</div>


<% include ../footers/footer.ejs %>
