<html>
<head>
    <title>Create Alert</title>
    <link rel='stylesheet' href='/stylesheets/addUtility.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" type="text/css" href="/public/iconselect.js-1.0/css/lib/control/iconselect.css" >
    <script type="text/javascript" src="/public/iconselect.js-1.0/lib/control/iconselect.js"></script>
    <script type="text/javascript" src="/public/iconselect.js-1.0/lib/iscroll.js"></script>
    <script type="text/javascript" src="/public/icons/js/icons.js"></script>

    <script>
        var iconSelect;
        var selectedText;

        window.onload = function(){

            selectedText = document.getElementById('selected-text');

            document.getElementById('my-icon-select').addEventListener('changed', function(e){
                selectedText.value = iconSelect.getSelectedValue();
            });

            iconSelect = new IconSelect("my-icon-select",
                {'selectedIconWidth':23,
                    'selectedIconHeight':23,
                    'selectedBoxPadding':1,
                    'iconsWidth':48,
                    'iconsHeight':48,
                    'boxIconSpace':1,
                    'vectoralIconNumber':8,
                    'horizontalIconNumber':6});

            var icons = [];
            iconBuild(icons);
            iconSelect.refresh(icons, 1);
        };
    </script>

    <script>

        var choices;
        function selectUser(select)
        {
            var option = select.options[select.selectedIndex];
            var ul = select.parentNode.getElementsByTagName('ul')[0];
            choices = ul.getElementsByTagName('input');

            for (var i = 0; i < choices.length; i++) {
                if (choices[i].value == option.value){
                    return;
                }
            }

            var li = document.createElement('li');
            var input = document.createElement('input');
            var text = document.createTextNode(option.firstChild.data);

            input.type = 'hidden';
            input.name = 'users[]';
            input.value = option.value;

            li.appendChild(input);
            li.appendChild(text);
            li.setAttribute('onclick', 'this.parentNode.removeChild(this);');

            ul.appendChild(li);
        }

        $(document).ready(function(){
            var oldSortID = $("#oldSortID").val();
            var select_sort = '';
            var sortArray = $("#inUseSortID").val().split(",").map(Number);
            for (var a=1;a<=99;a++){
                if(sortArray.indexOf(a) == -1 || a == oldSortID){
                    if(a == oldSortID){
                        select_sort += '<option val=' + a + ' selected="selected">' + a + '</option>';
                    }else{
                        select_sort += '<option val=' + a + '>' + a + '</option>';
                    }
                }
            }
            $('#sort_select').html(select_sort);

            var select = '';
            var myArray = $("#inUseAlertID").val().split(",").map(Number);
            for (i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1){
                    select += '<option val=' + i + '>' + i + '</option>';
                }
            }
            $('#some_select').html(select);

            function radioOff() {
                $('#smecsUserSelect').removeClass().addClass('disable');
                $("#smecsUserSelect").attr('disabled',true);
                $('#imgAdd').removeClass().addClass('disable');
                $('#smecsUserLabel').removeClass().addClass('disable');
                $('#smecsUserDiv').removeClass().addClass('disable');
                $('#smecsUserUl').removeClass().addClass('disable');
                $('#clickHere').removeClass().addClass('disable');
            }
            function radioOn() {
                $('#smecsUserSelect').removeClass().addClass('enable');
                $("#smecsUserSelect").attr('disabled',false);
                $('#imgAdd').removeClass().addClass('enable');
                $('#smecsUserLabel').removeClass().addClass('enable');
                $('#smecsUserDiv').removeClass().addClass('enable');
                $('#smecsUserUl').removeClass().addClass('enable');
                $('#clickHere').removeClass().addClass('enable');
            }
            $('input[name=request911]:checked').each(function() {
                var checkVal = $(this).val();
                if (checkVal == 'false'){
                    radioOff();
                } else {
                    radioOn();
                }
            });
            //This will check the status of radio button onclick
            $('input:radio[name=request911]').click(function() {
                var checkVal = $(this).val();
                if (checkVal == 'false'){
                    radioOff();
                } else {
                    radioOn();
                }
            });

            var alertGroupName,alertID,alertName, alertProcedure, request911Call, sortID, icon;
            $("#btSubmit").click(function(){
                var arrayUsers = [];
                if (choices === undefined){
                    choices = [];
                }
                if(choices.length > 0) {
                    for (var a = 0; a < choices.length; a++) {
                        arrayUsers.push(choices[a].value);
                    }
                }

                var alertGroupIdAndSound=$("input:radio[name='alertGroupID']:checked").val();
                console.log('alertGroupIdAndSound = ',alertGroupIdAndSound);
                if(alertGroupIdAndSound){
                    var alertGroupIdAndSoundArray = alertGroupIdAndSound.split(",").map(String);
                    var alertGroupID = parseInt(alertGroupIdAndSoundArray[0]);
                    var sound = alertGroupIdAndSoundArray[1];
                }

                request911Call=$("input:radio[name='request911']:checked").val();
                alertGroupName = $("input:radio[name='alertGroupID']:checked + label").text();
                alertID=$("#some_select").val();
                alertName=$("#alertName").val();
                alertProcedure=$("#alertProcedure").val();
                sortID=$("#sort_select").val();
                icon=$("#selected-text").val();
                var alertRequestProcedureCompleted = document.getElementById("checkboxProc").checked;
                var alertRequestWeAreSafe = document.getElementById("checkboxSafe").checked;

                //-----forms validation------------------------------------
                if (alertName == "" ) {
                    alert("Alert NAME must be filled out");
                    return false;
                }
                var numbers = /[0-99]|\./;
                if (!numbers.test(alertID) || !numbers.test(sortID)) {
                    alert("Alert ID or Sort#  must be between 0 and 99 ");
                    return false;
                }
                if (alertGroupID == null ) {
                    alert("Alert Group must be filled out");
                    return false;
                }
                if(request911Call == 'true' && arrayUsers.length < 1 ) {
                    alert("You have selected that this alert request a 911 call. Please select at least one user role/group from dropdown list");
                    return false;
                }
                //--------------------------------forms validation end-------


                $.post("/alerts/createAlert",{
                    alertGroupID: alertGroupID,
                    alertGroupName: alertGroupName,
                    request911Call: request911Call,
                    whoCanCall911: arrayUsers,
                    alertID: alertID,
                    alertName: alertName,
                    alertProcedure: alertProcedure,
                    sortID: sortID,
                    alertRequestProcedureCompleted: alertRequestProcedureCompleted,
                    alertRequestWeAreSafe: alertRequestWeAreSafe,
                    icon: icon,
                    sound: sound

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Alert NAME already in use. Choose a different Name.")
                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>
<form action="/dashboard">
    <input type="submit" value="Home"><br>
</form>

<form>



    <label for="alertName"><b>Alert Name:</b></label><br>
    <input type="text" id="alertName" size="40" placeholder="ex: Evacuate" ><br><br>

    <label for="icon"><b>Icon:</b></label><br>
    <div id="my-icon-select"></div><br>
    <input type="text" id="selected-text" name="selected-text" style="width:65px;" hidden>

    <input type="hidden" id="inUseAlertID" value="<%= array %>">
    <input type="hidden" id="alertProcedure" >

    <label for="alertGroup"><b>Alert Group:</b></label><br>
    <% alertGroup.forEach(function(alertGroup) { %>
    <input type="radio" name="alertGroupID" id="<%= alertGroup.alertTypeName %>" value="<%= alertGroup.alertTypeID %>,<%= alertGroup.sound.mp3 %>">
    <label for="alertGroupName"><%= alertGroup.alertTypeName %></label><br>
    <% }); %><br>

    <label for="busRide"><b>Request Procedure completed:</b></label>
    <input class="checkbox" type="checkbox" name="checkboxProc" id="checkboxProc" checked><br>

    <label for="busRide"><b>Request We are safe!:</b></label>
    <input class="checkbox" type="checkbox" name="checkboxSafe" id="checkboxSafe" checked><br><br>


    <label for="requestCall"><b>Request calling 911:</b></label><br>
    <input type="radio" name="request911" value="false" checked> No &emsp;
    <input type="radio" name="request911" value="true"> Yes<br>

    <div id="smecsUserDiv" class="enable">
        <label for="smecsUserLabel" id="smecsUserLabel" class="enable">Who can call 911:</label><br>

        <ul id="smecsUserUl" class="enable">

        </ul>

        <select class="enable" id="smecsUserSelect" onchange="selectUser(this);">
            <!–– <option selected disabled hidden> -- select a user -- </option> ––>
            <option disabled selected value> -- select a user role from dropdown list -- </option>
            <% roles.forEach(function(role) { %>
            <option value="<%= role.roleName %>" ><%= role.roleName %></option>
            <% }); %>
        </select>
        <img id="imgAdd" class="enable" src="/miscPictures/add.png" alt="Add" style="vertical-align: middle;" onclick="selectUser($(this).prev().get(0));">
        <br><br>
    </div>

    <br><br>

    <label for="sortID"><b>Sort ID:</b></label><br>
    <input type="hidden" id="inUseSortID" value="<%= arraySort %>">
    <select id='sort_select'></select><br><br>

    <% if (userAuthID == 1) {%>
    <label for="alertID"><b>Alert ID:</b></label><br>
    <select id='some_select'></select><br><br>
    <% } else { %>
    <select id='some_select' style="display:none;"></select>
    <% } %>

    <% if (aclAddAlerts == null || aclAddAlerts.checkBoxValue == true) {%>
    <input type="button" id="btSubmit" value="Submit" ><br>
    <% } else { %>
    <input type="button" id="btSubmit" value="Submit" disabled><br>
    <% } %>


</form>
<form action="/alertGroups/showAlertGroups">
    <input type="submit" value="Back">
</form>
</body>
</html>