
<html lang="en">
<head>

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/sound.css" rel="stylesheet">
    <link rel='stylesheet' href='/public/stylesheets/addUtility.css' />
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">

    <!-- color dropdown menu -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/public/stylesheets/alertGroup.css' />
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Icons menu -->
    <link rel="stylesheet" type="text/css" href="/public/iconselect.js-1.0/css/lib/control/iconselect.css" >
    <script type="text/javascript" src="/public/iconselect.js-1.0/lib/control/iconselect.js"></script>
    <script type="text/javascript" src="/public/iconselect.js-1.0/lib/iscroll.js"></script>
    <script type="text/javascript" src="/public/icons/js/icons.js"></script>


    <!-- iCheck -->
    <link href="/public/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">


    <script>
        var iconSelect;
        var selectedText;
        var savedIcon;

        window.onload = function(){
            savedIcon = document.getElementById('savedIcon').value;
            selectedText = document.getElementById('selected-text');
            savedIcon = savedIcon-1;

            document.getElementById('my-icon-select').addEventListener('changed', function(e){
                selectedText.value = iconSelect.getSelectedValue();
            });

            iconSelect = new IconSelect("my-icon-select",
                {'selectedIconWidth':30,
                    'selectedIconHeight':30,
                    'selectedBoxPadding':1,
                    'iconsWidth':48,
                    'iconsHeight':48,
                    'boxIconSpace':1,
                    'vectoralIconNumber':7,
                    'horizontalIconNumber':7});

            var icons = [];
            iconBuild(icons);
            iconSelect.refresh(icons, savedIcon);
        };
    </script>

    <script>
        //Request calling 911
        var choices;
        function selectUser(select)
        {
            var option = select.options[select.selectedIndex];
            var ul = select.parentNode.getElementsByTagName('ul')[0];
            choices = ul.getElementsByTagName('input');

            for (var i = 0; i < choices.length; i++) {
                if (choices[i].value == option.value){
                    return;
                }
            }

            var li = document.createElement('li');
            var input = document.createElement('input');
            var text = document.createTextNode(option.firstChild.data);

            input.type = 'hidden';
            input.name = 'users[]';
            input.value = option.value;

            li.appendChild(input);
            li.appendChild(text);
            li.setAttribute('onclick', 'this.parentNode.removeChild(this);');

            ul.appendChild(li);
        }
        var usersToRemove = [];
        function removeUser(user){
            var choice = user.getElementsByTagName('input');
            usersToRemove.push(choice[0].value);
        }
        //end of Request calling 911

        $(document).ready(function(){
            var oldSortID = $("#oldSortID").val();
            var select_sort = '';
            var sortArray = $("#inUseSortID").val().split(",").map(Number);
            for (var a=1;a<=99;a++){
                if(sortArray.indexOf(a) == -1 || a == oldSortID){
                    if(a == oldSortID){
                        select_sort += '<option val=' + a + ' selected="selected">' + a + '</option>';
                    }else{
                        select_sort += '<option val=' + a + '>' + a + '</option>';
                    }
                }
            }
            $('#sort_select').html(select_sort);

            var oldAlertID = $("#oldAlertID").val();
            var select = '';
            var myArray = $("#inUseAlertID").val().split(",").map(Number);
            for (i=1;i<=99;i++){
                if(myArray.indexOf(i) == -1 || i == oldAlertID){
                    if(i == oldAlertID){
                        select += '<option val=' + i + ' selected="selected">' + i + '</option>';
                    }else{
                        select += '<option val=' + i + '>' + i + '</option>';
                    }
                }
            }
            $('#some_select').html(select);


            function radioOff() {
                $('#smecsUserSelect').removeClass().addClass('disable');
                $("#smecsUserSelect").attr('disabled',true);
                $('#imgAdd').removeClass().addClass('disable');
                $('#smecsUserLabel').removeClass().addClass('disable');
                $('#smecsUserDiv').removeClass().addClass('disable');
                $('#smecsUserUl').removeClass().addClass('disable');
                $('#clickHere').removeClass().addClass('disable');
            }
            function radioOn() {
                $('#smecsUserSelect').removeClass().addClass('enable');
                $("#smecsUserSelect").attr('disabled',false);
                $('#imgAdd').removeClass().addClass('enable');
                $('#smecsUserLabel').removeClass().addClass('enable');
                $('#smecsUserDiv').removeClass().addClass('enable');
                $('#smecsUserUl').removeClass().addClass('enable');
                $('#clickHere').removeClass().addClass('enable');
            }

            //This will check the status of radio button on page load
            $('input[name=request911]:checked').each(function() {
                var checkVal = $(this).val();
                if (checkVal == 'false'){
                    radioOff();
                } else {
                    $('#smecsUserDiv').show(); //to remove display: none
                    radioOn();
                }
            });
            //This will check the status of radio button onclick
            $('#request911').on('ifChecked', function () {
                radioOff();
            })
            $('#request911').on('ifUnchecked', function () {
                $('#smecsUserDiv').show(); //to remove display: none
                radioOn();
            })


            var id,alertName,alertID,alertProcedure, request911Call, sortID, icon;
            $("#<%= alert.id %>").click(function(){

                var alertGroupIdAndSound=$("input:radio[name='alertGroupID']:checked").val();
                if(alertGroupIdAndSound){
                    var alertGroupIdAndSoundArray = alertGroupIdAndSound.split(",").map(String);
                    var alertGroupID = parseInt(alertGroupIdAndSoundArray[0]);
                    var alertGroupName = alertGroupIdAndSoundArray[1];
                    var sound = alertGroupIdAndSoundArray[2];
                }


                id=$(this).attr('id');
                request911Call=$("input:radio[name='request911']:checked").val();

                alertName=$("#alertName").val();
                alertID=$("#some_select").val();
                alertProcedure=$("#alertProcedure").val();
                sortID=$("#sort_select").val();
                icon=$("#selected-text").val();
                var alertRequestProcedureCompleted = document.getElementById("checkboxProc").checked;
                var alertRequestWeAreSafe = document.getElementById("checkboxSafe").checked;
                var alertRequestForINeedHelp = document.getElementById("checkboxNeedHelp").checked;

                var arrayUsers = [];
                if (choices === undefined){
                    arrayUsers = $("#savedValuewhoCanCall911").val().split(",");
                    for (var a = 0; a < usersToRemove.length; a++) {
                        for (var i = 0; i < arrayUsers.length; i++) {
                            if (usersToRemove[a] == arrayUsers[i]){
                                arrayUsers.splice(i, 1);
                            }
                        }
                    }

                } else {
                    if(choices.length > 0) {
                        for (var a = 0; a < choices.length; a++) {
                            arrayUsers.push(choices[a].value);
                        }
                    }
                }

                //-----forms validation------------------------------------
                if (alertName == "" ) {
                    alert("Alert NAME must be filled out");
                    return false;
                }

                if (alertGroupID == null ) {
                    alert("Alert Group must be filled out");
                    return false;
                }
                /*strange behaviour when saving and radio smecs == true and no user is in arrayUsers.
                 Its s adding 1 user in arrayUsers(arrayUsers[0] == "").
                 Following "if" is to delete this user */
                if(arrayUsers.length == 1 && arrayUsers[0] == ""){
                    var index = arrayUsers.indexOf(5);
                    arrayUsers.splice( index, 1 );
                }

                if(request911Call == 'true' && arrayUsers.length < 1 ){
                    alert("You have selected that this alert request a 911 call. Please select at least one user role/group from dropdown list");
                    return false;
                }
                //--------------------------------forms validation end-------

                $.post("/alerts/updateAlerts",{
                    alertToUpdate: id,
                    alertGroupName: alertGroupName,
                    request911Call: request911Call,
                    whoCanCall911: arrayUsers,
                    alertGroupID: alertGroupID,
                    alertName: alertName,
                    alertID: alertID,
                    alertProcedure: alertProcedure,
                    oldAlertID: oldAlertID, //to update  aclPermission
                    sortID: sortID,
                    alertRequestProcedureCompleted: alertRequestProcedureCompleted,
                    alertRequestWeAreSafe: alertRequestWeAreSafe,
                    alertRequestForINeedHelp: alertRequestForINeedHelp,
                    icon: icon,
                    sound: sound

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Alert Name already already in use. Choose a different Name.")

                });

            });
        });
    </script>


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ./../../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ./../../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ./../../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="page-title">
                <div class="title_left">
                    <h3>Update Alert</h3>
                </div>



                <div class="title_right">

                    <div class="pull-left">
                        <% if (aclModifyAlertGroup == null || aclModifyAlertGroup.checkBoxValue == true) {%>
                        <button type="button"
                                id="<%= alert.id %>"
                                value="Submit"
                                class="btn btn-success">Save
                        </button>

                        <% } else { %>
                        <button type="button"
                                id="<%= alert.id %>"
                                value="Submit"
                                class="btn btn-success" disabled>Save
                        </button>
                        <% } %>

                        <a href="/alertGroups/showAlertGroups"><button type="button" class="btn btn-default">Cancel</button></a>

                    </div>


                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>


            <input type="hidden" id="oldAlertID" value="<%= alert.alertID %>">
            <input type="hidden" id="inUseAlertID" value="<%= array %>">
            <input type="hidden" id="alertProcedure" >
            <input type="hidden" id="savedValuewhoCanCall911" value="<%= alert.whoCanCall911 %>">
            <input type="hidden" id="oldSortID" value="<%= alert.sortID %>">
            <input type="hidden" id="inUseSortID" value="<%= arraySort %>">


            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Information</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Alert name <span class="required" style="color: red">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               id="alertName"
                                               value="<%= alert.alertName %>">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Alert sort #</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id='sort_select' class="form-control"></select>
                                    </div>
                                </div>

                                <% if (userAuthID == 1) {%>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Alert ID</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id='some_select' class="form-control"></select>
                                    </div>
                                </div>
                                <% } else { %>
                                <select id='some_select' style="display:none;"></select>
                                <% } %>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Alert icon</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div id="my-icon-select"></div>
                                        <input type="text" id="selected-text" name="selected-text" style="width:65px;" hidden>
                                        <input type="text" id="savedIcon" name="savedIcon" value="<%= alert.icon %>" hidden>
                                    </div>

                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="margin-top: -6px">Alert group</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <% alertGroup.forEach(function(alertGroup, idx, array) { %>
                                        <%if (alertGroup.groupID == alert.group.groupID) { %>
                                        <input type="radio"
                                               class="flat"
                                               style="margin-bottom: 2px"
                                               name="alertGroupID"
                                               id="<%= alertGroup.name %>"
                                               value="<%= alertGroup.groupID %>,<%= alertGroup.name %>,<%= alertGroup.sound.mp3 %>" checked>
                                        <label for="alertGroupName" style="font-weight:normal; position: relative; top: 2px" ><%= alertGroup.name %></label>
                                        <% }else {%>
                                        <input type="radio"
                                               class="flat"
                                               style="margin-bottom: 2px"
                                               name="alertGroupID"
                                               id="<%= alertGroup.name %>"
                                               value="<%= alertGroup.groupID %>,<%= alertGroup.name %>,<%= alertGroup.sound.mp3 %>">
                                        <label for="alertGroupName" style="font-weight:normal; position: relative; top: 2px" ><%= alertGroup.name %></label>
                                        <% } %>
                                        <% if (idx !== array.length - 1){ %> <!-- if is not the last loop do... -->
                                        <br>
                                        <% } %>
                                        <% }); %>
                                    </div>

                                </div>


                            </form>

                        </div>
                    </div>


                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Schedule</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left input_mask">

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" style="margin-top: -2px">Disable Alert</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">

                                        <input
                                                type="radio"
                                                class="flat"
                                                id="disableSchedule"
                                                name="disableSchedule"
                                                value="false" checked disabled>
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px" >never</label>&emsp;&emsp;
                                        <input type="radio"
                                               class="flat"
                                               id="disableSchedule"
                                               name="disableSchedule"
                                               value="true" disabled>
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px" >custom days/time</label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" style="margin-top: -2px">Automatic sending</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">

                                        <input
                                                type="radio"
                                                class="flat"
                                                id="autoSchedule"
                                                name="autoSchedule"
                                                value="false" checked disabled>
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px" >off</label>&emsp;&emsp;&nbsp;&nbsp;&nbsp;&thinsp;&thinsp;
                                        <input type="radio"
                                               class="flat"
                                               id="autoSchedule"
                                               name="autoSchedule"
                                               value="true" disabled>
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px" >On</label>
                                    </div>
                                </div>



                            </form>

                        </div>
                    </div>



                </div>











                <div class="col-md-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Requests</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <form class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <label class="control-label col-md-5 col-sm-5 col-xs-12" style="margin-top: -2px" for="checkboxProc">Procedure completed</label>
                                    <div class="col-md-7 col-sm-7 col-xs-12">

                                        <% if (alert.alertRequestProcedureCompleted == true) {%>
                                        <input type="checkbox"
                                               name="checkboxProc"
                                               id="checkboxProc"
                                               value="<%= alert.alertRequestProcedureCompleted %>" checked>
                                        <% }else{%>
                                        <input type="checkbox"
                                               name="checkboxProc"
                                               id="checkboxProc"
                                               value="<%= alert.alertRequestProcedureCompleted %>">
                                        <% } %>
                                            <label for="checkboxProc"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-5 col-sm-5 col-xs-12" style="margin-top: -2px" for="checkboxSafe">We are safe!</label>
                                    <div class="col-md-7 col-sm-7 col-xs-12">

                                        <% if (alert.alertRequestWeAreSafe == true) {%>
                                        <input type="checkbox"
                                               name="checkboxSafe"
                                               id="checkboxSafe"
                                               value="<%= alert.alertRequestWeAreSafe %>" checked>
                                        <% }else{%>
                                        <input type="checkbox"
                                               name="checkboxSafe"
                                               id="checkboxSafe"
                                               value="<%= alert.alertRequestWeAreSafe %>">
                                        <% } %>
                                        <label for="checkboxSafe"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-5 col-sm-5 col-xs-12" style="margin-top: -2px" for="checkboxSafe">Allow teacher to request help</label>
                                    <div class="col-md-7 col-sm-7 col-xs-12">

                                        <% if (alert.alertRequestForINeedHelp == true) {%>
                                        <input type="checkbox"
                                               name="checkboxNeedHelp"
                                               id="checkboxNeedHelp"
                                               value="<%= alert.alertRequestForINeedHelp %>" checked>
                                        <% }else{%>
                                        <input type="checkbox"
                                               name="checkboxNeedHelp"
                                               id="checkboxNeedHelp"
                                               value="<%= alert.alertRequestForINeedHelp %>">
                                        <% } %>
                                        <label for="checkboxNeedHelp"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-5 col-sm-5 col-xs-12" style="margin-top: -2px">Call 911</label>
                                    <div class="col-md-7 col-sm-7 col-xs-12">

                                        <%if (alert.alertRequest911Call == false) { %>
                                        <input
                                                type="radio"
                                                class="flat"
                                                id="request911"
                                                name="request911"
                                                value="false" checked>
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px" >No</label>&emsp;&emsp;
                                        <input type="radio"
                                               class="flat"
                                               id="request911"
                                               name="request911"
                                               value="true">
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px" >Yes</label>
                                        <% }else {%>
                                        <input type="radio"
                                               class="flat"
                                               id="request911"
                                               name="request911"
                                               value="false">
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px" >No</label>&emsp;&emsp;
                                        <input type="radio"
                                               class="flat"
                                               id="request911"
                                               name="request911"
                                               value="true" checked>
                                        <label for="req911" style="font-weight:normal; position: relative; top: 4px" >Yes</label>
                                        <% }%>
                                        <br><br>

                                        <div id="smecsUserDiv" class="enable" style="margin-left: -130px; display: none;">
                                            <label for="smecsUserLabel" id="smecsUserLabel" class="enable" style="margin-left: 10px">Who can call:</label><br>

                                            <ul id="smecsUserUl" class="enable">
                                                <% for (var a = 0; a < alert.whoCanCall911.length; a++) { %>
                                                <li id="user1" onclick="this.parentNode.removeChild(this); removeUser(this)">
                                                    <input type="hidden" name="users[]" value="<%= alert.whoCanCall911[a] %>" />
                                                    <%= alert.whoCanCall911[a] %>
                                                </li>
                                                <% } %>

                                            </ul>

                                            <select class="enable" id="smecsUserSelect" onchange="selectUser(this);">
                                                <!–– <option selected disabled hidden> -- select a role -- </option> ––>
                                                <option disabled selected value> -- select a role -- </option>
                                                <% roles.forEach(function(role) { %>
                                                <option value="<%= role.roleName %>" ><%= role.roleName %></option>
                                                <% }); %>
                                            </select>
                                            <img id="imgAdd" class="enable" src="/miscPictures/add.png" alt="Add" style="vertical-align: middle;" onclick="selectUser($(this).prev().get(0));">
                                            <br><br>
                                        </div>

                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>






            </div>

        </div>

        <!-- /page content -->

        <!-- footer content -->
        <% include ./../../layout/footer.ejs %>
        <!-- /footer content -->
    </div>
</div>


<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.min.js"></script>
<!-- Google Analytics -->

</body>

</html>