
<html lang="en">
<head>

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link rel='stylesheet' href='/stylesheets/crudUtilityUsers.css' />
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>

    <link type="text/css" href="/selectMenu/themes/base/jquery.ui.theme.css" rel="stylesheet" />
    <link type="text/css" href="/selectMenu/themes/base/jquery.ui.selectmenu.css" rel="stylesheet" />

    <script type="text/javascript" src="/selectMenu/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="/selectMenu/ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/selectMenu/ui/jquery.ui.position.js"></script>
    <script type="text/javascript" src="/selectMenu/ui/jquery.ui.selectmenu.js"></script>



    <script type = "text/javascript">

        var choices;
        function selectUser(select)
        {
            var option = select.options[select.selectedIndex];
            var ul = select.parentNode.getElementsByTagName('ul')[0];
            choices = ul.getElementsByTagName('input');

            var arr = option.value.split("_|_").map(function (val){
                return val
            });

            for (var i = 0; i < choices.length; i++) {
                if (choices[i].value == arr[0]){
                    return;
                }
            }

            var text1a = 'Company: ';
            var text1b = arr[1];
            var text2a = 'Contact: ';
            var text2b = arr[2];
            var text3a = 'Email: ';
            var text3b = arr[0];

            var li = document.createElement('li');
            var input = document.createElement('input');
            var lineBreak = document.createElement('br');
            var lineBreak2 = document.createElement('br');
            var span1 = document.createElement('span');
            var span2 = document.createElement('span');
            var span3 = document.createElement('span');

            var textA1 = document.createTextNode(text1a);
            var textA2 = document.createTextNode(text1b);
            var textB1 = document.createTextNode(text2a);
            var textB2 = document.createTextNode(text2b);
            var textC1 = document.createTextNode(text3a);
            var textC2 = document.createTextNode(text3b);

            span1.setAttribute('class', 'fontColor');
            span1.appendChild(textA1);
            span2.setAttribute('class', 'fontColor');
            span2.appendChild(textB1);
            span3.setAttribute('class', 'fontColor');
            span3.appendChild(textC1);

            input.type = 'hidden';
            input.name = 'users[]';
            input.value = arr[0];

            li.appendChild(input);
            li.appendChild(span1);
            li.appendChild(textA2);
            li.appendChild(lineBreak);
            li.appendChild(span2);
            li.appendChild(textB2);
            li.appendChild(lineBreak2);
            li.appendChild(span3);
            li.appendChild(textC2);

            li.setAttribute('onclick', 'this.parentNode.removeChild(this);');

            ul.appendChild(li);
        }
        var usersToRemove = [];
        function removeUser(user){
            var choice = user.getElementsByTagName('input');
            //console.log(choice[0].value);
            usersToRemove.push(choice[0].value);
        }

        $(document).ready(function()
            {
                var utility_ID;
                $("#<%= utility.id %>").click(function(){
                    utility_ID=$(this).attr('id');
                    var arrayUsers = [];
                    if (choices === undefined){
                        arrayUsers = $("#savedValueSmecsUsers").val().split(",");
                        for (var a = 0; a < usersToRemove.length; a++) {
                            for (var i = 0; i < arrayUsers.length; i++) {
                                if (usersToRemove[a] == arrayUsers[i]){
                                    arrayUsers.splice(i, 1);
                                }
                            }
                        }

                    } else {
                        if(choices.length > 0) {
                            for (var a = 0; a < choices.length; a++) {
                                arrayUsers.push(choices[a].value);
                            }
                        }
                    }

                    $.post("/utilities/users",{
                        utilityToUpdate: utility_ID,
                        smecsUsers: arrayUsers

                    },function(data){
                        if(data==='done')
                        {
                            alert("login success");
                        }
                        window.location = data.redirect
                    })

                    $("#newUser").click(function () {

                        $.post("/users/addUser/step0",{

                        },function(data){
                            if(data==='done')
                            {
                                alert("login success");
                            }
                            window.location = data.redirect
                        }).error(function(error){
                            if(error.responseText == 'showAlert')
                                alert("Add User failed.")
                        });
                    });
                });
            }
        );
    </script>
    <style type="text/css">
        /* demo styles */

    </style>
    <script type="text/javascript">
        $(function(){
            $('select#speedD').selectmenu({
                menuWidth: 400,
                format: addressFormatting
            });
        });

        //a custom format option callback
        var addressFormatting = function(text, opt){
            var newText = text;
            //array of find replaces
            var findreps = [
                {find:/^([^\-]+) \- /g, rep: '<span style="color: #46A" class="ui-selectmenu-item-header">$1</span>'},
                {find:/([^\|><]+) \| /g, rep: '<span style="color: #46A" class="ui-selectmenu-item-content">$1</span>'},
                {find:/([^\|><\(\)]+) (\()/g, rep: '<span  class="ui-selectmenu-item-content">$1</span>$2'},
                {find:/([^\|><\(\)]+)$/g, rep: '<span style="color: #46A" class="ui-selectmenu-item-content">$1</span>'},
                {find:/(\([^\|><]+\))$/g, rep: '<span class="ui-selectmenu-item-footer">$1</span>'}
            ];

            for(var i in findreps){
                newText = newText.replace(findreps[i].find, findreps[i].rep);
            }
            return newText;
        }
    </script>


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ./../../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ./../../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ./../../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="page-title">
                <div class="title_left">
                    <h3>Contacts for <%= title %></h3>
                </div>



                <div class="title_right">

                    <div class="pull-left">
                        <% if (aclAddUtilities == null || aclAddUtilities.checkBoxValue == true) {%>
                            <button type="button"
                                    id="btSubmit"
                                    value="Submit"
                                    onClick="GetSelectedItem('DropDownID');"
                                    class="btn btn-success">Save
                            </button>

                            <!-- <button type="submit" class="btn btn-success">Submit</button> -->
                        <% } else { %>
                            <button type="button"
                                    id="btSubmit"
                                    value="Submit"
                                    onClick="GetSelectedItem('DropDownID');"
                                    class="btn btn-success" disabled>Save
                            </button>
                        <% } %>
                        <a href="/utilities/showUtilities"><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>


            <input type="hidden" id="savedValueSmecsUsers" value="<%= utility.smecsUsers %>">


            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Information</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left input_mask">




                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">SMECS users:</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">




                                            <ul id="smecsUserUl" class="enable">
                                                <% for (var a = 0; a < utility.smecsUsers.length; a++) { %>
                                                    <% allUtilUsers.forEach(function(user) { %>
                                                        <% if (user.email == utility.smecsUsers[a]) {%>
                                                            <li id="user1" onclick="this.parentNode.removeChild(this); removeUser(this)">
                                                                <input type="hidden" name="users[]" value="<%= utility.smecsUsers[a] %>" />
                                                                <span class="fontColor">Company:</span> <%= user.companyName %><br>
                                                                <span class="fontColor">Contact:</span> <%= user.contactName %><br>
                                                                <span class="fontColor">Email:</span> <%= user.email %>
                                                            </li>
                                                        <% } %>
                                                    <% }); %>
                                                <% } %>

                                            </ul>


                                            <select name="speedD" id="speedD" class="enable" id="smecsUserSelect" onchange="selectUser(this);">
                                                <!–– <option selected disabled hidden> -- select a user -- </option> ––>
                                                <option disabled selected value> -- select a user from dropdown list -- </option>
                                                <% allUtilUsers.forEach(function(user) { %>
                                                    <% if (user.softDeleted == null) { %>
                                                        <option value="<%= user.email %>_|_<%= user.companyName %>_|_<%= user.contactName %>" >
                                                            Company: <%= user.companyName %> - Contact: <%= user.contactName %> | Email: <%= user.email %>
                                                        </option>
                                                    <% } %>
                                                <% }); %>
                                            </select>
                                            <img id="imgAdd" class="enable" src="/miscPictures/add.png" alt="Add" style="vertical-align: middle;" onclick="selectUser($(this).prev().get(0));">
                                            <br><br>
                                            If you want to insert a new user to dropdown list <a id="newUser" class="enable"href="">click here</a>.



                                    </div>
                                </div>




                            </form>
                            <div class="ln_solid"></div>
                        </div>
                    </div>






                </div>


            </div>
        </div>
        <!-- /page content -->

    </div>
</div>


<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.min.js"></script>


</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ./../../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>