<!DOCTYPE html>
<html>
<head>
    <title>Show Utilities Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/tablesorter-master/jquery.tablesorter.js"></script>

    <script type = "text/javascript">
        $(document).ready(function()
                {
                    $("#myTable").tablesorter();
                    $("#btSubmit").click(function () {

                        $.post("/users/showUser", {


                        }, function (data) {
                            if (data === 'done') {
                                alert("login success");
                            }
                            window.location = data.redirect
                        });
                    });
                }
        );
    </script>

</head>
<body>
<h1><%= title %></h1>
<br>

<% if (aclAddUsers == null || aclAddUsers.checkBoxValue == true) {%>
<input class="btn btn-primary" type="submit" id="btSubmit" value="Add User">&nbsp;&nbsp;
<% } else { %>
<input class="btn btn-primary" type="submit" id="btSubmit" value="Add User" disabled>&nbsp;&nbsp;
<% } %>
<% if (aclShowDeletedUsers == null || aclShowDeletedUsers.checkBoxValue == true) {%>
<button class="DelUtilityUsers" id="DelUtiUsr" onclick="location.href='/users/deletedUsers'">Trash</button>
<% } else { %>
<button class="DelUtilityUsers" id="DelUtiUsr" onclick="location.href='/users/deletedUsers'" disabled>Trash</button>
<% } %>
<br>

<table id="myTable" class="tablesorter" style="width:100%;table-layout: fixed;">
    <caption>
        TIP! Sort multiple columns simultaneously by holding down the shift key and clicking a second column header!
    </caption>
    <thead>
    <tr>
        <th>Email</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th align="center">Update</th>
        <th align="center">Delete</th>
    </tr>
    <tbody>
    <% utilityUsers.forEach(function(user) { %>
    <% if (user.softDeleted == null) { %>
    <tr>
        <td><%= user.email %></td>
        <td><%= user.companyName %></td>
        <td><%= user.contactName %></td>
        <td align="center">
            <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                <a href="/users/updateUser/<%= user.id %>"><button class="inTable">update</button></a>
            <% } else { %>
                <a href="/users/updateUser/<%= user.id %>"><button class="inTable" disabled>update</button></a>
            <% } %>
        </td>
        <td align="center">
            <% if ((aclDeleteUsers == null || aclDeleteUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                <a href="/users/delete/<%= user.id %>"><button class="inTable">trash</button></a>
            <% } else { %>
                <a href="/users/delete/<%= user.id %>"><button class="inTable" disabled>trash</button></a>
            <% } %>
        </td>
    </tr>
    <% } %>
    <% }); %>
    </tbody>
</table><br>
<div class="main-container">
    <div class="fixer-container">
        <ul class="list-of-floating-elements">
            <form class="floated"></form>
            <form action="/utilities/showUtilities">
                <input type="submit" value="Back">
            </form>
        </ul>
    </div>
</div>
</body>
</html>
