<html>
<head>
    <title>add user</title>
    <link rel='stylesheet' href='/stylesheets/addUser.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>

        var choices;
        function selectUser(select)
        {
            var option = $("#dataList").val();
            //get datalist data-value to value2send
            var value2send= document.querySelector('#students option[value="'+option+'"]').dataset.value;

            var ul = select.parentNode.getElementsByTagName('ul')[0];
            choices = ul.getElementsByTagName('input');

            for (var i = 0; i < choices.length; i++) {

                if (choices[i].value == value2send) {
                    return;
                }
            }
            var li = document.createElement('li');
            var input = document.createElement('input');
            var text = document.createTextNode(option);

            input.type = 'hidden';
            input.name = 'users[]';
            input.value = value2send;

            li.appendChild(input);
            li.appendChild(text);
            li.setAttribute('onclick', 'this.parentNode.removeChild(this);');

            ul.appendChild(li);


        }
        var usersToRemove = [];
        function removeUser(user){
            var choice = user.getElementsByTagName('input');
            usersToRemove.push(choice[0].value);
        }


        $(document).ready(function(){
            var userToAddUpdate_ID;
            var firstName,lastName,email,pin,confirmPin,photo,companyName,contactName,anyOtherRole,utilityUserRole,parentRole;
            $("#next").click(function(){
                userToAddUpdate_ID=$("#userTempID").val();
                anyOtherRole=$("#anyOtherRole").val();
                utilityUserRole=$("#utilityUserRole").val();
                parentRole=$("#parentRole").val();

                firstName=$("#firstName").val();
                lastName=$("#lastName").val();
                email=$("#email").val();
                pin=$("#pin").val();
                confirmPin=$("#confirmPin").val();
                photo=$("#photo").val();
                companyName=$("#companyName").val();
                contactName=$("#contactName").val();


                var arrayUsers = [];
                if (choices === undefined){
                    arrayUsers = $("#savedValueSmecsUsers").val().split(",");
                    for (var a = 0; a < usersToRemove.length; a++) {
                        for (var i = 0; i < arrayUsers.length; i++) {
                            if (usersToRemove[a] == arrayUsers[i]){
                                arrayUsers.splice(i, 1);
                            }
                        }
                    }
                } else {
                    if(choices.length > 0) {
                        for (var a = 0; a < choices.length; a++) {
                            arrayUsers.push(choices[a].value);
                        }
                    }
                }

                if(arrayUsers.length == 1 && arrayUsers[0] == "") {
                    var index = arrayUsers.indexOf(5);
                    arrayUsers.splice(index, 1);
                }

                //-----forms validation------------------------------------

                if (firstName == "" ) {
                    alert("FIRST NAME must be filled out");
                    return false;
                }
                if (lastName == "" ) {
                    alert("LAST NAME must be filled out");
                    return false;
                }
                var mailFormat = /^([a-z A-Z 0-9 _\.\-])+\@(([a-z A-Z 0-9\-])+\.)+([a-z A-z 0-9]{2,4})+$/;
                if (!mailFormat.test(email)) {
                    alert("Please input a valid EMAIL address!");
                    return false;
                }
                var pinFormat=/^\d{4}$/;
                if (!pinFormat.test(pin)) {
                    alert("Pin code should be 4 digits ");
                    return false;
                }
                if (!pinFormat.test(confirmPin)) {
                    alert("Confirm Pin code should be 4 digits ");
                    return false;
                }
                if (pin != confirmPin) {
                    alert("Pin and Confirm Pin don't match!");
                    return false;
                }
                if (utilityUserRole == 1 && companyName == '' ||
                    parentRole == 1 && companyName == ''
                ) {
                    alert("Company Name must be filled out");
                    return false;
                }

                //--------------------------------forms validation end-------

                $.post("/users/addUser/step2",{
                    userToAddUpdate_ID: userToAddUpdate_ID,
                    anyOtherRole: anyOtherRole,
                    utilityUserRole: utilityUserRole,
                    parentRole: parentRole,
                    firstName: firstName,
                    lastName: lastName,
                    email: email,
                    pin: pin,
                    photo: photo,
                    companyName: companyName,
                    contactName: contactName

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Email already in use. Choose a different Email .")
                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>

<form>
    <input type="hidden" id="userTempID"  value="<%= user._id %>">
    <input type="hidden" id="anyOtherRole"  value="<%= anyOtherRole %>">
    <input type="hidden" id="utilityUserRole"  value="<%= utilityUserRole %>">
    <input type="hidden" id="parentRole"  value="<%= parentRole %>">

    <% /* if user as 1 or more Roles different from Parents or utilityUsers*/%>
    <% if (anyOtherRole == 1) {%>
        <label for="firstName"><b>First Name:</b></label><br>
        <input type="text" id="firstName" size="40" placeholder="ex: Manuel" ><br><br>
        <label for="lastName"><b>Last Name:</b></label><br>
        <input type="text" id="lastName" size="40" placeholder="ex: Neves"><br><br>
        <label for="email"><b>Email:</b></label><br>
        <input type="email" id="email" size="40" placeholder="ex: Manuel.Neves@gmail.com"><br><br>
        <label for="pin"><b>Pin:</b></label><br>
        <input type="password" id="pin" size="40" placeholder="ex: 1234"><br><br>
        <label for="confirmPin"><b>Confirm Pin:</b></label><br>
        <input type="password" id="confirmPin" size="40" placeholder="ex: 1234"><br><br>
        <input type="hidden" id="photo" >
        <% /* if user as 1 or more Roles and one is Parents Role and  has no UtilityUsers Role*/%>
        <% if (parentRole == 1 && utilityUserRole == 0 ) {%>
            <label for="student"><b>Student:</b></label><br>
            <input type="text" id="student" size="40" placeholder="ex: Manuel" ><br><br>
        <% } %>
        <% /* if user as 1 or more Roles and one is UtilityUsers Role and  has no Parent Role*/%>
        <% if (parentRole == 0 && utilityUserRole == 1 ) {%>
            <label for="companyName"><b>Company Name:</b></label><br>
            <input type="text" id="companyName" size="40" placeholder="ex: Gas company" ><br><br>
        <% } %>
        <% /* if user as 1 or more Roles and one is Parent Role and  another is UtilityUsers Role*/%>
        <% if (parentRole == 1 && utilityUserRole == 1 ) {%>
            <label for="companyName"><b>Company Name:</b></label><br>
            <input type="text" id="companyName" size="40" placeholder="ex: Gas company" ><br><br>
            <label for="contactName" ><b>Contact Name:</b>(optional)</label><br>
            <input type="text" id="contactName" size="40" placeholder="ex: Pedro Reis"><br><br>

            <label for="student"><b>Student:</b></label><br>
            <input type="text" id="student" size="40" placeholder="ex: Manuel" ><br><br>
        <% } %>
    <% } %>

    <% /* if user as only Parent Role */%>
    <% if (anyOtherRole == 0 && parentRole == 1 && utilityUserRole == 0 ) {%>
        <label for="firstName"><b>First Name:</b></label><br>
        <input type="text" id="firstName" size="40" placeholder="ex: Manuel" ><br><br>
        <label for="lastName"><b>Last Name:</b></label><br>
        <input type="text" id="lastName" size="40" placeholder="ex: Neves"><br><br>
        <label for="email"><b>Email:</b></label><br>
        <input type="email" id="email" size="40" placeholder="ex: Manuel.Neves@gmail.com"><br><br>
        <label for="pin"><b>Pin:</b></label><br>
        <input type="password" id="pin" size="40" placeholder="ex: 1234"><br><br>
        <label for="confirmPin"><b>Confirm Pin:</b></label><br>
        <input type="password" id="confirmPin" size="40" placeholder="ex: 1234"><br><br>
        <input type="hidden" id="photo" >

    <label for="students"><b>Parent of:</b></label><br>
    <div id="labelsDiv2" class="labelsDiv2">
        <div id="smecsUserDiv" class="enable">
            <label for="smecsUserLabel" id="smecsUserLabel" class="enable">Students:</label><br>


            <ul id="smecsUserUl" class="enable">


            </ul>

            <input
                    class="enable"
                    id="dataList" list="students"
                    name="student"
                    placeholder="type student name"
                    value="<%= students.studentName %>"
                    onkeydown = "return (event.keyCode!=13);" onchange="selectUser(this);">
            <dataList id="students">
                <% students.forEach(function(student) { %>
                <option data-value="<%= student.studentID %>" value="<%= student.firstName %> <%= student.lastName %>"></option>
                <% }); %>
            </dataList>

            <img id="imgAdd" class="enable" src="/miscPictures/add.png" alt="Add" style="vertical-align: middle;" onclick="selectUser($(this).prev().get(0));">
            <br><br>
            If you want to add a new student to dropdown list <a id="clickHere" class="enable"href="/students/addStudent">click here</a>.
        </div>
    </div>

    <% } %>
    <% /* if user as only Parent Role and UtilityUser Role */%>
    <% if (anyOtherRole == 0 && parentRole == 1 && utilityUserRole == 1 ) {%>
        <label for="firstName"><b>First Name:</b></label><br>
        <input type="text" id="firstName" size="40" placeholder="ex: Manuel" ><br><br>
        <label for="lastName"><b>Last Name:</b></label><br>
        <input type="text" id="lastName" size="40" placeholder="ex: Neves"><br><br>
        <label for="email"><b>Email:</b></label><br>
        <input type="email" id="email" size="40" placeholder="ex: Manuel.Neves@gmail.com"><br><br>
        <label for="pin"><b>Pin:</b></label><br>
        <input type="password" id="pin" size="40" placeholder="ex: 1234"><br><br>
        <label for="confirmPin"><b>Confirm Pin:</b></label><br>
        <input type="password" id="confirmPin" size="40" placeholder="ex: 1234"><br><br>
        <input type="hidden" id="photo" >
        <label for="companyName"><b>Company Name:</b></label><br>
        <input type="text" id="companyName" size="40" placeholder="ex: Gas company" ><br><br>
        <label for="contactName" ><b>Contact Name:</b>(optional)</label><br>
        <input type="text" id="contactName" size="40" placeholder="ex: Pedro Reis"><br><br>

        <label for="student"><b>Student:</b></label><br>
        <input type="text" id="student" size="40" placeholder="ex: Manuel" ><br><br>
    <% } %>
    <% /* if user as only UtilityUser Role */%>
    <% if (anyOtherRole == 0 && parentRole == 0 && utilityUserRole == 1 ) {%>
        <label for="email"><b>Email:</b></label><br>
        <input type="email" id="email" size="40" placeholder="ex: Manuel.Neves@gmail.com"><br><br>
        <label for="pin"><b>Pin:</b></label><br>
        <input type="password" id="pin" size="40" placeholder="ex: 1234"><br><br>
        <label for="confirmPin"><b>Confirm Pin:</b></label><br>
        <input type="password" id="confirmPin" size="40" placeholder="ex: 1234"><br><br>
        <label for="companyName"><b>Company Name:</b></label><br>
        <input type="text" id="companyName" size="40" placeholder="ex: Gas company" ><br><br>
        <label for="contactName" ><b>Contact Name:</b>(optional)</label><br>
        <input type="text" id="contactName" size="40" placeholder="ex: Pedro Reis"><br><br>
    <% } %>
</form>

<form>
    <form action="/dashboard">
        <input type="submit" value="Cancel">
    </form>
    <button class="backButton" onclick="goBack()">Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <% if (aclAddUsers == null || aclAddUsers.checkBoxValue == true) {%>
        <input type="button" id="next" value="Next" ><br>
    <% } else { %>
        <input type="button" id="next" value="Next" disabled><br>
    <% } %>
</form>

</body>
</html>