<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- NProgress -->
    <link href="/public/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/public/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/customAddUser.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">

    <title>add user</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
        $(document).ready(function(){
            var userToAddUpdate_ID;
            var userPrivilegeID,userPrivilegeName;
            $("#next").click(function(){
                userToAddUpdate_ID=$("#userTempID").val();

                userPrivilegeID=$("input:radio[name='userPrivilegeID']:checked").val();
                userPrivilegeName = $("input:radio[name='userPrivilegeID']:checked + label").text();

                //-----forms validation------------------------------------

                if (userPrivilegeID == null ) {
                    alert("USER PRIVILEGE must be filled out");
                    return false;
                }

                //--------------------------------forms validation end-------

                $.post("/users/addUser/step3",{
                    userToAddUpdate_ID: userToAddUpdate_ID,
                    userPrivilegeID: userPrivilegeID,
                    userPrivilegeName: userPrivilegeName

                },function(data){
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Add User failed.")
                });
            });

            $("#cancel").click(function () {

                $.post("/users/addUser/cancel",{

                },function(data){
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Add User failed.")
                });
            });

            $("#back").click(function () {
                userToAddUpdate_ID=$("#userTempID").val();
                window.location = '/users/addUser/step2/' + userToAddUpdate_ID;
            });

        });
    </script>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <% include ../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <div class="right_col" role="main">

            <div class="page-title">
                <div >
                    <h3 class="title_left"><%= title %></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">


                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <ul class="wizard_steps anchor">
                                    <li>
                                        <a href="#step-1" class="done">
                                            <span class="step_no">1</span>
                                            <span class="step_descr">
                                              Step 1<br />
                                              <small>&ensp;choosing roles&ensp;</small>
                                          </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-2" class="done">
                                            <span class="step_no">2</span>
                                            <span class="step_descr">
                                              Step 2<br />
                                              <small>name, email and pin</small>
                                          </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-3" class="selected">
                                            <span class="step_no">3</span>
                                            <span class="step_descr">
                                              Step 3<br />
                                              <small>&thinsp;&ensp;privilege level&ensp;&thinsp;</small>
                                          </span>
                                        </a>
                                    </li>
                                </ul>


                                <input type="hidden" id="userTempID"  value="<%= user._id %>">

                                <form class="form-horizontal form-label-left input_mask">
                                    <div class="form-group">
                                        <label class="control-label col-md-5 col-sm-5 col-xs-12">User Privilege:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 checkbox">

                                            <% privilege.forEach(function(privilege) { %>

                                                <% if (userAuthID == 1) {%>
                                                    <% if (principalRole == 1 && privilege.privilegeID == 2) {%>
                                                        <input type="radio"
                                                               name="userPrivilegeID"
                                                               id=<%= privilege.privilegeName %>
                                                               value="<%= privilege.privilegeID %>" checked><label for="userPrivilegeName"><%= privilege.privilegeName %></label>
                                                        <small> - by default, has Full Access</small>
                                                    <% } else { %>
                                                        <% if (principalRole != 1 && privilege.privilegeID == 5) {%>
                                                            <input type="radio"
                                                                   name="userPrivilegeID"
                                                                   id=<%= privilege.privilegeName %>
                                                                   value="<%= privilege.privilegeID %>" checked><label for="userPrivilegeName"><%= privilege.privilegeName %></label>
                                                            <small> - by default, No Web Dashboard Access</small>
                                                        <% } else { %>
                                                            <input type="radio"
                                                                   name="userPrivilegeID"
                                                                   id=<%= privilege.privilegeName %>
                                                                   value="<%= privilege.privilegeID %>" ><label for="userPrivilegeName"><%= privilege.privilegeName %></label>
                                                            <% if (privilege.privilegeID == 2 ) { %>
                                                                <small> - by default, has Full Access</small>
                                                            <% } %>
                                                            <% if (privilege.privilegeID == 3 ) { %>
                                                                <small> - by default, can choose who sends/receives Alerts and Add/Delete Users</small>
                                                            <% } %>
                                                            <% if (privilege.privilegeID == 4 ) { %>
                                                                <small> - by default, can Add/Delete Users</small>
                                                            <% } %>
                                                            <% if (privilege.privilegeID == 5 ) { %>
                                                                <small> - by default, No Web Dashboard Access</small>
                                                            <% } %>
                                                        <% } %>
                                                    <% } %>
                                                    <br>
                                                <% } else { %>
                                                    <% if (userAuthID != 1) {%>

                                                        <% if (principalRole == 1 && privilege.privilegeID == 2) {%>
                                                            <input type="radio"
                                                                   name="userPrivilegeID"
                                                                   id=<%= privilege.privilegeName %>
                                                                   value="<%= privilege.privilegeID %>" checked><label for="userPrivilegeName"><%= privilege.privilegeName %></label>
                                                            <small> - by default, has Full Access</small>
                                                        <% } else { %>

                                                            <% if (privilege.privilegeID == 2 ||
                                                                    privilege.privilegeID == 3 ||
                                                                    privilege.privilegeID == 4 ||
                                                                    privilege.privilegeID == 5) { %>

                                                                <input type="radio"
                                                                       name="userPrivilegeID"
                                                                       id=<%= privilege.privilegeName %>
                                                                       value="<%= privilege.privilegeID %>" ><label for="userPrivilegeName"><%= privilege.privilegeName %></label>

                                                                <% if (privilege.privilegeID == 2 ) { %>
                                                                    <small> - by default, has Full Access</small>
                                                                <% } %>
                                                                <% if (privilege.privilegeID == 3 ) { %>
                                                                    <small> - by default, can choose who sends/receives Alerts and Add/Delete Users</small>
                                                                <% } %>
                                                                <% if (privilege.privilegeID == 4 ) { %>
                                                                    <small> - by default, can Add/Delete Users</small>
                                                                <% } %>
                                                                <% if (privilege.privilegeID == 5 ) { %>
                                                                    <small> - by default, No Web Dashboard Access</small>
                                                                <% } %>
                                                            <% } %>
                                                        <% } %>
                                                    <% } %>
                                                    <br>
                                                <% } %>
                                                <br>
                                            <% }); %>
                                            <br>
                                            <% if (aclShowPermissionsTable == null || aclShowPermissionsTable.checkBoxValue == true) {%>
                                                <p>All Administrator Levels and Regular User permissions can be customized in: "<a href="/permissions/showPermissionsTable">Table: Permissions</a>"</p>
                                            <% } else { %>
                                                <p>All Administrator Levels and Regular User permissions can be customized in: Table: Permissions</p>
                                            <% } %>
                                        </div>
                                    </div>


                                    <div class="ln_solid"></div>
                                    <div class="centered-text">

                                        <input type="button" id="cancel" value="cancel" class="btn btn-default">

                                        <input type="button" id="back" value="back" class="btn btn-primary">

                                        <% if (typeof aclAddUsers == 'undefined' || aclAddUsers == null || aclAddUsers.checkBoxValue == true) {%>
                                            <input type="button" id="next" value="save" class="btn btn-success">
                                        <% } else { %>
                                            <input type="button" id="next" value="save" class="btn btn-success" disabled>
                                        <% } %>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>

<!-- Datatables -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.js"></script>
<!-- Google Analytics -->

</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>