<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/public/gentelella/vendors/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/public/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/public/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
      <link href="/public/gentelella/build/css/showUsers.css" rel="stylesheet">


    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#btSubmit").click(function () {

          $.post("/users/showUser", {


          }, function (data) {
            if (data === 'done') {
              alert("login success");
            }
            window.location = data.redirect
          });
        });
      }
      );
    </script>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/dashboard" class="site_title"><i class="fa fa-graduation-cap"></i> <span>Dashboard</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <% include ../layout/menuProfile.ejs %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../layout/sideMenu.ejs %>
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <% if ( error_messages ) { %>
        <p style="color: red"><%= error_messages %></p>
        <% } %>
        <div class="right_col" role="main">
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_content">
                  <form>
                    <% if (aclAddUsers == null || aclAddUsers.checkBoxValue == true) {%>
                    <input class="btn btn-primary" type="submit" id="btSubmit" value="Add User">&nbsp;&nbsp;
                    <% } else { %>
                    <input class="btn btn-primary" type="submit" id="btSubmit" value="Add User" disabled>&nbsp;&nbsp;
                    <% } %>
                  </form>
                    <form action="/parentsSelfRegistration/defaultForm">
                        <% if (aclShowDeletedUsers == null || aclShowDeletedUsers.checkBoxValue == true) {%>
                        <input class="btn btn-primary" type="submit" value="Parent Self Registration">&nbsp;&nbsp;
                        <% } else { %>
                        <input class="btn btn-primary" type="submit" value="Parent Self Registration" disabled>&nbsp;&nbsp;
                        <% } %>
                    </form>
                  <form action="/users/deletedUsers">
                    <% if (aclShowDeletedUsers == null || aclShowDeletedUsers.checkBoxValue == true) {%>
                    <input class="btn btn-primary" type="submit" value="Delete All Parents" disabled>&nbsp;&nbsp;
                    <% } else { %>
                    <input class="btn btn-primary" type="submit" value="Delete All Parents" disabled>&nbsp;&nbsp;
                    <% } %>
                  </form>
                  <form action="/users/deletedUsers">
                    <% if (aclShowDeletedUsers == null || aclShowDeletedUsers.checkBoxValue == true) {%>
                    <input class="btn btn-primary" type="submit" value="Trash">&nbsp;&nbsp;
                    <% } else { %>
                    <input class="btn btn-primary" type="submit" value="Trash" disabled>&nbsp;&nbsp;
                    <% } %>
                  </form>
                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="schoolStaff-tab" role="tab" data-toggle="tab" aria-expanded="true">School Staff</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="parents-tab" data-toggle="tab" aria-expanded="false">Parents</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="utilityWorkers-tab2" data-toggle="tab" aria-expanded="false">External or Companies</a>
                      </li>
                    </ul>
                  </div>
                  <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1">
                      <table id="datatable-buttons" class="table table-hover display">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Photo</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>SMECS<br>Installed</th>
                            <% if (userAuthID == 1) {%>
                            <th>SMECS<br>Settings</th>
                            <% } %>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Privilege</th>
                            <th align="center">Update</th>
                            <th align="center">Move to Trash</th>
                        </tr>
                        </thead>
                          <tbody>
                          <% users.forEach(function(user) { %>
                          <% if (user.softDeleted == null && user.internal == true) { %>
                          <tr>
                              <td></td>
                              <% if (user.photo == "" || user.photo == undefined) { %>
                              <td align="center">
                                  <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                  <a href="/users/addPhoto/<%= user.id %>"><button class="btn btn-primary">add</button></a>
                                  <% } else { %>
                                  <a href="/users/addPhoto/<%= user.id %>"><button class="btn btn-primary" disabled>add</button></a>
                                  <% } %>
                              </td>
                              <% } else { %>
                              <td>
                                  <a href="/users/addPhoto/<%= user.id %>"><img src="/photosUsers/<%= user.photo %>"  class="center-cropped"></a>
                              </td>
                              <% } %>
                              <td><%= user.firstName %></td>
                              <td><%= user.lastName %></td>
                              <td>
                                  <% if (user.pushToken) { %>
                                  <img  src="/miscPictures/greenCheckmarkWeb20.png">
                                  <% } else { %>
                                  <img  src="/miscPictures/redCross20.png">
                                  <% } %>
                              </td>
                              <% if (userAuthID == 1) {%>
                              <td>
                                  <a href="/updateAppSettings/<%= user.id %>"><button class="btn btn-warning">change</button></a>
                              </td>
                              <% } %>
                              <td><%= user.email %></td>
                              <td >
                                  <% if (user.userRoleName.length > 0) { %>
                                  <% for (var x = 0; x < user.userRoleName.length; x++) {%>
                                  <%= user.userRoleName[x] %><br>
                                  <% } %>
                                  <% } %>
                              </td>
                              <td><%= user.userPrivilegeName %></td>

                              <td align="center">
                                  <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                  <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning">update</button></a>
                                  <% } else { %>
                                  <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning" disabled>update</button></a>
                                  <% } %>
                              </td>
                              <td align="center">
                                  <% if ((aclDeleteUsers == null || aclDeleteUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                  <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger">trash</button></a>
                                  <% } else { %>
                                  <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger" disabled>trash</button></a>
                                  <% } %>
                              </td>
                          </tr>
                          <% } %>

                          <% }); %>
                          </tbody>
                      </table>
                    </div>





                      <div role="tabpanel" class="tab-pane fade" id="tab_content2">
                          <table id="datatable" class="display table table-hover">
                              <thead>
                              <tr>
                                  <th></th>
                                  <th align="center">Photo</th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th>SMECS<br>Installed</th>
                                  <% if (userAuthID == 1) {%>
                                  <th>SMECS<br>Settings</th>
                                  <% } %>
                                  <th>Email</th>
                                  <th>Parent of</th>
                                  <th align="center">Update</th>
                                  <th align="center">Move to Trash</th>
                              </tr>
                              </thead>
                              <tbody>
                              <% users.forEach(function(user) { %>
                              <% if (user.softDeleted == null && user.parent == true) { %>
                              <tr>
                                  <td></td>
                                  <% if (user.photo == "" || user.photo == undefined) { %>
                                  <td align="center">
                                      <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                      <a href="/users/addPhoto/<%= user.id %>"><button class="btn btn-primary">add</button></a>
                                      <% } else { %>
                                      <a href="/users/addPhoto/<%= user.id %>"><button class="btn btn-primary" disabled>add</button></a>
                                      <% } %>
                                  </td>
                                  <% } else { %>
                                  <td>
                                      <a href="/users/addPhoto/<%= user.id %>"><img src="/photosUsers/<%= user.photo %>" class="xAvatar"></a>
                                  </td>
                                  <% } %>
                                  <td><%= user.firstName %></td>
                                  <td><%= user.lastName %></td>
                                  <td>
                                      <% if (user.pushToken) { %>
                                      <img  src="/miscPictures/greenCheckmarkWeb20.png">
                                      <% } else { %>
                                      <img  src="/miscPictures/redCross20.png">
                                      <% } %>
                                  </td>
                                  <% if (userAuthID == 1) {%>
                                  <td>
                                      <a href="/updateAppSettings/<%= user.id %>"><button class="btn btn-warning">change</button></a>
                                  </td>
                                  <% } %>
                                  <td><%= user.email %></td>
                                  <td >
                                      <% if (user.parent == true) { %>
                                      <% for (var x = 0; x < user.parentOf.length; x++) {%>
                                      <%= user.parentOf[x].studentFirstName%> <%= user.parentOf[x].studentLastName%><br>
                                      <% } %>
                                      <% } %>
                                  </td>
                                  <td align="center">
                                      <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                      <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning">update</button></a>
                                      <% } else { %>
                                      <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning" disabled>update</button></a>
                                      <% } %>
                                  </td>
                                  <td align="center">
                                      <% if ((aclDeleteUsers == null || aclDeleteUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                      <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger">trash</button></a>
                                      <% } else { %>
                                      <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger" disabled>trash</button></a>
                                      <% } %>
                                  </td>
                              </tr>
                              <% } %>
                              <% }); %>
                              </tbody>
                          </table>
                      </div>





                      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="utilityWorkers-tab">
                          <table id="datatable-fixed-header" class="table table-hover">
                              <thead>
                              <tr>
                                  <th></th>
                                  <th>Company Name</th>
                                  <th>Contact Name</th>
                                  <th>SMECS<br>Installed</th>
                                  <% if (userAuthID == 1) {%>
                                  <th>SMECS<br>Settings</th>
                                  <% } %>
                                  <th>Email</th>
                                  <th align="center">Update</th>
                                  <th align="center">Move to Trash</th>
                              </tr>
                              </thead>

                              <tbody>
                              <% users.forEach(function(user) { %>
                              <% if (user.softDeleted == null && user.external == true) { %>
                              <tr>
                                  <td></td>
                                  <td>
                                      <% if (user.companyName) { %>
                                      <%= user.companyName %>
                                      <% } %>
                                  </td>
                                  <td>
                                      <% if (user.contactName) { %>
                                      <%= user.contactName %>
                                      <% } else { %>
                                      <%= user.firstName %> <%= user.lastName %>
                                      <% } %>
                                  </td>
                                  <td>
                                      <% if (user.pushToken) { %>
                                      <img  src="/miscPictures/greenCheckmarkWeb20.png">
                                      <% } else { %>
                                      <img  src="/miscPictures/redCross20.png">
                                      <% } %>
                                  </td>
                                  <% if (userAuthID == 1) {%>
                                  <td>
                                      <a href="/updateAppSettings/<%= user.id %>"><button class="btn btn-warning">change</button></a>
                                  </td>
                                  <% } %>
                                  <td><%= user.email %></td>
                                  <td align="center">
                                      <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                      <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning">update</button></a>
                                      <% } else { %>
                                      <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning" disabled>update</button></a>
                                      <% } %>
                                  </td>
                                  <td align="center">
                                      <% if ((aclDeleteUsers == null || aclDeleteUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                      <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger">trash</button></a>
                                      <% } else { %>
                                      <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger" disabled>trash</button></a>
                                      <% } %>
                                  </td>
                              </tr>
                              <% } %>

                              <% }); %>
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- footer content -->
        <% include ../layout/footer.ejs %>
        <!-- /footer content -->

      </div>
    </div>

    <!-- jQuery -->
    <script src="/public/gentelella/vendors/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.js"></script>
    <!-- FastClick -->
    <script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>

    <!-- Datatables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/public/gentelella/build/js/custom.js"></script>
    <!-- Google Analytics -->

  </body>

</html>