<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        //Detect if user is using the back/foreward button, then reload whole page
        if (!!window.performance && window.performance.navigation.type === 2) {
            // value 2 means "The page was accessed by navigating into the history"
            console.log('Reloading');
            window.location.reload(); // reload whole page
        }
        //end of Detect if user is using the back/foreward button, then reload whole page

        // reload whole page if page is cached
        window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
        // end of Reload whole page if page is cached
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Datatables -->
    <link href="/public/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/public/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/table.css" rel="stylesheet">
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
                $('a[role="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("id") // activated tab
                    //alert(target);

                    $.post("/redirectTabUsers", {
                        tab: target

                    }, function (data) {
                        if (data === 'done') {
                            alert("login success");
                        }
                        window.location = data.redirect
                    });
                });

                $("#btSubmit").click(function () {

                });
            }
        );
    </script>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <!-- menu profile quick info -->
                <% include ../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <% include ../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <ul>
                                <div align="center">
                                    <% if (aclAddUsers == null || aclAddUsers.checkBoxValue == true) {%>
                                    <button class="btn btn-primary" id="exit" onclick="location.href='/users/addUser/step1'">Add User</button>
                                    <% } else { %>
                                    <button class="btn btn-primary" id="exit" onclick="location.href='/users/addUser/step1'" disabled>Add User</button>
                                    <% } %>
                                    <% if (aclShowDeletedUsers == null || aclShowDeletedUsers.checkBoxValue == true) {%>
                                    <button class="btn btn-primary" id="exit" onclick="location.href='/parentsSelfRegistration/defaultForm'">Parent Self Registration</button>
                                    <% } else { %>
                                    <button class="btn btn-primary" id="exit" onclick="location.href='/parentsSelfRegistration/defaultForm'" disabled>Parent Self Registration</button>
                                    <% } %>
                                    <% if (aclShowDeletedUsers == null || aclShowDeletedUsers.checkBoxValue == true) {%>
                                    <button class="btn btn-primary" id="exit" onclick="location.href='/users/deletedUsers'">Trash</button>
                                    <% } else { %>
                                    <button class="btn btn-primary" id="exit" onclick="location.href='/users/deletedUsers'" disabled>Trash</button>
                                    <% } %>
                                </div>
                            </ul>
                            <br>
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                                    <% if (redirectTab == 'showUsers') {%>
                                    <% var activeUsers = 'active' %>
                                    <% }else {%>
                                    <% var activeUsers = '' %>
                                    <% } %>
                                    <% if (redirectTab == 'showParents') {%>
                                    <% var activeParents = 'active' %>
                                    <% }else {%>
                                    <% var activeParents = '' %>
                                    <% } %>
                                    <% if (redirectTab == 'showExternal') {%>
                                    <% var activeExternal = 'active' %>
                                    <% }else {%>
                                    <% var activeExternal = '' %>
                                    <% } %>

                                    <li role="presentation" class="<%= activeUsers %>"><a href="#tab_content1" id="showUsers" role="tab" data-toggle="tab" aria-expanded="true">School Staff</a>
                                    </li>
                                    <li role="presentation" class="<%= activeParents %>"><a href="#tab_content2" role="tab" id="showParents" data-toggle="tab" aria-expanded="false">Parents</a>
                                    </li>
                                    <li role="presentation" class="<%= activeExternal %>"><a href="#tab_content3" role="tab" id="showExternal" data-toggle="tab" aria-expanded="false">External or Companies</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="myTabContent" class="tab-content">

                                <% if (redirectTab == 'showUsers') {%>
                                <% var showUsers = 'tab-pane fade active in' %>
                                <% } else {%>
                                <% var showUsers = 'tab-pane fade' %>
                                <% } %>

                                <div role="tabpanel" class="<%= showUsers %>" id="tab_content1">
                                    <table id="datatable-buttons" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Photo</th>
                                            <th>Name</th>
                                            <% if (userAuthID == 1) {%>
                                            <th>SMECS<br>Settings</th>
                                            <% } %>
                                            <th>Email</th>
                                            <th>SMECS<br>Installed</th>
                                            <th>Role</th>
                                            <th>Privilege</th>
                                            <th align="center">Update</th>
                                            <th align="center">Move to Trash</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% users.forEach(function(user) { %>
                                        <% if (user.softDeleted == null && user.internal == true) { %>
                                        <% if (user.userPrivilegeID !== 1 || userAuthID == 1) { %> <!-- hide super users -->

                                        <tr>
                                            <td></td>
                                            <% if (user.photo == "" || user.photo == undefined) { %>
                                            <td >
                                                <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                                <a href="/photos/choosePhoto/<%= user.id %>"><button class="btn btn-info">add</button></a>
                                                <% } else { %>
                                                <a href="/photos/choosePhoto/<%= user.id %>"><button class="btn btn-info" disabled>add</button></a>
                                                <% } %>
                                            </td>
                                            <% } else { %>
                                            <td>
                                                <a href="/photos/choosePhoto/<%= user.id %>"><img src="/photosUsers/<%= user.photo %>"  class="avatarUsers"></a>
                                            </td>
                                            <% } %>
                                            <td><%= user.firstName %> <%= user.lastName %></td>
                                            <% if (userAuthID == 1) {%>
                                            <td>
                                                <a href="/updateAppSettings/<%= user.id %>"><button class="btn btn-warning">change</button></a>
                                            </td>
                                            <% } %>
                                            <td><%= user.email %></td>
                                            <td>
                                                <% if (user.pushToken) { %>
                                                <img  src="/miscPictures/greenCheckmarkSuccessButtonColor.png" class="avatarIcons">
                                                <% } else { %>
                                                <img  src="/miscPictures/redCross20.png">
                                                <% } %>
                                            </td>
                                            <td >
                                                <% if (user.userRoleName.length > 0) { %>
                                                <% for (var x = 0; x < user.userRoleName.length; x++) {%>
                                                    <% if(useRolesIcons == true) { %>
                                                    <% for (var i = 0; i < roles.length; i++) {%>
                                                        <% if (roles[i].roleName == user.userRoleName[x]) {%>
                                                            <img src="/icons/<%= roles[i].icon %>.png" class="avatarIcons" alt="Avatar"><%= user.userRoleName[x] %><br>
                                                            <% break%>
                                                        <% } %>
                                                    <% } %>
                                                    <% }else {%>
                                                    <%= user.userRoleName[x] %><br>
                                                    <% } %>
                                                <% } %>
                                                <% } %>
                                            </td>
                                            <td>
                                                 <% /* if(useRolesIcons == true) { */ %>
                                                <% if(usePrivilegeIcons == true) { %>
                                                <% for (var i = 0; i < privileges.length; i++) {%>
                                                <% if (privileges[i].privilegeName == user.userPrivilegeName) {%>
                                                <img src="/icons/<%= privileges[i].icon %>.png" class="avatarIcons" alt="Avatar"><%= user.userPrivilegeName %><br>
                                                <% break%>
                                                <% } %>
                                                <% } %>
                                                <% }else {%>
                                                <%= user.userPrivilegeName %>
                                                <% } %>
                                            </td>
                                            <td align="center">
                                                <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                                <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning">update</button></a>
                                                <% } else { %>
                                                <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning" disabled>update</button></a>
                                                <% } %>
                                            </td>
                                            <td align="center">
                                                <% if ((aclDeleteUsers == null || aclDeleteUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                                <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger">trash</button></a>
                                                <% } else { %>
                                                <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger" disabled>trash</button></a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                        <% } %>
                                        <% }); %>
                                        </tbody>
                                    </table>
                                </div>




                                <% if (redirectTab == 'showParents') {%>
                                <% var showParents = 'tab-pane fade active in' %>
                                <% } else {%>
                                <% var showParents = 'tab-pane fade' %>
                                <% } %>

                                <div role="tabpanel" class="<%= showParents %>" id="tab_content2">
                                    <table id="datatable" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th align="center">Photo</th>
                                            <th>Name</th>
                                            <th>SMECS<br>Installed</th>
                                            <% if (userAuthID == 1) {%>
                                            <th>SMECS<br>Settings</th>
                                            <% } %>
                                            <th>Email</th>
                                            <th>Parent of</th>
                                            <th align="center">Update</th>
                                            <th align="center">Move to Trash</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% users.forEach(function(user) { %>
                                        <% if (user.softDeleted == null && user.parent == true) { %>
                                        <tr>
                                            <td></td>
                                            <% if (user.photo == "" || user.photo == undefined) { %>
                                            <td align="center">
                                                <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                                <a href="/photos/choosePhoto/<%= user.id %>"><button class="btn btn-info">add</button></a>
                                                <% } else { %>
                                                <a href="/photos/choosePhoto/<%= user.id %>"><button class="btn btn-info" disabled>add</button></a>
                                                <% } %>
                                            </td>
                                            <% } else { %>
                                            <td>
                                                <a href="/photos/choosePhoto/<%= user.id %>"><img src="/photosUsers/<%= user.photo %>" class="avatarUsers"></a>
                                            </td>
                                            <% } %>
                                            <td><%= user.firstName %> <%= user.lastName %></td>
                                            <td>
                                                <% if (user.pushToken) { %>
                                                <img  src="/miscPictures/greenCheckmarkWeb20.png">
                                                <% } else { %>
                                                <img  src="/miscPictures/redCross20.png">
                                                <% } %>
                                            </td>
                                            <% if (userAuthID == 1) {%>
                                            <td>
                                                <a href="/updateAppSettings/<%= user.id %>"><button class="btn btn-warning">change</button></a>
                                            </td>
                                            <% } %>
                                            <td><%= user.email %></td>
                                            <td >
                                                <% if (user.parent == true) { %>
                                                <% for (var x = 0; x < user.parentOf.length; x++) {%>
                                                <p class="image">
                                                    <% if (user.parentOf[x].studentPhoto == '') { %>
                                                    <img src="/photosNotAvailable/user.png" class="avatarParentsUsers" alt="Avatar"> <%= user.parentOf[x].studentFirstName%> <%= user.parentOf[x].studentLastName%><br>

                                                    <% } else { %>
                                                    <img src="/photosStudents/<%= user.parentOf[x].studentPhoto%>" class="avatarParentsUsers" alt="Avatar"> <%= user.parentOf[x].studentFirstName%> <%= user.parentOf[x].studentLastName%><br>
                                                    <% } %>
                                                </p>
                                                <% } %>
                                                <% } %>
                                            </td>
                                            <td align="center">
                                                <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                                <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning">update</button></a>
                                                <% } else { %>
                                                <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning" disabled>update</button></a>
                                                <% } %>
                                            </td>
                                            <td align="center">
                                                <% if ((aclDeleteUsers == null || aclDeleteUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                                <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger">trash</button></a>
                                                <% } else { %>
                                                <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger" disabled>trash</button></a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                        <% }); %>
                                        </tbody>
                                    </table>
                                </div>




                                <% if (redirectTab == 'showExternal') {%>
                                <% var showExternal = 'tab-pane fade active in' %>
                                <% } else {%>
                                <% var showExternal = 'tab-pane fade' %>
                                <% } %>

                                <div role="tabpanel" class="<%= showExternal %>" id="tab_content3" aria-labelledby="utilityWorkers-tab">
                                    <table id="datatable-fixed-header" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Company Name</th>
                                            <th>Contact Name</th>
                                            <th>SMECS<br>Installed</th>
                                            <% if (userAuthID == 1) {%>
                                            <th>SMECS<br>Settings</th>
                                            <% } %>
                                            <th>Email</th>
                                            <th align="center">Update</th>
                                            <th align="center">Move to Trash</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <% users.forEach(function(user) { %>
                                        <% if (user.softDeleted == null && user.external == true) { %>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <% if (user.companyName) { %>
                                                <%= user.companyName %>
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if (user.contactName) { %>
                                                <%= user.contactName %>
                                                <% } else { %>
                                                <%= user.firstName %> <%= user.lastName %>
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if (user.pushToken) { %>
                                                <img  src="/miscPictures/greenCheckmarkWeb20.png">
                                                <% } else { %>
                                                <img  src="/miscPictures/redCross20.png">
                                                <% } %>
                                            </td>
                                            <% if (userAuthID == 1) {%>
                                            <td>
                                                <a href="/updateAppSettings/<%= user.id %>"><button class="btn btn-warning">change</button></a>
                                            </td>
                                            <% } %>
                                            <td><%= user.email %></td>
                                            <td align="center">
                                                <% if ((aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                                <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning">update</button></a>
                                                <% } else { %>
                                                <a href="/users/updateUser/<%= user.id %>"><button class="btn btn-warning" disabled>update</button></a>
                                                <% } %>
                                            </td>
                                            <td align="center">
                                                <% if ((aclDeleteUsers == null || aclDeleteUsers.checkBoxValue == true) && (user.userPrivilegeID != 1 || userAuthID == 1)) {%>
                                                <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger">trash</button></a>
                                                <% } else { %>
                                                <a href="/users/delete/<%= user.id %>"><button class="btn btn-danger" disabled>trash</button></a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% } %>

                                        <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <% include ../layout/footer.ejs %>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>

<!-- Datatables -->
<script src="/public/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/public/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>

<script src="/public/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/public/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/public/gentelella/vendors/jszip/dist/jszip.min.js"></script>
<script src="/public/gentelella/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/public/gentelella/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.js"></script>
<!-- Google Analytics -->

</body>

</html>
