<html>
<head>
    <title>update student</title>
    <link rel='stylesheet' href='/stylesheets/updateUser.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>

        $(document).ready(function(){
            var appSettingsToUpdate,groupAlertsButtons,enableFingerprint;
            $("#<%= user.id %>").click(function(){
                appSettingsToUpdate=$(this).attr('id');
                groupAlertsButtons = document.getElementById("groupAlertsButtons").checked;
                enableFingerprint = document.getElementById("enableFingerprint").checked;


                //-----forms validation------------------------------------

                //--------------------------------forms validation end-------

                $.post("/updateAppSettings",{
                    appSettingsToUpdate: appSettingsToUpdate,
                    groupAlertsButtons: groupAlertsButtons,
                    enableFingerprint: enableFingerprint

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Changing app settings failed.")
                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>
<form action="/reports/homeReports">
    <input type="submit" value="Home"><br>
</form>
<form>


    <label for="busRide"><b>Show "Groups Buttons":</b></label>
    <% if (user.appSettings.groupAlertsButtons == true) {%>
    <input class="checkbox" type="checkbox" name="checkbox" id="groupAlertsButtons" value="<%= user.appSettings.groupAlertsButtons %>" checked><br>
    <% }else{%>
    <input class="checkbox" type="checkbox" name="checkbox" id="groupAlertsButtons" value="<%= user.appSettings.groupAlertsButtons %>"><br>
    <% } %>

    <label for="busRide"><b>Enable fingerprint authentication:</b></label>
    <% if (user.appSettings.enableFingerprint == true) {%>
        <input class="checkbox" type="checkbox" name="checkbox" id="enableFingerprint" value="<%= user.appSettings.enableFingerprint %>" checked><br><br>
    <% }else{%>
        <input class="checkbox" type="checkbox" name="checkbox" id="enableFingerprint" value="<%= user.appSettings.enableFingerprint %>"><br><br>
    <% } %>


    <br><br>
    <% if (userAuthID == 1) {%>
    <input type="button" id="<%= user.id %>" value="Submit" ><br>
    <% } else { %>
    <input type="button" id="<%= user.id %>" value="Submit" disabled><br>
    <% } %>

</form>
<form action="/users/showUsers">
    <input type="submit" value="Back">
</form>

</body>
</html>