<html>
<head>
    <title>Alert</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/receiveAlert.css' />

    <!-- Alert that requires FLOOR -->
    <% if (info.alertNameID == 2 ||
            info.alertNameID == 4  ||
            info.alertNameID == 5  ||
            info.alertNameID == 6 ||
            info.alertNameID == 7 ||
            info.alertNameID == 9 ||
            info.alertNameID == 10 ||
            info.alertNameID == 11 ||
            info.alertNameID == 14 ||
            info.alertNameID == 15 ||
            info.alertNameID == 18 ||
            info.alertNameID == 19 ||
            info.alertNameID == 23 ||
            info.alertNameID == 26 ) {%>

        <script>
            var x, y;
            function showP(){
                x=$("#x").val();
                y=$("#y").val();

                if(x == "" ){    //if user didn't chose to touch/click floor map
                    document.getElementById("div2").className="div4";
                }
                else{ // put sniper cross .png visible
                    document.getElementById("div2").className="div3";
                    document.getElementById("div2").style.top = y;
                    document.getElementById("div2").style.left= x;
                }
            }
            window.onload = showP;
        </script>
    <% } %>
    <!-- end of Alert that requires FLOOR -->

    <script>
            $(document).ready(function(){

                // Alert UTILITY FAILURE OR REQUEST ASSISTANCE
                var alert_ID, alertNameID, alertName, requestAssistance, utilityName, smecsApp, email, call;
                $("button").click(function() {
                    requestAssistance = $(this).attr('id');

                    if (requestAssistance != 'proc' && requestAssistance != 'exit') {

                        alert_ID = $("#alert_ID").val();
                        alertNameID = $("#alertNameID").val();
                        alertName = $("#alertName").val();
                        utilityName = $(this).attr('name');
                        smecsApp = $('#' + requestAssistance + '_smecsApp').is(':checked');
                        email = $('#' + requestAssistance + '_email').is(':checked');
                        call = $('#' + requestAssistance + '_call').is(':checked');


                        //-----forms validation------------------------------------
                        if ((alertNameID == 14 || alertNameID == 26) && smecsApp == false && email == false && call == false) {
                            alert("To Request Assistance, you need to choose at least one type of contact.");
                            return false;
                        }


                        //--------------------------------forms validation end-------
                        $.post('/alerts/sending/reviewAlert', {
                            alertToUpdate: alert_ID,
                            alertNameID: alertNameID,
                            alertName: alertName,
                            utilityID: requestAssistance,
                            utilityName: utilityName,
                            raSmecsApp: smecsApp,
                            raEmail: email,
                            raCall: call

                        }, function (data) {
                            if (data === 'done') {
                                alert("login success");
                            }
                            window.location = data.redirect
                        }).error(function (error) {
                            if (error.responseText == 'showAlert')
                                alert("App stop responding, call SMECS APP team for help .")
                        });
                    }

                });
                // END OF Alert UTILITY FAILURE OR REQUEST ASSISTANCE

            });

        </script>



</head>
<body>
<% if (info.alertGroupID == 6 ) {%>
    <% if (info.alertNameID == 26 ) {%>
        <h1><%= info.alertName %></h1>
    <% } else {  %>
        <h1><%= title %></h1>
    <% } %>
<% } else {  %>
    <h1><%= info.alertGroupName %> <%= title %></h1>
<% } %>

<input type="hidden" id="alert_ID"  value="<%= info.id %>">
<input type="hidden" id="alertNameID"  value="<%= info.alertNameID %>">
<input type="hidden" id="alertName"  value="<%= info.alertName %>">


<% if (info.testModeON == true ) {%>
<h2 style="color: #34A7C1"> TEST MODE ON </h2>
<% } %>

<% if (info.alertNameID !== 26 ) {%>
<h2><%= info.alertName %></h2>
<% } %>

<!-- Alert that requires FLOOR -->
<% if (info.alertNameID == 2 ||
        info.alertNameID == 4  ||
        info.alertNameID == 5  ||
        info.alertNameID == 6 ||
        info.alertNameID == 7 ||
        info.alertNameID == 9 ||
        info.alertNameID == 10 ||
        info.alertNameID == 11 ||
        info.alertNameID == 14 ||
        info.alertNameID == 15 ||
        info.alertNameID == 18 ||
        info.alertNameID == 19 ||
        info.alertNameID == 23 ||
        info.alertNameID == 26 ) {%>

    <input type="hidden" id="x" size="40" value="<%= info.sniperCoordinateX %>">
    <input type="hidden" id="y" size="40" value="<%= info.sniperCoordinateY %>">

    <form>
        <% if (info.floorPhoto !== 'FloorPhotoNotExist' &&
                info.floorPhoto !== '' &&
                info.floorPhoto !== 'Multiple floors' &&
                info.floorPhoto !== 'Multiple Locations' &&
                info.floorPhoto !== 'user skipped floor' &&
                info.floorPhoto !== 'Outside Building') {%>
            <div id="div1" class="div1">
            <img src="/floorPlans/<%= info.floorPhoto %>">
            </div>
        <% } %>
        <div id="div2" class="div2" >
            <img src="/floorPlans/red_sniper.png" >
        </div>

</form>
<% } %>

<% if (info.request911Call == true ) {%>
    <% for (var i=0; i < info.whoCanCall911.length; i++) { %>
        <% if (info.whoCanCall911[i] == userAuthRoleName ) {%>
            <label style="color: red">This Alert request a 911 call</label>
            <button class="callButton">Call 911</button><br>
        <% } %>
    <% } %>
<% } %>

<% if (info.alertNameID !== 26 ) {%>
    <label for="senTo"><b>Alert sent to: </b></label>
    <input type="text" id="senTo" size="1" value="30" readonly ><br>

    <label for="read"><b>People view/read alert: </b></label>
    <input type="text" id="read" size="1" value="20" readonly ><br>
<% } %>

<% if (info.request911Call == true ) {%>
    <% for (var i=0; i < info.whoCanCall911.length; i++) { %>
        <% if (info.whoCanCall911[i] == userAuthRoleName ) {%>
            <label for="read"><b>People that called 911: </b></label>
            <input type="text" id="read" size="1" value="5" readonly ><br>
        <% } %>
    <% } %>
<% } %>
<br>

<!-- Alert that requires STUDENT -->
<% if (info.alertNameID == 4 ||
        info.alertNameID == 5 ||
        info.alertNameID == 16 ||
        info.alertNameID == 17 ||
        info.alertNameID == 19  ) {%>

    <label for="studentName"><b>Student name:</b></label>
    <input type="text" id="student" value="<%= info.studentName %>" readonly><br><br>

    <% if (info.studentPhoto === info._id + '_photoNotAvailable.bmp' ) {%>
        <img id="studentImage" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;" src="/photosNotAvailable/photoNotAvailable.bmp"><br><br>
    <% } %>
    <% if (info.studentPhoto !== info._id + '_photoNotAvailable.bmp' ) {%>
        <img id="studentImage" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;" src="/alertSentInfo/studentsPhotos/<%= info.studentPhoto %>"><br><br>
    <% } %>
<% } %>

<!-- Alert that requires FLOOR -->
<% if (info.alertNameID == 2 ||
        info.alertNameID == 4  ||
        info.alertNameID == 5  ||
        info.alertNameID == 6 ||
        info.alertNameID == 7 ||
        info.alertNameID == 9 ||
        info.alertNameID == 10 ||
        info.alertNameID == 11 ||
        info.alertNameID == 14 ||
        info.alertNameID == 15 ||
        info.alertNameID == 18 ||
        info.alertNameID == 19 ||
        info.alertNameID == 23 ||
        info.alertNameID == 26 ) {%>

    <% if (info.floorName) {%>
        <label for="floor"><b>Floor:</b></label>
        <input type="text" id="floorLevel"  size="25" value="<%= info.floorName %>" readonly ><br><br>
    <% } %>
<% } %>

<!-- Alert MISSING CHILD -->
<% if (info.alertNameID == 4 ) {%>
    <label for="lastTimeSeen"><b>Last time seen:</b></label>
    <input type="text" id="lastTime" size="5" value="<%= info.missingChildLastTimeSeen %>" readonly><br><br>

    <label for="place"><b>Last place seen:</b></label><br>
    <input type="text" id="lastPlaceSeen" size="31" placeholder="n/a" value="<%= info.missingChildLastPlaceSeen %>" readonly><br><br>

    <label for="clothes"><b>Clothes wearing:</b></label><br>
    <textarea id="clothesWearing" rows="2"  cols="33" placeholder="n/a" readonly><%= info.missingChildClothesWearing %></textarea><br><br>
<% } %>

<!-- Alert STUDENT WITH A GUN -->
<% if (info.alertNameID == 5) {%>
    <label for="seat"><b>He/she is seated:</b></label><br>
    <textarea id="seat" rows="2"  cols="33" placeholder="n/a" readonly><%= info.studentWithGunSeated %></textarea><br><br>

    <label for="behaviour"><b>Current behaviour:</b></label><br>
    <textarea id="studentBehaviour" rows="2"  cols="33" placeholder="n/a" readonly><%= info.studentWithGunBehaviour %></textarea><br><br>
<% } %>

<!-- Alert EVACUATE -->
<% if (info.alertNameID == 7) {%>
    <label for="whereToEvacuate"><b>Where to Evacuate::</b></label><br>
    <textarea id="whereToEvacuate" rows="2"  cols="33" placeholder="n/a" readonly><%= info.evacuateWhereTo %></textarea><br><br>
<% } %>

<!-- Alert HAZARDOUS MATERIALS SPILL -->
<% if (info.alertNameID == 6) {%>
    <label for="note"><b>Description of type of material, odor, etc.:</b></label><br>
    <textarea id="note" placeholder="n/a" readonly ><%= info.note %></textarea><br><br>
<% } else {%>

    <label for="note"><b>Note:</b></label><br>
    <textarea id="note" placeholder="n/a" readonly ><%= info.note %></textarea><br><br>
<% } %>

<!-- Alert BUS TRANSPORTATION -->
<% if (info.alertNameID == 12 ) {%>
<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d378757.6250705166!2d-71.4861799315366!3d42.12794243510983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x89e37f3cc09fed65%3A0x97b42ec0b39147df!2sSt+Theresa+of+Avila+School%2C+Boston%2C+MA!3m2!1d42.2780798!2d-71.157955!4m3!3m2!1d41.9224861!2d-71.293221!5e0!3m2!1sen!2sus!4v1481423770414" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<br><br>
<% } %>











<button class="receiveButton" id="proc" onclick="location.href='/alerts/receiving/procedureR/<%= info.id %>'">Procedure</button>
<button class="receiveButton" id="exit" onclick="location.href='/dashboard'">Exit</button><br><br>

</body>
</html>