<html>
<head>
    <title>Alert</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='/stylesheets/receiveAlert.css' />

    <!-- Alert that requires FLOOR -->
    <% if (info.alertNameID == 2 ||
            info.alertNameID == 4  ||
            info.alertNameID == 5  ||
            info.alertNameID == 6 ||
            info.alertNameID == 7 ||
            info.alertNameID == 9 ||
            info.alertNameID == 10 ||
            info.alertNameID == 11 ||
            info.alertNameID == 14 ||
            info.alertNameID == 15 ||
            info.alertNameID == 18 ||
            info.alertNameID == 19 ||
            info.alertNameID == 23 ||
            info.alertNameID == 26 ) {%>

    <script>
        var x, y;
        function showP(){
            x=$("#x").val();
            y=$("#y").val();

            if(x == "" ){    //if user didn't chose to touch/click floor map
                document.getElementById("div2").className="div4";
            }
            else{ // put sniper cross .png visible
                document.getElementById("div2").className="div3";
                document.getElementById("div2").style.top = y;
                document.getElementById("div2").style.left= x;
            }
        }
        window.onload = showP;
    </script>
    <% } %>
    <!-- end of Alert that requires FLOOR -->

    <script>

        // All Alerts (less alert UTILITY FAILURE)
        $(document).ready(function(){
            var alert_ID, alertNameID, alertName;
            $("#reqProcedureWeSafe").click(function() {
                alert_ID = $("#alert_ID").val();
                alertNameID = $("#alertNameID").val();
                alertName = $("#alertName").val();

                //---------request procedureCompleted or weAreSafe!
                if(document.getElementById("checkboxProc") === null){
                    var reqProcedureCompleted = false;
                }else{
                    var reqProcedureCompleted = document.getElementById("checkboxProc").checked;
                }
                if(document.getElementById("checkboxSafe") === null) {
                    var reqWeAreSafe = false;
                }else{
                    var reqWeAreSafe = document.getElementById("checkboxSafe").checked;
                }
                //---------end of request procedureCompleted or weAreSafe!

                //--------------------------------forms validation end-------

                $.post('/alerts/received/receivedAlert', {
                    alertToUpdate: alert_ID,
                    alertNameID: alertNameID,
                    alertName: alertName,
                    exitButton: true,
                    procedureCompleted: reqProcedureCompleted,
                    weAreSafe: reqWeAreSafe

                }, function (data) {
                    if (data === 'done') {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function (error) {
                    if (error.responseText == 'showAlert')
                        alert("App stop responding, call SMECS APP team for help .")
                });
            });
            // END OF All Alerts less UTILITY FAILURE

            // Alert UTILITY FAILURE
            $("#request").click(function() {
                var requestAssistance = $(this).attr('id');

                if (requestAssistance != 'back') {

                    alert_ID = $("#alert_ID").val();
                    alertNameID = $("#alertNameID").val();
                    alertName = $("#alertName").val();

                    var searchIDsNotChecked = $('input[name="checkboxRequest"]:not(:checked)').map(function () {
                        return $(this).val();
                    }).get();
                    var searchIDsChecked = $('input[name="checkboxRequest"]:checked').map(function () {
                        return $(this).val();
                    }).get();

                    //---------request procedureCompleted or weAreSafe!
                    if(document.getElementById("checkboxProc") === null){
                        var reqProcedureCompleted = false;
                    }else{
                        var reqProcedureCompleted = document.getElementById("checkboxProc").checked;
                    }
                    if(document.getElementById("checkboxSafe") === null) {
                        var reqWeAreSafe = false;
                    }else{
                        var reqWeAreSafe = document.getElementById("checkboxSafe").checked;
                    }
                    //---------end of request procedureCompleted or weAreSafe!

                    //-----forms validation------------------------------------
                    if ((alertNameID == 14 || alertNameID == 26) && searchIDsChecked.length < 1) {
                        alert("To Request Assistance, you need to choose at least one type of contact.");
                        return false;
                    }


                    //--------------------------------forms validation end-------

                    $.post('/alerts/received/receivedAlert', {
                        alertToUpdate: alert_ID,
                        alertNameID: alertNameID,
                        alertName: alertName,
                        exitButton: false,
                        reqAssChecked: searchIDsChecked,
                        reqAssNotChecked: searchIDsNotChecked,
                        procedureCompleted: reqProcedureCompleted,
                        weAreSafe: reqWeAreSafe

                    }, function (data) {
                        if (data === 'done') {
                            alert("login success");
                        }
                        window.location = data.redirect
                    }).error(function (error) {
                        if (error.responseText == 'showAlert')
                            alert("App stop responding, call SMECS APP team for help .")
                    });
                }
            });
            // END OF Alert UTILITY FAILURE
        });

    </script>



</head>
<body>

<h1> <%= title %></h1>


<input type="hidden" id="alert_ID"  value="<%= info.id %>">
<input type="hidden" id="alertNameID"  value="<%= info.alertNameID %>">
<input type="hidden" id="alertName"  value="<%= info.alertName %>">


<% if (info.testModeON == true ) {%>
<h2 style="color: #34A7C1"> TEST MODE ON </h2>
<% } %>

<h3>Group: <%= info.alertGroupName %></h3>
<h2>Alert: <%= info.alertName %></h2>


<!-- Alert that requires FLOOR -->
<% if (info.alertNameID == 2 ||
        info.alertNameID == 4  ||
        info.alertNameID == 5  ||
        info.alertNameID == 6 ||
        info.alertNameID == 7 ||
        info.alertNameID == 9 ||
        info.alertNameID == 10 ||
        info.alertNameID == 11 ||
        info.alertNameID == 14 ||
        info.alertNameID == 15 ||
        info.alertNameID == 18 ||
        info.alertNameID == 19 ||
        info.alertNameID == 23 ||
        info.alertNameID == 26 ) {%>

<input type="hidden" id="x" size="40" value="<%= info.sniperCoordinateX %>">
<input type="hidden" id="y" size="40" value="<%= info.sniperCoordinateY %>">

<form>
    <% if (info.floorPhoto !== 'FloorPhotoNotExist' &&
            info.floorPhoto !== '' &&
            info.floorPhoto !== 'Multiple floors' &&
            info.floorPhoto !== 'Multiple Locations' &&
            info.floorPhoto !== 'user skipped floor' &&
            info.floorPhoto !== 'Outside Building') {%>
    <div id="div1" class="div1">
        <img src="/floorPlans/<%= info.floorPhoto %>">
    </div>
    <% } %>
    <div id="div2" class="div2" >
        <img src="/floorPlans/red_sniper.png" >
    </div>

</form>
<% } %>


<% if (info.requestProcedureCompleted == true ) {%>
<label for="alertRequestProcedureCompleted"><b>I completed the procedure:</b></label>
<% for (var i=0; i < info.sentTo.length; i++) { %>
<% if (info.sentTo[i].email == userAuthEmail) { %>
<% if (info.sentTo[i].procedureCompleted.boolean) { %>
<input class="checkbox" type="checkbox" name="checkboxProc" id="checkboxProc" value="<%= info.sentTo[i].procedureCompleted.boolean %>" checked>
<% }else { %>
<input class="checkbox" type="checkbox" name="checkboxProc" id="checkboxProc" value="<%= info.sentTo[i].procedureCompleted.boolean %>">
<% } %>
<% } %>
<% break %>
<% } %>
<br>
<% } %>

<% if (info.requestWeAreSafe == true ) {%>
<label for="alertRequestProcedureCompleted"><b>We are safe:</b></label>
<% for (var i=0; i < info.sentTo.length; i++) { %>
<% if (info.sentTo[i].email == userAuthEmail) { %>
<% if (info.sentTo[i].weAreSafe.boolean) { %>
<input class="checkbox" type="checkbox" name="checkboxSafe" id="checkboxSafe" value="<%= info.sentTo[i].weAreSafe.boolean %>" checked>
<% }else { %>
<input class="checkbox" type="checkbox" name="checkboxSafe" id="checkboxSafe" value="<%= info.sentTo[i].weAreSafe.boolean %>">
<% } %>
<% } %>
<% break %>
<% } %>
<br>
<% } %>
<br>

<% if (info.request911Call == true ) {%>
<% for (var i=0; i < info.whoCanCall911.length; i++) { %>
<% if (info.whoCanCall911[i] == userAuthRoleName ) {%>
<label style="color: red">This Alert request a 911 call</label>
<button class="callButton">Call 911</button><br>
<% } %>
<% } %>
<% } %>


<label for="senTo"><b>Alert sent to: </b></label>
<input type="text" id="senTo" size="1" value="30" readonly ><br>

<label for="read"><b>People view/read alert: </b></label>
<input type="text" id="read" size="1" value="20" readonly ><br>


<% if (info.request911Call == true ) {%>
<% for (var i=0; i < info.whoCanCall911.length; i++) { %>
<% if (info.whoCanCall911[i] == userAuthRoleName ) {%>
<label for="read"><b>People that called 911: </b></label>
<input type="text" id="read" size="1" value="5" readonly ><br>
<% } %>
<% } %>
<% } %>
<br>

<!-- Alert that requires STUDENT -->
<% if (info.alertNameID == 4 ||
        info.alertNameID == 5 ||
        info.alertNameID == 16 ||
        info.alertNameID == 17 ||
        info.alertNameID == 19  ) {%>

<label for="studentName"><b>Student name:</b></label>
<input type="text" id="student" value="<%= info.studentName %>" readonly><br><br>

<% if (info.studentPhoto === info._id + '_photoNotAvailable.bmp' ) {%>
<img id="studentImage" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;" src="/photosNotAvailable/photoNotAvailable.bmp"><br><br>
<% } %>
<% if (info.studentPhoto !== info._id + '_photoNotAvailable.bmp' ) {%>
<img id="studentImage" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;" src="/alertSentInfo/studentsPhotos/<%= info.studentPhoto %>"><br><br>
<% } %>
<% } %>

<!-- Alert that requires FLOOR -->
<% if (info.alertNameID == 2 ||
        info.alertNameID == 4  ||
        info.alertNameID == 5  ||
        info.alertNameID == 6 ||
        info.alertNameID == 7 ||
        info.alertNameID == 9 ||
        info.alertNameID == 10 ||
        info.alertNameID == 11 ||
        info.alertNameID == 14 ||
        info.alertNameID == 15 ||
        info.alertNameID == 18 ||
        info.alertNameID == 19 ||
        info.alertNameID == 23 ||
        info.alertNameID == 26 ) {%>

<% if (info.floorName) {%>
<label for="floor"><b>Floor:</b></label>
<input type="text" id="floorLevel"  size="25" value="<%= info.floorName %>" readonly ><br><br>
<% } %>
<% } %>

<!-- Alert MISSING CHILD -->
<% if (info.alertNameID == 4 ) {%>
<label for="lastTimeSeen"><b>Last time seen:</b></label>
<input type="text" id="lastTime" size="5" value="<%= info.missingChildLastTimeSeen %>" readonly><br><br>

<label for="place"><b>Last place seen:</b></label><br>
<input type="text" id="lastPlaceSeen" size="31" placeholder="n/a" value="<%= info.missingChildLastPlaceSeen %>" readonly><br><br>

<label for="clothes"><b>Clothes wearing:</b></label><br>
<textarea id="clothesWearing" rows="2"  cols="33" placeholder="n/a" readonly><%= info.missingChildClothesWearing %></textarea><br><br>
<% } %>

<!-- Alert STUDENT WITH A GUN -->
<% if (info.alertNameID == 5) {%>
<label for="seat"><b>He/she is seated:</b></label><br>
<textarea id="seat" rows="2"  cols="33" placeholder="n/a" readonly><%= info.studentWithGunSeated %></textarea><br><br>

<label for="behaviour"><b>Current behaviour:</b></label><br>
<textarea id="studentBehaviour" rows="2"  cols="33" placeholder="n/a" readonly><%= info.studentWithGunBehaviour %></textarea><br><br>
<% } %>

<!-- Alert EVACUATE -->
<% if (info.alertNameID == 7) {%>
<label for="whereToEvacuate"><b>Where to Evacuate::</b></label><br>
<textarea id="whereToEvacuate" rows="2"  cols="33" placeholder="n/a" readonly><%= info.evacuateWhereTo %></textarea><br><br>
<% } %>



<% if (info.alertNameID == 27 ) {%>
<label for="busRadio"><b>Time of day:</b> <%= info.busMorningAfternoon %></label><br><br>

<label for="busRadio"><b>Bus is:</b> <%= info.busDelayedAhead %></label><br><br>

<label for="busTime"><b>Time <%= info.busDelayedAhead %>:</b></label>
<input type="text" id="lastPlaceSeen" size="8" placeholder="n/a" value="<%= info.busTimeChanged %>" readonly><br><br>

<label for="email"><b>Send email notification:</b></label>
<% if (info.busTimeChangedEmail == true ) {%>
<input class="checkbox" type="checkbox" name="checkbox" id=<%= info.busTimeChangedEmail %> value="<%= info.busTimeChangedEmail %>" checked onclick="return false;"><br><br>
<% } else {%>
<input class="checkbox" type="checkbox" name="checkbox" id=<%= info.busTimeChangedEmail %> value="<%= info.busTimeChangedEmail %>" onclick="return false;"><br><br>
<% } %>
<% } %>



<!-- Alert HAZARDOUS MATERIALS SPILL -->
<% if (info.alertNameID == 6) {%>
<label for="note"><b>Description of type of material, odor, etc.:</b></label><br>
<textarea id="note" placeholder="n/a" readonly ><%= info.note %></textarea><br><br>
<% } else {%>

<label for="note"><b>Note:</b></label><br>
<textarea id="note" placeholder="n/a" readonly ><%= info.note %></textarea><br><br>
<% } %>

<!-- Alert BUS TRANSPORTATION -->
<% if (info.alertNameID == 12 ) {%>
<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d378757.6250705166!2d-71.4861799315366!3d42.12794243510983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x89e37f3cc09fed65%3A0x97b42ec0b39147df!2sSt+Theresa+of+Avila+School%2C+Boston%2C+MA!3m2!1d42.2780798!2d-71.157955!4m3!3m2!1d41.9224861!2d-71.293221!5e0!3m2!1sen!2sus!4v1481423770414" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<br><br>
<% } %>


<!-- Alert Medical Emergencies -->
<% if (info.alertNameID == 18 ) {%>
<label for="situation"><b>Number of injured parties:</b></label>
<input type="text" id="parties"  size="1" value="<%= info.medicalInjuredParties %>" readonly ><br><br>
<% } %>





<!-- Alert MultiSelection -->
<% if (info.alertNameID == 14 ||
        info.alertNameID == 18 ||
        info.alertNameID == 26 ) {%>
<label for="situation"><b>Situation:</b></label><br>

<!-- checkBox of Multiselection -->


<% var flagDisableRequestButton = 0; %> <!-- trigger to disable Request Assistance buttons -->

<% for (var i=0; i < info.multiSelectionNames.length; i++) {%>
<input type="checkbox" name="checkbox"  value="<%= info.multiSelectionNames[i] %>" checked onclick="return false;">
<label for="utilityName"><%= info.multiSelectionNames[i] %></label><br>




<!-- REQUEST ASSISTANCE -->
<% if (info.alertNameID == 14 ||
        info.alertNameID == 26 ) {%>
<% if (canRequestAssistance == true) {%>

<% var arrayLabels = ["smecs app", "send email", "call"]; %>
<% var arrayIDs = ["_|_smecsApp", "_|_email", "_|_call"]; %>
<% var arrayDefaultContact = ["smecsApp", "email", "call"]; %>

<% for (var x=0; x < arrayLabels.length; x++) { %>

<!-- ON/OFF switch button for "smecs App"-->
<% utilities.forEach(function(utility) { %>

<% var arrayUtilitiesContact = [utility.smecsApp, utility.email, utility.phone]; %>
<% if (info.multiSelectionNames[i] == utility.utilityName &&
        (arrayUtilitiesContact[x] !== false && arrayUtilitiesContact[x] !== "" )) {%>


<% if (arrayLabels[x] !== "call") {%>
&emsp;&emsp;&emsp;
<label for="utilityName"><%= arrayLabels[x] %></label> <!-- contact label for smecs App and email-->
&emsp;
<% } else { %>
&emsp;&emsp;&emsp;
<label for="utilityName"><%= arrayLabels[x] %></label> <!-- contact label call -->
&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% } %>

<% var flagButtonsFromContacts = 0; %>

<% var arrayReqSent = []; %>
<% info.requestAssistance.forEach(function(requested) { %>

<% if (typeof requested.reqSmecsApp !== 'undefined' && requested.reqSmecsApp !== null) {%>
<% if (requested.reqSmecsApp.sentReqSmecsApp == true) {%>
<% arrayReqSent.push(requested.utilityName); %>
<% arrayReqSent.push('smecsApp'); %>
<% arrayReqSent.push(true); %>
<% flagButtonsFromContacts = 1; %>
<% }else{ %>
<% arrayReqSent.push(requested.utilityName); %>
<% arrayReqSent.push('smecsApp'); %>
<% arrayReqSent.push(false); %>
<% }} %>
<% if (typeof requested.reqEmail !== 'undefined' && requested.reqEmail !== null) {%>
<% if (requested.reqEmail.sentReqEmail == true) {%><!-- new -->
<% arrayReqSent.push(requested.utilityName); %>
<% arrayReqSent.push('email'); %>
<% arrayReqSent.push(true); %>
<% flagButtonsFromContacts = 1; %>
<% }else{ %>
<% arrayReqSent.push(requested.utilityName); %>
<% arrayReqSent.push('email'); %>
<% arrayReqSent.push(false); %>
<% }} %>
<% if (typeof requested.reqCall !== 'undefined' && requested.reqCall !== null) {%>
<% if (requested.reqCall.sentReqCall == true) {%><!-- new -->
<% arrayReqSent.push(requested.utilityName); %>
<% arrayReqSent.push('call'); %>
<% arrayReqSent.push(true); %>
<% flagButtonsFromContacts = 1; %>
<% }else{ %>
<% arrayReqSent.push(requested.utilityName); %>
<% arrayReqSent.push('call'); %>
<% arrayReqSent.push(false); %>
<% }} %>
<% }); %>

<% info.requestAssistance.forEach(function(requested) { %>
<% if(requested.utilityID == info.multiSelectionIDs[i]) { %>

<% if (flagButtonsFromContacts == 1) {%><!-- IF arrayReqSent is not empty, means request was already sent, then draw this slides buttons -->

<% for (var c = 0; c < arrayReqSent.length; c++) { %>
<!-- Build slide buttons After user has Requested Assistance -->
    <% if (info.multiSelectionNames[i] == arrayReqSent[c] && arrayDefaultContact[x] == arrayReqSent[c+1] && arrayReqSent[c+2] == true) {%><!-- new -->
<!-- Build slide button SENT -->
        <div class="onoffswitchSent" style="display:inline-block;">
            <input type="checkbox" class="onoffswitch-checkboxSent" name="checkboxRequest"
                id="<%= info.multiSelectionIDs[i] + arrayIDs[x] %>"
                value="<%= info.multiSelectionIDs[i] + '_|_' + info.multiSelectionNames[i] + arrayIDs[x] %>"  checked disabled>
            <label class="onoffswitch-labelSent"
                for="<%= info.multiSelectionIDs[i] + arrayIDs[x] %>">
                <span class="onoffswitch-innerSent"></span><span class="onoffswitch-switchSent"></span>
            </label>
        </div>
    <% } %>
<!-- end of Build slide button SENT -->

     <% if (info.multiSelectionNames[i] == arrayReqSent[c] && arrayDefaultContact[x] == arrayReqSent[c+1] && arrayReqSent[c+2] == false) { %><!-- new -->
<!-- Build slide button OFF -->
        <div class="onoffswitch" style="display:inline-block;">
            <input type="checkbox" class="onoffswitch-checkbox" name="checkboxRequest"
                id="<%= info.multiSelectionIDs[i] + arrayIDs[x] %>"
                value="<%= info.multiSelectionIDs[i] + '_|_' + info.multiSelectionNames[i] + arrayIDs[x] %>">
            <label class="onoffswitch-label"
                   for="<%= info.multiSelectionIDs[i] + arrayIDs[x] %>">
                <span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span>
            </label>
        </div>
        <% flagDisableRequestButton = 1; %>
    <% } %>
<!-- end of Build slide button OFF -->
<% } %>
<!-- end of Build slide buttons After user has Requested Assistance -->
<% } %>
<!-- end of IF arrayReqSent is not empty, means request was already sent, then draw this slides buttons -->

<% if (flagButtonsFromContacts == 0) {%><!-- IF arrayReqSent is empty, do this -->
<!-- Build slide buttons Before user has Requests Assistance (get defaults values for type of contact -->
<div class="onoffswitch" style="display:inline-block;">
    <% if (utility.defaultContact == arrayDefaultContact[x]) {%>
    <!-- Build slide button ON -->
    <input type="checkbox" class="onoffswitch-checkbox" name="checkboxRequest"
           id="<%= info.multiSelectionIDs[i] + arrayIDs[x] %>"
           value="<%= info.multiSelectionIDs[i] + '_|_' + info.multiSelectionNames[i] + arrayIDs[x] %>"  checked>
    <!-- end OF Build slide button ON -->
    <% } else {%>
    <!-- Build slide button OFF -->
    <input type="checkbox" class="onoffswitch-checkbox" name="checkboxRequest"
           id="<%= info.multiSelectionIDs[i] + arrayIDs[x] %>"
           value="<%= info.multiSelectionIDs[i] + '_|_' + info.multiSelectionNames[i] + arrayIDs[x] %>">
    <% } %>
    <!-- end of Build slide button OFF -->
    <label class="onoffswitch-label"
           for="<%= info.multiSelectionIDs[i] + arrayIDs[x] %>">
        <span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span>
    </label>
</div>
<!-- end of Build slide buttons Before user has Requests Assistance (get defaults values for type of contact -->
<!-- end of IF arrayReqSent is empty, do this -->
<% flagDisableRequestButton = 1; %>
<% } %>
<% } %>
<% }); %>
<br>
<% } %>
<% }); %>
<!-- end of IF TRUE, check on utilities db ON OFF values-->
<!-- End of ON/OFF switch button for "smecs App"-->
<% }%>

<!--"no contacts available"-->
<% utilities.forEach(function(utility) { %>
<% if (info.multiSelectionNames[i] == utility.utilityName && flagDisableRequestButton == 1) {%>

<% } else {%>
<% if (info.multiSelectionNames[i] == utility.utilityName) {%>
<% if (utility.email == "" && utility.phone == "" && utility.smecsApp == false ) {%>
&emsp;&emsp;&emsp;<label for="disable" style="color: #575757">(no contacts available)</label>
<% } %>
<% } %>
<% } %>
<% }); %> <!-- end of "no contacts available"-->
<br><br>
<% }  %>
<!-- END OF IF check if user has rights to request Assistance, else... -->
<!-- END OF IF to check if alert is softDeleted (or if school owns license)-->
<% } %>
<!-- End of REQUEST ASSISTANCE -->
<% } %><!-- End of checkBox of Multiselection -->
<br><br>
<% } %>




<% if (info.requestProcedureCompleted || info.requestWeAreSafe) {%>
<button class="receiveButton" id="reqProcedureWeSafe">Exit</button>
<%} else { %>
<button class="receiveButton" id="exit" onclick="location.href='/dashboard'">Exit</button>
<% } %>

<% if (canRequestAssistance == true && flagDisableRequestButton == 1) {%>
<input type="button" id="request" value="Send Request Assistance" ><br><br>
<%} else { %>
<% if (info.alertNameID == 14 || info.alertNameID == 26) {%>
<input type="button" id="request" value="Send Request Assistance" disabled><br><br>
<%}%>
<%}%>
<% if (enableProcedureButton == true) {%>
<button class="receiveButton" id="proc" onclick="location.href='/alerts/receiving/procedureR/<%= info.id %>'">Procedure</button>
<%} else { %>
<button class="receiveButton" id="proc" onclick="location.href='/alerts/receiving/procedureR/<%= info.id %>'" hidden>Procedure</button>
<% } %>
</body>
</html>