<!DOCTYPE html>
<html lang="en">
<head>


    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- NProgress -->
    <link href="/public/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- JQVMap -->
    <link href="/public/gentelella/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>

    <!-- bootstrap-daterangepicker -->
    <link href="/public/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/userStats.css" rel="stylesheet">

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br />
                <!-- sidebar menu -->
                <% include ../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <% include ../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <!-- page content -->


        <!-- if iPad -->
        <% var h2FontSize = 22 %>
        <% var aFontSize = 12 %>
        <% var spanFontSize = 13 %>
        <% var rolesChartSize = 'x_panel fixed_height_414' %>
        <% var infoPosition = 'asteriskColor fa fa-info-circle tooltip3' %>

        <% if(iPad){ %>
        <% h2FontSize = 22 %>
        <% aFontSize = 15 %>
        <% spanFontSize = 15 %>
        <% rolesChartSize = 'x_panel' %>
        <% infoPosition = 'asteriskColor circlePosition fa fa-info-circle tooltip3' %>
        <% } %>
        <!-- /if iPad -->

        <div class="right_col" role="main">
            <div class="">

                <!-- top tiles -->
                <div class="col-md-12 col-sm-12">
                    <div class="tile_count" align="center">
                        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-user-graduate"></i> Total Students</span>
                            <div class="count">620</div>
                            <span class="count_bottom"><i class="green">4% </i> From last year</span>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-users"></i> Total School Users</span>
                            <div class="count">50</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last year</span>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-user-friends"></i> Total Parents</span>
                            <div class="count green">1,200</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last year</span>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-users-cog"></i> Total External Users</span>
                            <div class="count">15</div>
                            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last year</span>
                        </div>
                    </div>
                </div>
                <!-- /top tiles -->


                <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- Fastest user to view alerts. -->
                <div class="top_tiles">

                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <% if(iPad){ %>
                        <br>
                        <% } %>
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-fighter-jet" style="position: relative; right: 5px"></i></div>
                            <div class="count">7 sec</div>
                            <h3>Jean Leahy</h3>
                            <p>Fastest user to view alerts.</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <% if(!iPad){ %>
                        <div style="line-height:140%;"><br></div> <!-- smaller br -->
                        <% } %>
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-car"></i></div>
                            <div class="count">21 sec</div>
                            <h3>.</h3>
                            <p>Average users time to view alerts.</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <% if(!iPad){ %>
                        <div style="line-height:140%;"><br></div> <!-- smaller br -->
                        <% } %>
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-bicycle" style="position: relative; right: 5px"></i></div>
                            <div class="count">5 min</div>
                            <h3>Helen Hicks</h3>
                            <p>Slowest user to view alerts.</p>
                        </div>
                    </div>
                </div>
                <!-- /Fastest user to view alerts. -->
                </div>


                <div class="col-md-4 col-sm-4 col-xs-12">
                    <% if(iPad){ %>
                    <br>
                    <% } %>
                <!-- Top 5 users sending alerts -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel tile overflow_hidden">
                        <div class="x_title">
                            <h2 style="font-size: <%= h2FontSize %>px; width: 237px">Top 5 <a style="font-size: <%= aFontSize %>px"> who sent more alerts</a></h2>

                            <ul class="nav navbar-right panel_toolbox">
                                <li class="dropdown pull-right">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Top 5 who sent more alerts</a>
                                        </li>
                                        <li><a href="#">Top 5 faster users viewing alerts</a>
                                        </li>
                                        <li><a href="#">Top 5 slowest users viewing alerts</a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="clearfix"></div>
                        </div>
                        <ul class="list-unstyled top_profiles scroll-view">
                            <li class="media event">
                                <a class="pull-left">
                                    <img src="/photosNotAvailable/user.png" alt="..." class="border-aero profile_thumb2">
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">Diane O'Donnell</a>
                                    <p><strong>52 </strong> total alerts sent</p>
                                    <p class="cut-text"> <small>Top alert: <strong>Request Repair Assistance</strong></small></p>
                                </div>
                            </li>
                            <li class="media event">
                                <a class="pull-left">
                                    <img src="/photosUsers/5b1594413cc6e0004815bbf8.BMP" alt="..." class="border-green profile_thumb2">
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">Jean Leahy</a>
                                    <p><strong>47 </strong> alerts sent </p>
                                    <p class="cut-text"> <small>Top alert: <strong>Weather-Related Emergencies</strong></small></p>
                                </div>
                            </li>
                            <li class="media event">
                                <a class="pull-left">
                                    <img src="/photosUsers/58587741da3d90fc25acedee.BMP" alt="..." class="border-blue profile_thumb2">
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">Mary Kate</a>
                                    <p><strong>31 </strong> alerts sent </p>
                                    <p class="cut-text"> <small>Top alert: <strong>Utility Failures</strong></small></p>
                                </div>
                            </li>
                            <li class="media event">
                                <a class="pull-left">
                                    <img src="/photosUsers/5b1591b13cc6e0004815bbf4.BMP" alt="..." class="border-aero profile_thumb2">
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">Madeline Connley</a>
                                    <p><strong>20 </strong> alerts sent </p>
                                    <p class="cut-text"> <small>Top alert: <strong>Utility Failures</strong></small></p>
                                </div>
                            </li>
                            <li class="media event">
                                <a class="pull-left">
                                    <img src="/photosNotAvailable/user.png" alt="..." class="border-green profile_thumb2">
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">Donna Yetman</a>
                                    <p><strong>17 </strong> alerts sent </p>
                                    <p class="cut-text"> <small>Top alert: <strong>Violence</strong></small></p>
                                </div>
                            </li>
                        </ul>
                        <% if(iPad){ %>
                        <br><div style="line-height:50%;"><br></div> <!-- smaller br -->
                        <% } %>
                    </div>
                </div>
                <!-- /Top 5 users sending alerts -->


                <!-- Top 5 users viewing alerts -->
                    <!-- slowest Top 5 users viewing alerts -->
                </div>



                <!-- Top Roles -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <% if(iPad){ %>
                    <br>
                    <% } %>
                    <div class="<%= rolesChartSize %>">
                        <div class="x_title">
                            <h2 style="font-size: <%= h2FontSize %>px;">Top 4<a style="font-size: <%= aFontSize %>px">&emsp;sent by role</a></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content2">
                            <div id="graph_donut" style="width:100%; height:300px;"></div>
                        </div>
                    </div>
                </div>
                <!-- /Top Roles -->







                <!-- User Stats -->
                <div class="col-md-12 col-sm-12 col-xs-12">


                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">

                                <div class="x_title">
                                    <h2 style="font-size: <%= h2FontSize %>px;">User Statistics <a style="font-size: <%= aFontSize %>px">&emsp;</a></h2>
                                    <i class="<%= infoPosition %>" onclick="">
                                        <span class="tooltiptext3title">
                                            <div class=""><span class="infoTitleColor"> Registered :</span><span class="infoText"> year that user was registered on SMECS</span></div><br><br>
                                            <div class=""><span class="infoTitleColor"> Alerts Sent :</span><span class="infoText"> total alerts sent since user is registered</span></div><br><br>
                                            <div class=""><span class="infoTitleColor">Proc&Safe :</span><span class="infoText">total of "procedures" and "we are safe" completed. Ex: 5/10. Means user completed 5 "procedures"/"we are safe" in 10 alerts received</span ></div><br><br><br>
                                            <div class=""><span class="infoTitleColor"> Viewing speed :</span><span class="infoText"> <i class="fa fa-fighter-jet">&ensp;</i></span><span class="afterFontAwesomeSpeed">-&ensp;super fast - user takes between 0 and 6 sec to view alerts</span></div><br>
                                            <div class=""><span class="infoText"> <i class="fa fa-car"></i></span><span class="afterFontAwesomeSpeed">-&ensp;fast - user takes between 7 and 30s sec to view alerts</span></div><br>
                                            <div class=""><span class="infoText"> <i class="fa fa-bicycle"></i></span><span class="afterFontAwesomeSpeed">-&ensp;slow - user takes more than 31s sec to view alerts</span></div><br><br>
                                            <div class=""><span class="infoTitleColor"> Overall :</span><span class="infoText"> tells you if user is using SMECS correctly. User gets stars if completes "procedures" and "we are safe" when alerts are received. Also, if user is fast viewing alerts when they are sent.</span></div><br><br><br>
                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i> or less</span><span class="afterFontAwesomeStars">- improvement needed on topics described above</span></div><br>
                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i></span><span class="afterFontAwesomeStars">- good user! but there is space for improvement</span></div><br>
                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i> or more</span><span class="afterFontAwesomeStars">- perfect!</span></div><br><br>
                                            <div class=""><span class="infoTitleColor"> Button Details :</span><span class="infoText"> click to see where you can improve using SMECS</span></div><br>
                                        </span>
                                    </i>

                                    <ul class="nav navbar-right panel_toolbox">
                                        <li class="dropdown pull-right">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">sort by user registration</a>
                                                </li>
                                                <li><a href="#">sort by alerts sent</a>
                                                </li>
                                                <li><a href="#">sort by Proc&Safe</a>
                                                </li>
                                                <li><a href="#">sort by viewing speed</a>
                                                </li>
                                                <li><a href="#">sort by user stars ascending</a>
                                                </li>
                                                <li><a href="#">sort by user stars descending</a>
                                                </li>


                                            </ul>
                                        </li>
                                    </ul>

                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                            <ul class="pagination pagination-split">
                                                <li><a href="#">A</a></li>
                                                <li><a href="#">B</a></li>
                                                <li><a href="#">C</a></li>
                                                <li><a href="#">D</a></li>
                                                <li><a href="#">E</a></li>
                                                <li><a href="#">F</a></li>
                                                <li><a href="#">G</a></li>
                                                <li><a href="#">H</a></li>
                                                <li><a href="#">I</a></li>
                                                <li><a href="#">J</a></li>
                                                <li><a href="#">K</a></li>
                                                <li><a href="#">L</a></li>
                                                <li><a href="#">M</a></li>
                                                <li><a href="#">N</a></li>
                                                <li><a href="#">O</a></li>
                                                <li><a href="#">P</a></li>
                                                <li><a href="#">Q</a></li>
                                                <li><a href="#">R</a></li>
                                                <li><a href="#">D</a></li>
                                                <li><a href="#">T</a></li>
                                                <li><a href="#">U</a></li>
                                                <li><a href="#">V</a></li>
                                                <li><a href="#">W</a></li>
                                                <li><a href="#">X</a></li>
                                                <li><a href="#">Y</a></li>
                                                <li><a href="#">Z</a></li>
                                            </ul>
                                        </div>

                                        <div class="clearfix"></div>



                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <i class="rolePullLeft">Staff</i>
                                                    <i class="asteriskColor infoPullRight fa fa-info-circle tooltip3" onclick="">
                                                        <span class="tooltiptext3left">
                                                            <div class=""><span class="infoTitleColor"> Registered :</span><span class="infoText"> year that user was registered on SMECS</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor"> Alerts Sent :</span><span class="infoText"> total alerts sent since user is registered</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor">Proc&Safe :</span><span class="infoText">total of "procedures" and "we are safe" completed. Ex: 5/10. Means user completed 5 "procedures"/"we are safe" in 10 alerts received</span ></div><br><br><br>
                                                            <div class=""><span class="infoTitleColor"> Viewing speed :</span><span class="infoText"> <i class="fa fa-fighter-jet">&ensp;</i></span><span class="afterFontAwesomeSpeed">-&ensp;super fast - user takes between 0 and 6 sec to view alerts</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-car"></i></span><span class="afterFontAwesomeSpeed">-&ensp;fast - user takes between 7 and 30s sec to view alerts</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-bicycle"></i></span><span class="afterFontAwesomeSpeed">-&ensp;slow - user takes more than 31s sec to view alerts</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor"> Overall :</span><span class="infoText"> tells you if user is using SMECS correctly. User gets stars if completes "procedures" and "we are safe" when alerts are received. Also, if user is fast viewing alerts when they are sent.</span></div><br><br><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i> or less</span><span class="afterFontAwesomeStars">- improvement needed on topics described above</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i></span><span class="afterFontAwesomeStars">- good user! but there is space for improvement</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i> or more</span><span class="afterFontAwesomeStars">- perfect!</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor"> Button Details :</span><span class="infoText"> click to see where you can improve using SMECS</span></div><br>
                                                        </span>
                                                    </i>

                                                    <div class="left col-xs-7">
                                                        <h4 style="font-size: <%= h2FontSize %>px; width: 115%">Doreen Shea</h4>

                                                        <ul class="list-unstyled">
                                                            <li>Registered:<i> 2018</i></li>
                                                            <li>Alerts Sent:<i> 5</i></li>
                                                            <li>Proc&Safe:<i> 19/20</i></li>
                                                            <li>Viewing speed: <i class="fa fa-fighter-jet"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="/photosUsers/5b15959f3cc6e0004815bbfd.BMP" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>overall: </a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 viewProfile">

                                                        <button type="button" class="btn btn-success btn-xs">
                                                            <i class="fa fa-user"> </i> Details
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <i class="rolePullLeft">Teacher</i>
                                                    <i class="asteriskColor infoPullRight fa fa-info-circle tooltip3" onclick="">
                                                        <span class="tooltiptext3middle">
                                                            <div class=""><span class="infoTitleColor"> Registered :</span><span class="infoText"> year that user was registered on SMECS</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor"> Alerts Sent :</span><span class="infoText"> total alerts sent since user is registered</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor">Proc&Safe :</span><span class="infoText">total of "procedures" and "we are safe" completed. Ex: 5/10. Means user completed 5 "procedures"/"we are safe" in 10 alerts received</span ></div><br><br><br>
                                                            <div class=""><span class="infoTitleColor"> Viewing speed :</span><span class="infoText"> <i class="fa fa-fighter-jet">&ensp;</i></span><span class="afterFontAwesomeSpeed">-&ensp;super fast - user takes between 0 and 6 sec to view alerts</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-car"></i></span><span class="afterFontAwesomeSpeed">-&ensp;fast - user takes between 7 and 30s sec to view alerts</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-bicycle"></i></span><span class="afterFontAwesomeSpeed">-&ensp;slow - user takes more than 31s sec to view alerts</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor"> Overall :</span><span class="infoText"> tells you if user is using SMECS correctly. User gets stars if completes "procedures" and "we are safe" when alerts are received. Also, if user is fast viewing alerts when they are sent.</span></div><br><br><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i> or less</span><span class="afterFontAwesomeStars">- improvement needed on topics described above</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i></span><span class="afterFontAwesomeStars">- good user! but there is space for improvement</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i> or more</span><span class="afterFontAwesomeStars">- perfect!</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor"> Button Details :</span><span class="infoText"> click to see where you can improve using SMECS</span></div><br>
                                                        </span>
                                                    </i>

                                                    <div class="left col-xs-7">
                                                        <h4 style="font-size: <%= h2FontSize %>px; width: 115%">Helen Hicks</h4>

                                                        <ul class="list-unstyled">
                                                            <li>Registered:<i> 2018</i></li>
                                                            <li>Alerts Sent:<i> 5</i></li>
                                                            <li>Proc&Safe:<i> 15/20</i></li>
                                                            <li>Viewing speed: <i class="fa fa-car"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="/photosNotAvailable/user.png" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>overall: </a>
                                                            <a href="#"><span class="fa fa-star starBlue"></span></a>
                                                            <a href="#"><span class="fa fa-star starBlue"></span></a>
                                                            <a href="#"><span class="fa fa-star starBlue"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 viewProfile">

                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-user"> </i> Details
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <i class="rolePullLeft">Teacher</i>
                                                    <i class="asteriskColor infoPullRight fa fa-info-circle tooltip3" onclick="">
                                                        <span class="tooltiptext3right">
                                                            <div class=""><span class="infoTitleColor"> Registered :</span><span class="infoText"> year that user was registered on SMECS</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor"> Alerts Sent :</span><span class="infoText"> total alerts sent since user is registered</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor">Proc&Safe :</span><span class="infoText">total of "procedures" and "we are safe" completed. Ex: 5/10. Means user completed 5 "procedures"/"we are safe" in 10 alerts received</span ></div><br><br><br>
                                                            <div class=""><span class="infoTitleColor"> Viewing speed :</span><span class="infoText"> <i class="fa fa-fighter-jet">&ensp;</i></span><span class="afterFontAwesomeSpeed">-&ensp;super fast - user takes between 0 and 6 sec to view alerts</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-car"></i></span><span class="afterFontAwesomeSpeed">-&ensp;fast - user takes between 7 and 30s sec to view alerts</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-bicycle"></i></span><span class="afterFontAwesomeSpeed">-&ensp;slow - user takes more than 31s sec to view alerts</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor"> Overall :</span><span class="infoText"> tells you if user is using SMECS correctly. User gets stars if completes "procedures" and "we are safe" when alerts are received. Also, if user is fast viewing alerts when they are sent.</span></div><br><br><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i> or less</span><span class="afterFontAwesomeStars">- improvement needed on topics described above</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i></span><span class="afterFontAwesomeStars">- good user! but there is space for improvement</span></div><br>
                                                            <div class=""><span class="infoText"> <i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i><i class="fa fa-star starFont"></i> or more</span><span class="afterFontAwesomeStars">- perfect!</span></div><br><br>
                                                            <div class=""><span class="infoTitleColor"> Button Details :</span><span class="infoText"> click to see where you can improve using SMECS</span></div><br>
                                                        </span>
                                                    </i>

                                                    <div class="left col-xs-7">
                                                        <h4 style="font-size: <%= h2FontSize %>px; width: 115%">Janice Clark</h4>

                                                        <ul class="list-unstyled">
                                                            <li>Registered:<i> 2018</i></li>
                                                            <li>Alerts Sent:<i> 5</i></li>
                                                            <li>Proc&Safe:<i> 15/20</i></li>
                                                            <li>Viewing speed: <i class="fa fa-bicycle"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="/photosUsers/5b1591373cc6e0004815bbf2.BMP" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>overall: </a>
                                                            <a href="#"><span class="fa fa-star starRed"></span></a>
                                                            <a href="#"><span class="fa fa-star starRed"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 viewProfile">

                                                        <button type="button" class="btn btn-danger btn-xs">
                                                            <i class="fa fa-user"> </i> Details
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <i class="rolePullLeft">Principal</i>

                                                    <div class="left col-xs-7">
                                                        <h4 style="font-size: <%= h2FontSize %>px; width: 115%">Jean Leahy</h4>

                                                        <ul class="list-unstyled">
                                                            <li>Registered:<i> 2018</i></li>
                                                            <li>Alerts Sent:<i> 30</i></li>
                                                            <li>Proc&Safe:<i> 20/20</i></li>
                                                            <li>Viewing speed: <i class="fa fa-fighter-jet"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="/photosUsers/5b1594413cc6e0004815bbf8.BMP" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>overall: </a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 viewProfile">

                                                        <button type="button" class="btn btn-success btn-xs">
                                                            <i class="fa fa-user"> </i> Details
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <i class="rolePullLeft">Office Staff</i>

                                                    <div class="left col-xs-7">
                                                        <h4 style="font-size: <%= h2FontSize %>px; width: 115%">Laura Cloherty</h4>

                                                        <ul class="list-unstyled">
                                                            <li>Registered:<i> 2018</i></li>
                                                            <li>Alerts Sent:<i> 7</i></li>
                                                            <li>Proc&Safe:<i> 19/20</i></li>
                                                            <li>Viewing speed: <i class="fa fa-fighter-jet"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="/photosNotAvailable/user.png" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>overall: </a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 viewProfile">

                                                        <button type="button" class="btn btn-success btn-xs">
                                                            <i class="fa fa-user"> </i> Details
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <i class="rolePullLeft">Nurse</i>

                                                    <div class="left col-xs-7">
                                                        <h4 style="font-size: <%= h2FontSize %>px; width: 115%">Lisa Igoe</h4>

                                                        <ul class="list-unstyled">
                                                            <li>Registered:<i> 2018</i></li>
                                                            <li>Alerts Sent:<i> 7</i></li>
                                                            <li>Proc&Safe:<i> 19/20</i></li>
                                                            <li>Viewing speed: <i class="fa fa-fighter-jet"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="/photosNotAvailable/user.png" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>overall: </a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 viewProfile">

                                                        <button type="button" class="btn btn-success btn-xs">
                                                            <i class="fa fa-user"> </i> Details
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <i class="rolePullLeft">Staff</i>

                                                    <div class="left col-xs-7">
                                                        <h4 style="font-size: <%= h2FontSize %>px; width: 115%">Paula Buresh</h4>

                                                        <ul class="list-unstyled">
                                                            <li>Registered:<i> 2018</i></li>
                                                            <li>Alerts Sent:<i> 7</i></li>
                                                            <li>Proc&Safe:<i> 19/20</i></li>
                                                            <li>Viewing speed: <i class="fa fa-fighter-jet"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="/photosUsers/5b15905f3cc6e0004815bbf1.BMP" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>overall: </a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 viewProfile">

                                                        <button type="button" class="btn btn-success btn-xs">
                                                            <i class="fa fa-user"> </i> Details
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <i class="rolePullLeft">Teacher</i>

                                                    <div class="left col-xs-7">
                                                        <h4 style="font-size: <%= h2FontSize %>px; width: 115%">Rosetta Mark</h4>

                                                        <ul class="list-unstyled">
                                                            <li>Registered:<i> 2018</i></li>
                                                            <li>Alerts Sent:<i> 7</i></li>
                                                            <li>Proc&Safe:<i> 19/20</i></li>
                                                            <li>Viewing speed: <i class="fa fa-fighter-jet"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="/photosUsers/5b1594b03cc6e0004815bbfa.BMP" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>overall: </a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 viewProfile">

                                                        <button type="button" class="btn btn-success btn-xs">
                                                            <i class="fa fa-user"> </i> Details
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <i class="rolePullLeft">Teacher</i>

                                                    <div class="left col-xs-7">
                                                        <h4 style="font-size: <%= h2FontSize %>px; width: 115%">Susan Hayes</h4>

                                                        <ul class="list-unstyled">
                                                            <li>Registered:<i> 2018</i></li>
                                                            <li>Alerts Sent:<i> 7</i></li>
                                                            <li>Proc&Safe:<i> 19/20</i></li>
                                                            <li>Viewing speed: <i class="fa fa-fighter-jet"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="/photosUsers/5b1592593cc6e0004815bbf6.BMP" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">
                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                        <p class="ratings">
                                                            <a>overall: </a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="fa fa-star starGreen"></span></a>
                                                            <a href="#"><span class="far fa-star"></span></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 viewProfile">

                                                        <button type="button" class="btn btn-success btn-xs">
                                                            <i class="fa fa-user"> </i> Details
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- User Stats -->




                <div class="clearfix"></div>


            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ../layout/footer.ejs %>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>



<!-- morris.js -->
<script src="/public/gentelella/vendors/raphael/raphael.min.js"></script>
<script src="/public/gentelella/vendors/morris.js/morris.min.js"></script>







<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/reportDetails.js"></script>
<!-- Google Analytics -->

</body>

</html>