<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
        //Detect if user is using the back/foreward button, then reload whole page
        if (!!window.performance && window.performance.navigation.type === 2) {
            // value 2 means "The page was accessed by navigating into the history"
            console.log('Reloading');
            window.location.reload(); // reload whole page
        }
        //end of Detect if user is using the back/foreward button, then reload whole page

        // reload whole page if page is cached
        window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
        // end of Reload whole page if page is cached
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/public/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="/public/stylesheets/footerAdjust.css" rel="stylesheet">


    <script>

        function confirmAlert() {
            var r = confirm("Press a button!");
            if (r == true) {
                document.getElementById("del").innerHTML = txt;
            }
        }
        $(document).ready(function(){
            $("#del").click(function(){
                var r = confirm("Press a button!");
                if (r == true) {
                    $.post("/AlertRoadFunctions/delete/<%= alert._id %>/<%= functions._id %>",{
                        alertToUpdate: id,
                        alertGroupName: alertGroupName

                    },function(data){
                        if(data==='done')
                        {
                            alert("login success");
                        }
                        window.location = data.redirect
                    }).error(function(error){
                        if(error.responseText == 'showAlert')
                            alert("Alert Name already already in use. Choose a different Name.")

                    });
                }
            });
        });
    </script>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <!-- menu profile quick info -->
                <% include ../../../layout/menuProfile.ejs %>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <% include ../../../layout/sideMenu.ejs %>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <% include ../../../layout/topNavigation.ejs %>
        <!-- /top navigation -->

        <div class="right_col" role="main">
            <div class="clearfix"></div>

            <div class="page-title">
                <div class="title_left">
                    <h3><%= title %></h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">

                            <div align="center">
                                <button class="btn btn-success" id="exit" onclick="location.href='/utilities/addUtilities'">Add Step</button>
                            </div>



                            <div class="table-responsive">
                                <table id="datatable-buttons" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Step</th>
                                        <th>Redirect API</th>
                                        <th>Redirect EJS</th>
                                        <th>Functions</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                    <tbody>
                                    <% alert.alertRoad.forEach(function(alertRoad) { %>
                                        <tr>
                                            <td><%= alertRoad.step %></td>
                                            <td><%= alertRoad.redirectAPI %></td>
                                            <td><%= alertRoad.redirectEJS %></td>
                                            <td >
                                                <% if (alertRoad.callFunction) { %>
                                                    <% for (var x = 0; x < alertRoad.callFunction.length; x++) {%>
                                                        . <%= alertRoad.callFunction[x] %><br>
                                                    <% } %>
                                                <% } else { %>
                                                    <img  src="/miscPictures/redCross20.png">
                                                <% } %>
                                            </td>
                                            <td>
                                                <a href="/alerts/changeRoad/<%= alertRoad.step %>"><button class="btn btn-warning">update</button></a>
                                            </td>
                                            <td>
                                                <a href="/alerts/deleteRoad/<%= alertRoad.step %>"><button class="btn btn-danger">delete</button></a>
                                            </td>
                                        </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="page-title">
                <div class="title_left">
                    <h3>Functions</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">

                            <div align="center">
                                <button class="btn btn-success" id="exit" onclick="location.href='/AlertRoadFunctions/<%= alert._id %>'">Create Function</button>
                            </div>


                            <div class="table-responsive">
                                <table id="datatable-buttons" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>sort</th>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Alerts with this function</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                    <tbody>
                                    <% AlertRoadFunctions.forEach(function(functions) { %>
                                        <tr>
                                            <td><%= functions.sortID %></td>
                                            <td><%= functions.functionID %></td>
                                            <td><%= functions.functionName %></td>
                                            <td>
                                                <% if (functions.alertsWithThisFunction) { %>
                                                    <% for (var x = 0; x < functions.alertsWithThisFunction.length; x++) {%>
                                                        <% alerts.forEach(function(al) { %>
                                                            <% if (al.alertID == functions.alertsWithThisFunction[x]) { %>
                                                                . <%= al.alertName %><br>
                                                            <% } %>
                                                        <% }); %>

                                                    <% } %>
                                                <% } else { %>
                                                    <img  src="/miscPictures/redCross20.png">
                                                <% } %>
                                            </td>
                                            <td>
                                                <a href="/AlertRoadFunctions/update/<%= alert._id %>/<%= functions._id %>"><button class="btn btn-warning">update</button></a>
                                            </td>
                                            <td>
                                                <a href="/AlertRoadFunctions/delete/<%= alert._id %>/<%= functions._id %>" onclick="confirmAlert()"><button id="del" class="btn btn-danger">delete</button></a>
                                            </td>
                                        </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<!-- jQuery -->
<script src="/public/gentelella/vendors/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
<script src="/public/gentelella/vendors/bootstrap/dist/js/bootstrap.js"></script>
<!-- FastClick -->
<script src="/public/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/public/gentelella/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/public/gentelella/vendors/iCheck/icheck.min.js"></script>

<!-- Datatables -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/gentelella/build/js/custom.js"></script>
<!-- Google Analytics -->

</body>
<!-- footer content -->
<footer class="adjustPos">
    <% include ../../../layout/footer.ejs %>
</footer>
<!-- /footer content -->
</html>




































