<html>
<head>
    <title>self registration</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>

        $(document).ready(function(){
            var selfRegistration_ID,email,pin, textToPrint;
            $("#<%= selfRegistration.id %>").click(function(){
                selfRegistration_ID=$(this).attr('id');
                email=$("#email").val();
                pin=$("#newPin").val();
                textToPrint=$("#textToPrint").val();

                //-----forms validation------------------------------------
                var mailFormat = /^([a-z A-Z 0-9 _\.\-])+\@(([a-z A-Z 0-9\-])+\.)+([a-z A-z 0-9]{2,4})+$/;
                if (!mailFormat.test(email)) {
                    alert("Please input a valid EMAIL address!");
                    return false;
                }
                var pinFormat = /^\d{4}$/;
                if (!pinFormat.test(pin)) {
                    alert("Pin code should be 4 digits ");
                    return false;
                }
                if (!pinFormat.test(pin)) {
                    alert("Confirm Pin code should be 4 digits ");
                    return false;
                }
                //--------------------------------forms validation end-------

                $.post("/parentsSelfRegistration/defaultForm",{
                    selfRegistrationToUpdate: selfRegistration_ID,
                    email: email,
                    pin: pin,
                    text: textToPrint,

                },function(data){
                    if(data==='done')
                    {
                        alert("login success");
                    }
                    window.location = data.redirect
                }).error(function(error){
                    if(error.responseText == 'showAlert')
                        alert("Email already in use. Choose a different email.")
                });
            });
        });
    </script>
</head>
<body>
<h1><%= title %></h1>
<form action="/dashboard">
    <input type="submit" value="Home"><br>
</form>
<form>

    <label for="textToPrint"><b>Text to print:</b>(optional)</label><br>
    <textarea class="print" id="textToPrint" cols="100" rows='4' placeholder="ex: Hello new parent!
    Visit www.smecs.io and use the following email and pin to start your registration:" ><%= selfRegistration.text %></textarea><br><br>

    <label for="email" class="print"><b>Email:</b></label>
    <input type="email" class="print" id="email" size="40" value="<%= selfRegistration.email %>"><br><br>

    <label for="pin" class="print"><b>Pin:</b></label>
    <input type="newPin" class="print" id="newPin" size="5" value="<%= selfRegistration.pin %>"><br><br>





    <button onclick="myFunction()">Print this page</button>

    <script>
        function myFunction() {
            window.print();
        }
    </script>

    <% if (aclModifyUsers == null || aclModifyUsers.checkBoxValue == true) {%>
    <input type="button" id="<%= selfRegistration.id %>" value="Save" ><br>
    <% } else { %>
    <input type="button" id="<%= selfRegistration.id %>" value="Save" disabled><br>
    <% } %>

</form>
<form action="/users/showUsers">
    <input type="submit" value="Back">
</form>

</body>
</html>